@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Reusable button to show the add actions for a given contextualized argument
*
* @param contribution a contextualized argument contribution
* @param linksActions true if actions for links must be displayed
* @param pullRight true if the actions menu must be displayed at the right of the screen
*
* @author Martin Rouffiange
*@

@import helper._
@import be.webdeb.presentation.web.controllers.entry.argument.ArgumentContextHolder
@import be.webdeb.presentation.web.controllers.permission.WebdebUser

@(
        argument : ArgumentContextHolder,
        linksActions : Boolean,
        pullRight : Boolean,
        contextId : Long,
        user : WebdebUser
)

<ul class="dropdown-menu @if(pullRight) {dropdown-menu-right}" data-id="@argument.getId" data-context-id="@if(contextId == null){-1}else{@argument.getContextId}">
    @if(linksActions) {
        <li>
            <button class="btn btn-link primary argument-add-argument-btn" title="">
                <span><span class="fas fa-plus-square fixed-size"></span>&nbsp;@Messages("argument.options.edit.argument.add")</span>
            </button>
        </li>
    }
    <li>
        <button class="btn btn-link primary argument-add-citation-btn" title="">
            <span><span class="fas fa-plus-square fixed-size"></span>&nbsp;@Messages("argument.options.edit.citation.add")</span>
        </button>
    </li>
</ul>