@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Reusable button to show the add actions for a given excerpt
*
* @param contribution an excerpt contribution
* @param pullRight true if the actions menu must be displayed at the right of the screen
*
* @author Martin Rouffiange
*@

@import helper._
@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.controllers.entry.excerpt.ExcerptHolder

@(
        excerpt : ExcerptHolder,
        pullRight : Boolean,
        user : WebdebUser
)

<ul class="dropdown-menu @if(pullRight) {dropdown-menu-right}" data-id="@excerpt.getId" data-context-id="@excerpt.getTextId">
    <li>
        <button class="btn btn-link primary excerpt-add-argument-btn" title="">
            <span><span class="fas fa-plus-square fixed-size"></span>&nbsp;@Messages("excerpt.options.edit.argument.add")</span>
        </button>
    </li>
</ul>