@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Button from navigation bar that handles the language switch
*
* @author Fabian Gilson
*@


@()

<ul class="nav navbar-nav navbar-right" style="align-self: center">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle languagebox" data-toggle="dropdown">
      <i class="fas fa-language fixed-size hidden-md hidden-lg hidden-sm"></i>
      <span class="hidden-md hidden-lg hidden-sm">@Messages("menu.lang")</span>
      <b class="caret hidden-md hidden-lg hidden-sm"></b>
      <img style="margin-right: 10px" height="20px" alt="current" class="hidden-xs" src="@routes.Assets.at("images/picto/flag-"+lang.code+".png")">
    </a>
    <ul class="dropdown-menu">
      @if(lang.code != "en"){
      <li><a href="@be.webdeb.presentation.web.controllers.routes.Application.language("en")">
        <img style="margin-right: 10px" alt="english" src="@routes.Assets.at("images/picto/flag-en.png")">@Messages("menu.lang.en")</a>
      </li>
      }
      @if(lang.code != "fr"){
      <li><a href="@be.webdeb.presentation.web.controllers.routes.Application.language("fr")">
        <img style="margin-right: 10px" alt="français" src="@routes.Assets.at("images/picto/flag-fr.png")">@Messages("menu.lang.fr")</a>
      </li>
      }
      @if(lang.code != "nl"){
      <li><a href="@be.webdeb.presentation.web.controllers.routes.Application.language("nl")">
        <img style="margin-right: 10px" alt="nederlands" src="@routes.Assets.at("images/picto/flag-nl.png")">@Messages("menu.lang.nl")</a>
      </li>
      }
      <!--  to add more languages, just add a new li member with iso code as defined in the application.conf file  -->
    </ul>
  </li>
</ul>
