@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Toolbox dropdown that contains user-related tools (with settings, group, admin tools, etc.)
*
* @param user the user profile data
*
* @author Fabian Gilson
*@


@import be.webdeb.core.api.contributor.EContributorRole
@import be.webdeb.presentation.web.controllers.account.settings.ESettingsPane
@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.views.html.util.{bootstrapInput}
@import helper._


@(
    user : WebdebUser
)


@implicitFieldConstructor = @{ FieldConstructor(bootstrapInput.render) }

@form(be.webdeb.presentation.web.controllers.account.routes.ContributorActions.authenticate) {
  <ul class="nav navbar-nav navbar-right" style="align-self: center">
    @user.getERole match {
      case EContributorRole.TMP_CONTRIBUTOR => {

      }

      case EContributorRole.VIEWER => {
        @* login drop down *@
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
            <span class="fa fa-user-circle"></span>
            <span class="hidden-sm hidden-md">@Messages("menu.signin") <b class="caret"></b></span>
          </a>
          <div class="dropdown-menu signin-drop">
            <fieldset>
              @inputText(
                user.getLoginForm()("emailOrPseudo"),
                'placeholder -> Messages("contributor.place.mail"),
                '_label -> Messages("signin.email"),
                'class -> "form-control"
              )
              @inputPassword(
                user.getLoginForm()("password"),
                'placeholder -> Messages("contributor.place.password"),
                '_label -> Messages("signin.password"),
                'class -> "form-control"
              )
            <div>
              <label class="checkbox-inline">
                <input id="remember" type="checkbox" name="remember">@Messages("signin.remember")
              </label>
            </div>
            </fieldset>
            <div class="form-actions">
              <button type="submit" class="btn btn-primary">
                @Messages("signin.signin") &nbsp; <span class="fa fa-sign-in"></span>
              </button>
              <br />
              <small><a class="btn btn-link btn-sm primary no-padding" href="@be.webdeb.presentation.web.controllers.account.routes.ContributorActions.signup">@Messages("signin.register")</a></small><br />
              <small><button id="forgot-pwd" type="button" class="btn btn-link btn-sm primary no-padding">
                @Messages("signin.forgot")
              </button></small>
            </div>
          </div>
        </li>
      }


      case _ => {
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
            <span class="fa fa-user-circle fixed-size"></span>
            <span class="hidden-sm hidden-md">@user.getContributor.getFirstname</span>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="@be.webdeb.presentation.web.controllers.account.routes.ContributorActions.settings(
                user.getId, ESettingsPane.PROFILE.id)">
                <span class="falogo fixed-size"><i class="fa fa-user"></i></span> @Messages("toolbox.menu.settings")
              </a>
            </li>
            <li>
              <a href="@be.webdeb.presentation.web.controllers.account.routes.ContributorActions.settings(
                user.getId, ESettingsPane.CONTRIBUTIONS.id)">
                <span class="falogo fixed-size"><i class="fas fa-comment-dots"></i></span>  @Messages("toolbox.menu.contributions")
              </a>
            </li>
            <li>
              <a href="@be.webdeb.presentation.web.controllers.account.routes.ContributorActions.settings(
                user.getId, ESettingsPane.GROUP_MGMT.id)">
                <span class="falogo fixed-size"><i class="fas fa-users"></i></span>  @Messages("toolbox.menu.group.admin")
              </a>
            </li>
            <li>
              <a href="@be.webdeb.presentation.web.controllers.routes.Application.help">
                <span class="falogo fixed-size"><i class="fa fa-question-circle"></i></span> @Messages("help.navbar.title")
              </a>
            </li>
            @if(user.getERole.equals(EContributorRole.ADMIN)) {
              <li>
                <hr class="hr-small">
              </li>
              <li>
                <a href="@be.webdeb.presentation.web.controllers.account.routes.ContributorActions.settings(
                  user.getId, ESettingsPane.FEEDER.id)">
                  <span class="falogo fixed-size"><i class="fa fa-download"></i></span>  @Messages("toolbox.menu.feeder")
                </a>
              </li>
              <li>
                <a href="@be.webdeb.presentation.web.controllers.account.admin.project.routes.ProjectActions.manageProjects">
                  <span class="falogo fixed-size"><i class="fa fa-cogs"></i></span>  @Messages("toolbox.menu.project")
                </a>
              </li>
              <li>
                <a href="@be.webdeb.presentation.web.controllers.account.routes.ContributorActions.settings(
                  user.getId, ESettingsPane.ADMIN.id)">
                  <span class="falogo fixed-size"><i class="fa fa-cogs"></i></span> @Messages("toolbox.menu.admin")
                </a>
              </li>
              <li>
                <a href="@be.webdeb.presentation.web.controllers.account.routes.ContributorActions.settings(
                  user.getId, ESettingsPane.PROFESSION.id)">
                  <span class="falogo fixed-size"><i class="fa fa-cogs"></i></span> @Messages("toolbox.menu.profession")
                </a>
              </li>
              <li>
                <a href="@be.webdeb.presentation.web.controllers.account.admin.routes.AdminActions.editFreeCopyrightSources()">
                  <span class="falogo fixed-size"><i class="fa fa-cogs"></i></span> @Messages("toolbox.menu.freeSources")
                </a>
              </li>
              <li>
                <a href="@be.webdeb.presentation.web.controllers.account.admin.routes.AdminActions.editArgumentsDictionary()">
                  <span class="falogo fixed-size"><i class="fa fa-cogs"></i></span> @Messages("toolbox.menu.arguments.dictionary")
                </a>
              </li>
              <li>
                <a href="@be.webdeb.presentation.web.controllers.account.admin.routes.AdminActions.getAdminEmailForm()">
                  <span class="falogo fixed-size"><i class="fa fa-cogs"></i></span> @Messages("toolbox.menu.arguments.mail")
                </a>
              </li>
              <li>
                <hr class="hr-small">
              </li>
            }
            <li>
              <a href="@be.webdeb.presentation.web.controllers.account.routes.ContributorActions.logout">
                <span class="falogo fixed-size"><i class="fa fa-sign-out-alt"></i></span> @Messages("toolbox.menu.logout")
              </a>
            </li>
          </ul>
        </li>
      }
    }
  </ul>
}
