@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* About page to display details about the project.
*
* @param user the user profile data
*
* @author Fabian Gilson
*@


@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.views.html.main
@import be.webdeb.presentation.web.views.html.util.breadcrumb


@(
    user: WebdebUser
)


@main(user) {

  <div class="row">
    <div class="col-xs-12">
      <h3 class="small-caps text-muted">@Messages("about.webdeb.title")</h3>
      <hr>
    </div>

    <div class="col-sm-8 col-sm-offset-2">

      <div class="jumbotron my-jumbo">
        <p>
        @Html(Messages(
          "about.webdeb.jumbo",
          be.webdeb.presentation.web.controllers.browse.routes.BrowseActions.search,
          be.webdeb.presentation.web.controllers.entry.routes.EntryActions.contribute
        ))
        </p>
      </div>

      <h3 class="small-caps text-muted">@Messages("about.webdeb.descr")</h3>
      <p class="large-font">@Html(Messages("about.webdeb.content"))</p>

      <hr>

      <h3 class="small-caps text-muted">@Messages("about.webdeb.contribute.title")</h3>
      <p class="large-font">@Html(Messages("about.webdeb.contribute.content",
        be.webdeb.presentation.web.controllers.entry.routes.EntryActions.contribute,
        be.webdeb.presentation.web.controllers.account.routes.ContributorActions.signup))</p>

      <hr>

      <h3 class="small-caps text-muted">@Messages("about.webdeb.usage.title")</h3>
      <p class="large-font">@Html(Messages("about.webdeb.usage.content"))</p>

      <hr>

      <h3 class="small-caps text-muted">@Messages("about.webdeb.status.title")</h3>
      <p class="large-font">@Html(Messages("about.webdeb.status.content"))</p>

      <hr>

      <h3 class="small-caps text-muted">@Messages("about.webdeb.api.title")</h3>
      <p class="large-font">@Html(Messages("about.webdeb.api.content",
        routes.Assets.at("apidoc-rest/index.html"),
        routes.Assets.at("apidoc-wdtal/index.html")))</p>

    </div>
  </div>
}
