@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Main html canvas with the main navigation bar. Bootstrap 4
*
* @param user the user profile data
* @param scripts possibly empty scripts to be appended to this template's scripts
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.views.html.toolbar.{languagebox2, toolbox2}
@import be.webdeb.presentation.web.views.html.util.{currentScopePill2}


@(
        user : WebdebUser,
        scripts: Html = Html(""),
        meta: Html = Html("")
)(content: Html)

@template2(user, scripts, meta) {

    <header>
        <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand" href="@be.webdeb.presentation.web.controllers.routes.Application.index()">
                <div class="d-none d-lg-block"><img src="@routes.Assets.at("images/webdeb.png")" height="24" alt="WebDeb"></div>
                <div class="d-none d-sm-block d-lg-none"><img src="@routes.Assets.at("images/webdeb-mini.png")" height="24" alt="WebDeb"></div>
                <div class="d-block d-sm-none"><img src="@routes.Assets.at("images/favicon.png")" height="24" alt="WebDeb"></div>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@be.webdeb.presentation.web.controllers.viz.routes.VizActions.index">
                            <i class="fas fa-eye"></i>&nbsp;<span class="d-inline d-md-none d-lg-inline">Explorer</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="@be.webdeb.presentation.web.controllers.entry.routes.EntryActions.contribute">
                            <i class="fas fa-pencil-alt"></i>&nbsp;<span class="d-inline d-md-none d-lg-inline">Contribuer</span>
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        @currentScopePill2(user, false)
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mr-3">
                        <form class="form-inline">
                            <div class="input-group my-searchbar w-100">
                                <div class="flex-grow-1">
                                    <input id="main-query" class="form-control search_input rounded-left" type="text" name="" placeholder="@Messages("bread.search")">
                                </div>
                                <div class="input-group-append">
                                    <span class="input-group-text rounded-right"><i class="fas fa-search"></i></span>
                                </div>
                            </div>
                        </form>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link mr-1" href="@be.webdeb.presentation.web.controllers.routes.Application.help">
                            <i class="larger-font fas fa-question"></i>
                            <span class="d-sm-inline d-md-none">@Messages("bread.help")</span>
                        </a>
                    </li>

                    @languagebox2()

                    @toolbox2(user)
                </ul>
            </div>
        </nav>
    </header>

    <main id="main-content" class="container-fluid main-content vertical_filter_remaining p-0" role="main">

        <div id="general-message-danger" class="alert alert-fixed alert-danger" style="display: none">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>@Messages("danger")</strong> @Messages("general.message.danger")
        </div>
        <div id="general-message-warning" class="alert alert-fixed alert-warning" style="display: none">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>@Messages("warning")</strong> @Messages("general.message.warning")
        </div>
        <div id="general-message-success" class="alert alert-fixed alert-success" style="display: none">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>@Messages("success")</strong> @Messages("general.message.success")
        </div>

        @content
    </main>
}