@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Display a list of messages in bootstrap alert boxes
*
* @param user the user profile data
* @param map a map of messages, of the form (key, message) where key is a valid bootstrap alert key
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.views.html.main
@import be.webdeb.presentation.web.views.html.util.scrollTopWrapper
@import be.webdeb.presentation.web.views.html.util.breadcrumb
@import be.webdeb.core.api.contributor.EContributorRole

@import be.webdeb.presentation.web.views.html.terms.fr.contributorTermsFR
@import be.webdeb.presentation.web.views.html.terms.en.contributorTermsEN
@import be.webdeb.presentation.web.views.html.terms.nl.contributorTermsNL

@import be.webdeb.presentation.web.views.html.terms.fr.contactTermsFR
@import be.webdeb.presentation.web.views.html.terms.en.contactTermsEN
@import be.webdeb.presentation.web.views.html.terms.nl.contactTermsNL

@import be.webdeb.presentation.web.views.html.terms.fr.cookieTermsFR
@import be.webdeb.presentation.web.views.html.terms.en.cookieTermsEN
@import be.webdeb.presentation.web.views.html.terms.nl.cookieTermsNL

@import be.webdeb.presentation.web.views.html.terms.fr.privacyTermsFR
@import be.webdeb.presentation.web.views.html.terms.en.privacyTermsEN
@import be.webdeb.presentation.web.views.html.terms.nl.privacyTermsNL

@import be.webdeb.presentation.web.views.html.terms.fr.userTermsFR
@import be.webdeb.presentation.web.views.html.terms.en.userTermsEN
@import be.webdeb.presentation.web.views.html.terms.nl.userTermsNL

@import be.webdeb.presentation.web.views.html.terms.softwareTerms


@(
    user : WebdebUser,
    map : java.util.Map[String, String]
)


@main(user) {

  <div class="row">

    <div class="col-xs-12">
      <h3 class="small-caps text-muted">@Messages("terms.title")</h3>
      <hr>
    </div>

    <div class="col-xs-12">
      <ul id="tabs" class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#terms" aria-controls="terms" role="tab" data-toggle="tab">@Messages("terms.user.title")</a></li>
        @if(user.getERole.id() >= EContributorRole.CONTRIBUTOR.id()) {
          <li role="presentation"><a href="#cterms" aria-controls="cterms" role="tab" data-toggle="tab">@Messages("terms.contributor.title")</a></li>
        }
        <li role="presentation"><a href="#privacy" aria-controls="privacy" role="tab" data-toggle="tab">@Messages("terms.privacy.title")</a></li>
        <li role="presentation"><a href="#cookies" aria-controls="cookies" role="tab" data-toggle="tab">@Messages("terms.cookie.title")</a></li>
        <li role="presentation"><a href="#software" aria-controls="software" role="tab" data-toggle="tab">@Messages("terms.software.title")</a></li>
        <li role="presentation"><a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">@Messages("terms.contact.title")</a></li>
      </ul>

      <div class="tab-content col-sm-8 col-sm-offset-2" style="padding-top: 30px">
        <div role="tabpanel" class="tab-pane active" id="terms">
          @userTermsFR()
          @userTermsEN()
          @userTermsNL()
        </div>

        @if(user.getERole.id() >= EContributorRole.CONTRIBUTOR.id()){
          <div role="tabpanel" class="tab-pane" id="cterms">
            @contributorTermsFR()
            @contributorTermsEN()
            @contributorTermsNL()
          </div>
        }

        <div role="tabpanel" class="tab-pane" id="software">
          @softwareTerms()
        </div>

        <div role="tabpanel" class="tab-pane" id="cookies">
          @cookieTermsFR()
          @cookieTermsEN()
          @cookieTermsNL()
        </div>

        <div role="tabpanel" class="tab-pane" id="privacy">
          @privacyTermsFR()
          @privacyTermsEN()
          @privacyTermsNL()
        </div>

        <div role="tabpanel" class="tab-pane" id="contact">
          @contactTermsFR()
          @contactTermsEN()
          @contactTermsNL()
        </div>
      </div>
    </div>

    @scrollTopWrapper()
  </div>
}