@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Partial page to specify the type, thems and actors form of an argument (first step)
*
* @param argForm the argument form that holds the argument values
* @param helper helper class to fetch predefined values from (countries, genders, types, ...)
* @param user the current user profile
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@


@import be.webdeb.core.api.contributor.EPermission
@import be.webdeb.presentation.web.controllers.entry.ContributionHelper
@import be.webdeb.presentation.web.controllers.entry.argument.ArgumentForm
@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.views.html.util.{authordiv, bootstrapInput, helpbubble, hiddenFormField}
@import be.webdeb.presentation.web.views.html.util.helpButton
@import helper._


@(
    textId : Long,
    argId: Long,
    argForm: Form[ArgumentForm],
    helper : ContributionHelper,
    user : WebdebUser
)


@implicitFieldConstructor = @{ FieldConstructor(bootstrapInput.render) }

<div class="col-xs-12 no-padding">
  <div class="col-xs-12 col-sm-8 instructions no-padding"><i>@Messages("argument.new.instructions." + argForm("step").value)
    @Messages("general.required.fields")</i>
  </div>
  @helpButton("entry.argument", false)
</div>

<div class="col-xs-12" style="margin-bottom: 20px">
  <blockquote class="argument">@argForm("excerpt").value</blockquote>
</div>

<div class="col-xs-12 no-padding mid-bottom-margin">
  <div class="col-xs-12 no-padding">
    @authordiv(argForm, "authors", "argument.label.author", false)
    @authordiv(argForm, "reporters", "argument.label.reporter", false)
  </div>

  <div class="col-xs-12 no-padding">
    <label class="control-label">@Messages("argument.label.type")
      @helpbubble("bubble.title","bubble.entry.argument.type")
    </label>
    <div class="form-group">
      <div id="b-argtype" class="form-group funkyradio">
        @for( (k, v) <- helper.getArgumentTypes(ctx.lang.code)) {
          <div class="form-group funkyradio-primary col-xs-12">
            <input id="argtype-@k" type="checkbox" value="@k">
            <label for="argtype-@k">@v&nbsp;<span class="text-muted">@Html(Messages("argument.label.type.desc." + k))</span></label>
          </div>
        }
      </div>
      @hiddenFormField(argForm("argtype"))

      @if(!user.getGroup.getPermissions.contains(EPermission.DISABLE_CLASSIFICATION)) {
        <div id="suggestion-div">
          <h4><i><span class="fa fa-spinner fa-spin"></span></i></h4>
        </div>
      }
    </div>
  </div>
</div>
<div class="form-actions">
  <button type="button" class="btn btn-default cancel">
    <span class="fa fa-times-circle"></span>&nbsp; @Messages("general.btn.cancel")
  </button>

  <button type="button" class="btn btn-primary next">
    <span class="fa fa-chevron-circle-right"></span>&nbsp; @Messages("general.btn.next")
  </button>
</div>
