@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Form to add a new text into the knowledge base
*
* @param textForm the form that holds the text values
* @param values the values factory
* @param user the user profile
* @param map the message map to display (if any)
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@

@import be.webdeb.presentation.web.controllers.entry.ContributionHelper
@import be.webdeb.presentation.web.controllers.entry.text.TextForm
@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.controllers.viz.EVizPane

@import be.webdeb.presentation.web.views.html.main
@import be.webdeb.presentation.web.views.html.entry.text.handleCandidates
@import be.webdeb.presentation.web.views.html.util.{noerrorForm, authordiv, bootstrapInput, breadcrumb, funkyCheckbox, handleNameMatches, handleFolderNameMatches, helpbubble, hiddenField, hiddenFormField, inlineform, message, publishInGroup, folderdiv}
@import be.webdeb.presentation.web.views.html.util.helpButton
@import helper._


@(
    textForm: Form[TextForm],
    helper : ContributionHelper,
    user : WebdebUser,
    map : java.util.Map[String, String]
)

@implicitFieldConstructor = @{ FieldConstructor(bootstrapInput.render) }


@scripts = {
  <title>
    @if((textForm.data.isEmpty && textForm.value.isEmpty) || textForm("id").value == "-1") {
      @Messages("entry.text.new")
    } else {
      @Messages("entry.text.modify")
    } @Messages("general.metatitle")
  </title>
  <meta name="description" content="@if(textForm("id").value == "-1") {
    @Messages("entry.text.submit")
  } else {
    @Messages("entry.text.btn.modify")}">

  <script src="@routes.Assets.at("javascripts/text-scripts.js")" type="text/javascript"></script>
  <script type="text/javascript">

    // used for "in collection" management (must be global)
    var sourceTitle;

    $(document).ready(function() {

      // add typeahead AJAX-based request for authors
      var div = $('#addtextdiv');
      var authors = $('#authors');
      var isOnInternet = $('#b-isOnInternet').find('input[type="checkbox"]');
      addActorsTypeahead(authors, 'fullname', '-1');
      addActorsTypeahead(authors, 'affname', '1');
      manageActorButton('authors', ['fullname', 'affname'], '-1');
      manageActorButton('sourceAuthors', ['fullname', 'affname'], '-1');
      manageAddRmButton('titles', ['name'], "text.delete.confirm.");
      // manage exclusive boxes for gender and statuses
      manageExclusiveCheckboxes(isOnInternet, $('#isOnInternet'));
      // if we have a "same title" to handle
      if ($('#text_candidate_modal').length > 0) {
        handleCandidates($('#isNotSame'), $('#submit'));
      }

      // initialize folder typeahead
      addFoldersTypeahead($('#folders'));
      manageAddRmButton('folders', ['name'], "folder.delete.confirm.", null, addFoldersTypeahead);

      if($("#isOnInternet-true").is(':checked') || $("#isOnInternet-false").is(':checked')){
        toggleIsOnInternet(($("#isOnInternet-true").is(':checked')? 'true' : 'false'));
      }

      // handle click event on isOnInternet
      isOnInternet.on('click', function () {
        toggleIsOnInternet($(this).val());
      });

      // handle click on event showTitleTranslations
      @if(textForm.hasErrors){
        showMe('#titles', true, true);
        showMe('#upload-div', true, false);
      }

      // handle detection of existing text
      manageExistingText('#title');
      // must tweak manually css from here because twitter-typeahead has trouble when no help-inline is given
      $("#title").parent().addClass("no-help");

      // button group for text origin
      manageExclusiveCheckboxes($('#b-textOrigin').find('input[type="checkbox"]'), $('#textOrigin'), true);

      // tooltip bubble management
      handleHelpBubble(div);

      // publication date widget management
      updateRoundedbox($('#publicationDateGroup'));
      $('.input-group-addon.roundedbox').each(function() {
        listenerOnRoundedBox('#publicationDateGroup', '#unknownPubDate');
      });

      // ajax on url insertion
      var url = $('#url');
      var waitForIt = $('#wait-for-it');

      url.on('focusout', function () {
        // TODO get data from site
          getTextFromUrl(url, waitForIt);
      });

      url.keypress(function(e) {
        // TODO get data from site
          if (e.which === 13) {
              getTextFromUrl(url, waitForIt);
              e.stopPropagation();
              e.preventDefault();
          }
      });

      var upload = $('#upload-div').find('*');
      var upload_filename_input = upload.find('.file-input-group-filename');

      // hide upload field only if it is not a new text and textarea is empty
      if (@textForm("id").value !== -1 && @textForm("textarea").value.length > 0
          && @textForm("filename").value.indexOf(".") === -1) {
        showMe(upload, false, false);
      }

      if(@textForm("id").value !== -1 || upload_filename_input.val() !== ''){
        showMe("#language-div", true, false);
      }

      var textarea = $('#textarea');

      // handle file input fields
      upload.find('input:file').on('change', function () {
        var file = this.files[0];
        // do not accept files larger than 50MB
        if (file.size > 52428800) {
          slideMessage($('#error-upload'));
        } else {
          $(upload).find('.file-input-clear').show();
          upload_filename_input.val(file.name);
          showMe("#language-div", true, true);
          textarea.prop('disabled', true);
        }
      });

      upload.find('.file-input-clear').on('click', function () {
        upload.find('.file-input-group-filename').val('');
        upload.find('.file-input-clear').hide();
        upload.find('.file-input-group-input input:file').val('');
        textarea.prop('disabled', noContent.is(':checked'));
      });

      textarea.on('focusout', function () {
        // if textarea is cleaned and noContent is not set, show upload div
        // user maybe wants to upload a content
        if (textarea.val() === '') {
          showMe(upload, true, true);
          // cleanup also hidden name
          $('#filename').val('');
        }
      });

      function toggleIsOnInternet(val){
        showMe('#text-right-fields', true, true);
        showMe('#text-left-fields', true, true);
        showMe('#urldiv', val == 'true', true);
        if(!@textForm.hasErrors){
          showMe('#upload-div', val == 'false', true);
        }
        showMe('#submit-container', true, true);
      }

      manageTextType();
    });
  </script>
}

@main(user, scripts) {

  <div id="msg-div">
    @message(flash)
    @message(map)
  </div>

  <div id="error-upload" class="alert alert-fixed alert-danger" style="display: none">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>@Messages("danger")</strong> @Messages("text.label.upload.error")
  </div>

  @if(!textForm.hasErrors && textForm.value.nonEmpty) {
    @for((aff, index) <- textForm.get.getAuthors.zipWithIndex) {
      @if(aff.getNameMatches.size > 0 && !aff.getIsDisambiguated) {
        @handleNameMatches(aff.getNameMatches, true, index)
        <script type="text/javascript">
                $(document).ready(function() {
                  handleContributionNameMatches($('#addtextdiv').find('[id$="fullname"]'), '[id$="_id"]', '[id$="_isDisambiguated"]', $('#submit'), "Actor");
                });
        </script>
      }
    }
    @for((aff, index) <- textForm.get.getAuthors.zipWithIndex) {
      @if(aff.getAffNameMatches.size > 0 && !aff.getIsAffDisambiguated) {
        @handleNameMatches(aff.getAffNameMatches, false, index)
        <script type="text/javascript">
                $(document).ready(function () {
                  handleContributionNameMatches($('#addtextdiv').find('[id$="affname"]'), '[id$="_affid"]', '[id$="_isAffDisambiguated"]', $('#submit'), "Actor");
                });
        </script>
      }
    }
    @for((folder, index) <- textForm.get.getFolders.zipWithIndex) {
      @if(folder.getNameMatches.size > 0 && !folder.getIsDisambiguated) {
        @handleFolderNameMatches(folder.getNameMatches, index)
        <script type="text/javascript">
                $(document).ready(function() {
                  handleContributionNameMatches($('#addtextdiv').find('#folders').find('[id$="name"]'), '[id$="_folderId"]', '[id$="_isDisambiguated"]', $('#submit'), "Folder");
                });
        </script>
      }
    }
  }

  @if(!textForm.hasErrors && textForm.value.nonEmpty && textForm.get.getCandidates.nonEmpty) {
    @handleCandidates(textForm.get.getCandidates, user)
  }

  <div class="row">
    <div class="col-xs-12">
      <h3 class="small-caps text-muted" id="formtitle">
      @if((textForm.data.isEmpty && textForm.value.isEmpty) || textForm("id").value == "-1") {
        @Messages("entry.text.new")
      } else {
        @Messages("entry.text.modify")
      }
      </h3>
      <hr>
    </div>

    <div class="col-xs-12" id="addtextdiv">
      @form(be.webdeb.presentation.web.controllers.entry.text.routes.TextActions.save(textForm("id").value.toLong), 'enctype -> "multipart/form-data") {
        <div class="well">
          <fieldset>
            <div class="col-xs-12">
              <div class="col-xs-12 col-sm-6 instructions no-padding">@Messages("general.required.fields")</div>
              <div class="col-xs-12 col-sm-6 no-padding">@helpButton("entry.text", false)</div>
              <br>
            </div>
              @hiddenFormField(textForm("id"))
              @hiddenFormField(textForm("externalTextId"))
              @hiddenFormField(textForm("contributor"))
              @hiddenFormField(textForm("lang"))
              @hiddenFormField(textForm("version"))
              @hiddenFormField(textForm("inGroup"))
              @hiddenFormField(textForm("isNotSame"))
              @hiddenFormField(textForm("mayViewContent"))
              @hiddenField("previousCall", "previousCall", "")

              <div class="col-md-6">
              <div id="b-isOnInternet" class="funkyradio inline">
                <div class="label-for-funkyradio">
                @Messages("text.label.isOnInternet")
                </div>
                <div class="funkyradio-primary">
                  <input id="isOnInternet-true" type="checkbox" name="actortype-true" value="true"
                    @if(textForm("isOnInternet").value == "true"){checked="checked"}>
                  <label for="isOnInternet-true">@Messages("label.yes")</label>
                </div>
                <div class="funkyradio-primary">
                  <input id="isOnInternet-false" type="checkbox" name="actortype-0" value="false"
                    @if(textForm("isOnInternet").value == "false"){checked="checked"}>
                  <label for="isOnInternet-false">@Messages("label.no")</label>
                </div>
                @hiddenFormField(textForm("isOnInternet"))
              </div>
                @textForm.errors.map { case (key, error) =>
                  @if(key.equals("isOnInternet")) {
                    <div class="label label-danger">@Messages(error(0).message)</div>
                  }
                }

              <div id="text-left-fields" style="display: none">
              <div id="urldiv" class="col-xs-12 no-padding" style="display: none;">
                @inputText(
                  textForm("url"),
                  'placeholder -> Messages("text.place.url"),
                  '_label -> Messages("text.label.url"),
                  '_help -> Messages("text.help.url"),
                  'class -> "form-control",
                  'autocomplete -> "off"
                )
              </div>

              <div class="col-xs-12 no-padding">
              @inputText(
                textForm("title"),
                'placeholder -> Messages("text.place.title"),
                '_label -> Messages("text.label.title"),
                'class -> "form-control",
                'autocomplete -> "off"
              )
              </div>

              <p class="help-inline">
                <button id="show_title_translations" type="button" class="btn btn-sm btn-link secondary" data-toggle="collapse" data-target="#titles">
                  @Messages("text.titles.show")&nbsp;<span class="fa fa-chevron-down"></span>
                </button>
              </p>

              <div id="titles" class="controls col-xs-12 no-padding collapse
                @(if(textForm.errors.keySet.exists(k => k.startsWith("titles"))) "in")">
                <label class="control-label">@Messages("text.titles.title")</label>
                <div class="controls input-group input-group-border padding-group smaller-font">
                @repeatWithIndex(textForm("titles"), min = 1) { (title, i) =>
                  <div id="titles_@i.toString" class="entry input-group padding-group">
                    <div class="col-xs-4 padding-field">
                      @select(
                        textForm(title.name.concat(".lang")),
                        options(helper.getLanguages(ctx.lang.code)),
                        '_default -> Messages("actor.place.namelang"),
                        '_label -> Messages("text.title.lang.label"),
                        'class -> "form-control",
                        'autocomplete -> "off"
                      )(handler = noerrorForm, implicitly[Messages])
                    </div>
                    <div class="col-xs-8 padding-field">
                    @inputText(
                      textForm(title.name.concat(".name")),
                      'placeholder -> Messages("text.title.place.name"),
                      '_label -> Messages("text.title.name.label"),
                      'class -> "form-control",
                      'autocomplete -> "off"
                    )(handler = noerrorForm, implicitly[Messages])
                    </div>
                    <span class="input-group-btn bottom">
                      <button class="btn btn-default btn-sm btn-add" type="button"><span class="fa fa-plus"></span></button>
                      <button class="btn btn-default btn-sm btn-remove" type="button"><span class="fa fa-minus"></span></button>
                    </span>
                  </div>
                  @* must handle error message by hand for inlineforms *@
                  @textForm.errors.map { case (key, error) =>
                    @if(key.startsWith(title.name) && error(0).message != "") {
                      <div class="no-help"><div class="label label-danger">@Messages(error(0).message)</div></div>
                    }
                  }
                }
                </div>
              </div>

              @authordiv(textForm, "authors", "text.label.author", false)

              @folderdiv(textForm, "folders", "text.label.folder", false)

              <div class="col-xs-12 no-padding"></div>

              <div class="form-group col-xs-12 no-padding">
                <label for="publicationDate">@Messages("text.label.publicationDate")</label>
                @helpbubble("bubble.title","bubble.entry.text.publication")
                <div class="input-group" id="publicationDateGroup">
                  <span class="input-group-addon roundedbox">
                    <span class="fa fa-question-circle"></span>
                    @Messages("text.label.unknownpubdate")&nbsp;
                    <input type="text" class="control-form hidden" name="unknownPubDate" id="unknownPubDate"
                      value="@textForm("unknownPubDate").value">
                  </span>
                  @inputText(
                    textForm("publicationDate"),
                    '_label -> null,
                    'placeholder -> Messages("text.place.publicationDate"),
                    'class -> "form-control",
                    'autocomplete -> "off"
                  )(handler = inlineform, implicitly[Messages])
                </div>
                <p class="help-inline">@Messages("text.help.publicationDate")</p>
                @textForm.errors.map { case (key, error) =>
                  @if(key.equals("publicationDateGroup")) {
                    <div class="label label-danger">@Messages(error(0).message)</div>
                  }
                }
              </div>

              <div id="textType" class="col-xs-12 no-padding">
                @select(
                  textForm("textType"),
                  options(helper.getTextTypes(ctx.lang.code)),
                  '_default -> Messages("text.place.textType"),
                  '_label -> Messages("text.label.textType"),
                  'class -> "form-control",
                  'autocomplete -> "off",
                  'buble -> helpbubble("bubble.title","bubble.entry.text.textType")
                )
              </div>

              <div id="sourceTitle" class="col-xs-12 no-padding">
                @inputText(
                  textForm("sourceTitle"),
                  'placeholder -> Messages("text.place.sourceTitle"),
                  '_label -> Messages("text.label.sourceTitle"),
                  'class -> "form-control",
                  'autocomplete -> "off",
                  'buble -> helpbubble("bubble.title","bubble.entry.text.sourceTitle")
                )
              </div>
            </div>
            <div class="col-sm-8 padding-field"></div>

            </div> <!--  end first row -->

            <div id="text-right-fields" class="col-md-6 col-sm-12 col-xs-12 no-padding" style="display: none">
              @hiddenFormField(textForm("textVisibility"))
              <div class="col-xs-12">
                <label class="form-control-label">
                  @Messages("text.label.content") @helpbubble("bubble.title","bubble.entry.text.area")
                </label>

                @if(textForm("id").value != "-1" && textForm("textarea").value == "" && textForm("noContent").value != "true") {
                  <div>
                    <span class="text-warning">@Messages("text.label.content.notviewable")</span>
                    @helpbubble(Messages("text.title.notviewable"), Messages("text.desc.notviewable"))
                  </div>
                }
                @hiddenFormField(textForm("noContent"))
                @* pdf upload *@
                <div id="upload-div" class="col-xs-12 padding-field" @if(!textForm.hasErrors){style="display: none"}>
                  <div class="input-group file-input-group">
                    <span class="input-group-addon">@Messages("text.label.upload")</span>
                    @inputText(
                      textForm("filename"),
                      '_label -> null,
                      'class -> "form-control file-input-group-filename",
                      'readonly -> "readonly"
                    )(handler = inlineform, implicitly[Messages])
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default file-input-clear">
                        <span class="fa fa-remove"></span>
                        <span class="file-input-title">@Messages("general.label.btn.clear")</span>
                      </button>
                      <div class="btn btn-default file-input-group-input">
                        <span class="fa fa-folder-open-o"></span>
                        <span class="file-input-title">@Messages("general.label.btn.browse")</span>
                        <input type="file" accept="application/pdf" name="upload"/>
                      </div>
                    </span>
                  </div>
                </div>

                <div id="language-div" class="col-xs-12 padding-field" style="display: none">
                  @select(
                    textForm("language"),
                    options(helper.getLanguages(ctx.lang.code)),
                    '_default -> Messages("actor.place.namelang"),
                    '_label -> Messages("text.title.lang.label"),
                    'class -> "form-control",
                    'autocomplete -> "off"
                  )(handler = noerrorForm, implicitly[Messages])
                </div>


                @textarea(
                  textForm("textarea"),
                  'placeholder -> Messages("text.place.area"),
                  'class -> "form-control",
                  'rows -> "33"
                )(handler = inlineform, implicitly[Messages])
                @textForm.errors.map { case (key, error) =>
                  @if(key.equals("textarea")) {
                    <div class="label label-danger">@Html(Messages(error(0).message))</div>
                  }
                }
              </div>
            </div>
          </fieldset>

          <div id="submit-container" class="form-actions" style="display: none">
            <a href="@(if(textForm("id").value == "-1") be.webdeb.presentation.web.controllers.entry.routes.EntryActions.contribute
                else be.webdeb.presentation.web.controllers.viz.routes.VizActions.text(textForm("id").value.toLong, EVizPane.DETAILS.id, 0))"
                class="btn btn-default">
              <span class="fa fa-times-circle"></span> &nbsp; @Messages("general.btn.cancel")
            </a>
            <button type="submit" class="btn btn-primary" id="submit">
              @if(textForm("id").value == "-1") {
                @Messages("entry.text.submit")
              } else {
                @Messages("entry.text.btn.modify")
                 &nbsp; <span class="fa fa-check-circle"></span>
              }
            </button>
            @if(textForm("id").value == "-1") {
              @publishInGroup("text-change-group", "inGroup", user)
            }
          </div>
        </div>
      </div>
    }
  </div>
}
