@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Popover menu to add or edit excerpts when highlighting text excerpts
*
* @param text the text details
* @param newExcerpt form to be filled for the new excerpt
* @param excds ids of all overlapping excerpts (for proper href to viz details page)
* @param user the webdeb user asking for the popover
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@

@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.controllers.entry.excerpt.ExcerptSimpleForm
@import be.webdeb.presentation.web.controllers.entry.text.TextHolder
@import be.webdeb.presentation.web.controllers.viz.EVizPane
@import be.webdeb.presentation.web.views.html.util.{bootstrapInput, hiddenFormField}
@import helper._

@(
    text : TextHolder,
    newExcerpt: Form[ExcerptSimpleForm],
    excIds : java.util.List[Long],
    user : WebdebUser
)


@implicitFieldConstructor = @{ FieldConstructor(bootstrapInput.render) }

@if(excIds == null) {
  @form(be.webdeb.presentation.web.controllers.entry.excerpt.routes.ExcerptActions.newExcerpt()) {
    @hiddenFormField(newExcerpt("originalExcerpt"))
    @hiddenFormField(newExcerpt("textId"))
    @hiddenFormField(newExcerpt("shade"))
    <button type="submit" class="btn btn-sm btn-default" title="@Messages("text.args.tooltip.arg.settings")" data-placement="bottom">
      @Messages("text.args.popover.new") <span class="fa fa-edit"></span>
    </button>
  }
} else {

  @if(excIds.size == 1) {
    <a type="button" class="btn btn-sm btn-default" title="@Messages("text.args.tooltip.arg.viz")" data-placement="bottom"
      href="@be.webdeb.presentation.web.controllers.entry.excerpt.routes.ExcerptActions.edit(text.getId, excIds.get(0))">
      @Messages("text.args.popover.edit") <span class="fa fa-edit"></span>
    </a>
  } else {
    <div class="controls" id="arguments">
      @for(e <- text.getExcerpts(user)) {
        @if(excIds.contains(e.getId)) {
          <div class="entry input-group padding-group">
            <div class="padding-field ">
              <a class="argument-displayed">@e.getOriginalExcerpt</a>
            </div>

            <span class="input-group-btn">
              <a type="button" class="btn btn-sm btn-default" title="@Messages("text.args.tooltip.arg.settings")" data-placement="bottom"
              href="@be.webdeb.presentation.web.controllers.entry.excerpt.routes.ExcerptActions.edit(text.getId, e.getId)">
                <span class="fa fa-edit"></span>
              </a>
            </span>
          </div>
        }
      }
    </div>
  }
}
