@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Display main dashboard (always accessible)
*
* @param contributions a list of contributions to display
* @param countMap the amounts map of int with respectively the amount of arguments, texts, actors and folders
* @param user the user profile data
* @param filters the filter map to be used to filter the results (may be null)
* @param map the message map
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.controllers.entry.ContributionHolder
@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.views.html.main
@import be.webdeb.presentation.web.views.html.browse.searchResult
@import be.webdeb.presentation.web.views.html.util.{breadcrumb, message, countMapDiv}
@import be.webdeb.presentation.web.controllers.entry.EFilterName
@import be.webdeb.presentation.web.controllers.entry.FilterTree

@(
    contributions: java.util.Collection[ContributionHolder],
    countMap : java.util.Map[Integer, Integer],
    user : WebdebUser,
    filters : java.util.Map[EFilterName, java.util.List[FilterTree]],
    map : java.util.Map[String,String]
)

@scripts = {
  <title>@Messages("dash.title") @Messages("general.metatitle")</title>
  <meta name="description" content="@Messages("dash.lastentries.title", user.getGroup.getGroupName)">

  <script type="text/javascript">
    $(document).ready(function() {
      var p = new Pager('.showall', 12, '#contribution-pager', undefined, false);
      p.reset();

      var toggle = $('.toggle_filter');
      handleFilter(toggle, p);

      $('.to-clamp').each(function () {
				$(this).trunk8({ lines: 2, tooltip: false });
			});
    });
  </script>
}

@main(user, scripts) {

  <div id="msg-div">
    @message(flash)
    @message(map)
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h3 class="small-caps text-muted">@Messages("dash.title")</h3>
      <hr class="hr-xs-sensible">
    </div>

    <div class="col-xs-12 no-padding-xs">
      <div class="row">
        <div class="col-sm-7 col-sm-offset-1 col-xs-10 col-xs-offset-1 no-padding-xs">
          <h3 class="text-muted no-margin-top">@Messages("dash.lastentries.title", user.getGroup.getGroupName)</h3>
          @searchResult(" ", contributions, false, true, filters, true, false)
          <div id="contribution-pagerdiv" class="col-xs-12">
            <ul id="contribution-pager" class="pager pagination pagination-sm no-margin pull-right"></ul>
            <hr class="contrib-details">
          </div>
        </div>

        @countMapDiv(countMap)
      </div>
    </div>
  </div>
}
