/*!
 * organizationalChart.js JavaScript Library v1.0
 * https://github.com/martini224
 *
 * Includes bootstrap.css
 * https://getbootstrap.com/
 *
 * Copyright Martin Rouffiange (martini224) 2018
 * Released under the MIT license (http://opensource.org/licenses/MIT)
 */

.flex-container{
    display: flex;
}

.organizational-chart{
    margin-top : 10px;
}

.organigram-container-table{
    overflow-y: auto;
    overflow-x : hidden;
    padding-right: 10px;
}

.organigram-container-title{
    max-height: 600px;
    overflow-y: hidden;
}

.organigram{
    width: 100%;
    height: 100%;
    z-index: -5;
}

.organigram td, .organigram th{
    border-left : 1px solid silver;
    border-right : 1px solid silver;
}

.organigram-title td div{
    padding-top : 2px;
    opacity: 1;
}

.organigram tr, .organigram-title tr{
    height : 10px;
}

.organigram th{
    border-bottom : 1px solid silver;
    text-align: center;
}

.organigram tr td:first-child, .organigram tr th:first-child{
    border-left : 0;
}

.organigram tr td:last-child, .organigram tr th:last-child{
    border-right : 0;
}

.organigram-line{
    position: relative;
    width: 0;
    height: 0;
    cursor: pointer;
}

.organigram-lineinfo{
    position: absolute;
    background-color: white;
    border : 1px solid black;
    width: 260px;
    padding: 5px;
    text-align: center;
    z-index: 9999999;
}

.organigram-linecontent{
    position: absolute;
    background-color: #0c5460;
    opacity: 0.5;
}

.organigram-linecontent-dissimilar{
    background-color: #cf0800;
}

.organigram-linecontent-filtered{
    background-color: rgba(128, 131, 136, 0.52);
}

.organigram-linecontent-unkownbegin{
    border-left : 5px solid #21b750;
}

.organigram-linecontent-unkownend{
    border-right : 5px solid #21b750;
}

.highlight-line{
    background-color : #e4e4e4;
}

.highlight-line-standing{
    background-color : #d5d5d5;
}

.pull-right{
    float: right;
}

.btn-org-chart{
    padding: 0;
}


.organigram-container-header{
    position: sticky;
    top: 60px;
    z-index:1;
    background-color: white;
    align-items: center;
    display: flex;
}