@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Modal frame to change the contributor's password
*
* @param contributor the contributor id that requested the password change
* @param passwordForm the password form object
*
* @author Fabian Gilson
*@


@import be.webdeb.presentation.web.controllers.account.settings.PasswordForm
@import be.webdeb.presentation.web.views.html.util.{bootstrapInput, emptyModalframe}
@import helper._


@(
    contributor: Long,
    passwordForm: Form[PasswordForm]
)

@implicitFieldConstructor = @{ FieldConstructor(bootstrapInput.render) }

<script type="text/javascript">
  $(document).ready(function() {

  	submitOnEnterKey(document, submitPwdChange);
    $('#submit-btn').on('click', function () {
      submitPwdChange();
    });

    function submitPwdChange() {
      changePassword(@contributor, $('#pwd-form')).done(function (data) {
        showMessage(data, $('#mg-div'));
        addAllListeners(0);

      }).fail(function (jqXHR) {
        if (jqXHR.status == 400) {
          // rebuild form from response text
          replaceContent('#pwd-form', jqXHR.responseText, 'form');
        } else {
          showErrorMessage(jqXHR);
        }
      });
    }
  });
</script>

@emptyModalframe("changepwd-modal", false, "default", "", false) {
  <div class="modal-header">
    <h3 class="modal-title small-caps text-muted">
      @Messages("contributor.change.password")
    </h3>
  </div>

  <div class="modal-body row">
    <div id="form-content" class="col-xs-12">
      <p class="instructions">@Messages("contributor.change.password.instructions")</p>
      <form id="pwd-form">
        <fieldset>
          <div class="col-xs-12 no-padding">
            <div class="col-sm-6 col-xs-12 padding-field">
              @inputPassword(
                passwordForm("password"),
                'placeholder -> Messages("contributor.place.password"),
                '_label -> Messages("contributor.label.password"),
                '_help -> Messages("contributor.help.password"),
                'class -> "form-control",
                'autocomplete -> "off"
              )
            </div>
            <div class="col-sm-6 col-xs-12 padding-field">
              @inputPassword(
                passwordForm("confirm"),
                'placeholder -> Messages("contributor.place.repassword"),
                '_label -> Messages("contributor.label.repassword"),
                'class -> "form-control",
                'autocomplete -> "off"
              )
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

  <div class="modal-footer">
    <div class="col-xs-12">
      <button id="cancel-btn" type="button" class="btn btn-default" data-dismiss="modal">@Messages("general.btn.cancel")</button>
      <button id="submit-btn" type="button" name="submit" class="btn btn-primary">@Messages("general.btn.confirm")</button>
    </div>
  </div>
}
