@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Modal frame to delete the account of contributor
*
* @param contributor the contributor id that requested the password change
* @param form the deletion form object
*
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.controllers.account.settings.DeleteAccountForm
@import be.webdeb.presentation.web.views.html.util.{bootstrapInput, emptyModalframe, hiddenFormField}
@import helper._


@(
        contributor: Long,
        form: Form[DeleteAccountForm]
)

@implicitFieldConstructor = @{ FieldConstructor(bootstrapInput.render) }

<script type="text/javascript">
        $(document).ready(function() {

            submitOnEnterKey(document, submitAccountDeletion);
            $('#submit-btn').on('click', function () {
                submitAccountDeletion();
            });

            function submitAccountDeletion() {
                deleteAccount(@contributor, $('#delete-form')).done(function (data) {

                    window.location = data;

                }).fail(function (jqXHR) {
                                   console.log(jqXHR);
                    if (jqXHR.status === 400) {
                        // rebuild form from response text
                        replaceContent('#delete-form', jqXHR.responseText, 'form');
                    } else {
                        $("#wrong-pwd").show();
                    }
                });
            }
        });
</script>

@emptyModalframe("delete-account-modal", false, "default", "", false) {
    <div class="modal-header">
        <h3 class="modal-title small-caps text-muted">
        @Messages("contributor.delete.account")
        </h3>
    </div>

    <div class="modal-body row">
        <div id="form-content" class="col-xs-12">
            <p class="instructions">@Messages("contributor.delete.account.instructions")</p>
            <form id="delete-form">
                <fieldset>
                    <div class="col-xs-12 no-padding">
                        @hiddenFormField(form("contributor"))
                        <div class="col-xs-12 padding-field">
                        @inputPassword(
                            form("password"),
                            'placeholder -> Messages("contributor.place.password"),
                            '_label -> Messages("contributor.label.password"),
                            '_help -> Messages("contributor.help.password"),
                            'class -> "form-control",
                            'autocomplete -> "off"
                        )
                        </div>
                        <span id="wrong-pwd" class="label label-danger" style="display: none">@Messages("contributor.delete.account.pwd")</span>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    <div class="modal-footer">
        <div class="col-xs-12">
            <button id="cancel-btn" type="button" class="btn btn-default" data-dismiss="modal">@Messages("general.btn.cancel")</button>
            <button id="submit-btn" type="button" name="submit" class="btn btn-primary">@Messages("general.btn.confirm")</button>
        </div>
    </div>
}
