@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Full login page
*
* @param user the user profile data
* @param map the message map
*
* @author Fabian Gilson
*@


@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.views.html.main
@import be.webdeb.presentation.web.views.html.account.settings.loginFormOnly
@import be.webdeb.presentation.web.views.html.util.message


@(
    user: WebdebUser,
    map : java.util.Map[String, String]
)

@main(user) {

  @message(flash)
  @message(map)

  <div class="col-md-12">
    <div class="col-md-5 col-md-offset-1">
      <div class="centered">
        <h2>@Messages("login.first")</h2>
      </div>
      <div class="well">
        @loginFormOnly(user)
      </div>
    </div>

    <div class="col-md-5">
      <div class="centered">
        <h2>@Messages("login.register")</h2>
        <br><br>
        <a class="btn btn-primary btn-lg"
          href="@be.webdeb.presentation.web.controllers.account.routes.ContributorActions.signup">
          @Messages("welcome.btn.sign.up")
        </a>
        </div>
    </div>
  </div>
}
