@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Modal page to select a text to work with or explore its excerpts
*
* @param title the subtitle of the modal
* @param argOrExcId the id of the argument or excerpt to be linked to the one that will be selected in this modal
* @param contributionType the type of contribution of the argOrExcId
* @param shade the shade that will be used to link both arguments
* @param searchForm (pre-filled) query object to look for a particular text
* @param elements a list of contributions to display
* @param user the user profile data (for groups)
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@


@import be.webdeb.core.api.argument.EArgumentLinkShade

@import be.webdeb.presentation.web.controllers.browse.SearchForm
@import be.webdeb.presentation.web.controllers.entry.argument.ArgumentContextForm
@import be.webdeb.core.api.argument.EArgumentLinkShade
@import be.webdeb.presentation.web.controllers.entry.ContributionHolder
@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.controllers.entry.ContributionHelper

@import be.webdeb.presentation.web.views.html.util.{argumentcontextdiv, bootstrapInput, emptyModalframe, hiddenField, hiddenFormField, inlineform, publishInGroup}

@import helper._

@import be.webdeb.core.api.argument.EArgumentType
@import be.webdeb.core.api.contribution.EContributionType
@import be.webdeb.presentation.web.views.html.util.displayTextContent
@import be.webdeb.presentation.web.controllers.entry.text.TextHolder
@import be.webdeb.presentation.web.views.html.util.searcharea
@import be.webdeb.presentation.web.views.html.browse.searchResult
@import be.webdeb.presentation.web.views.html.browse.defaultResult
@(
        title : String,
        argOrExcId : Long,
        contributionType : EContributionType,
        context : ContributionHolder,
        shade : EArgumentLinkShade,
        searchForm : Form[SearchForm],
        argForm : Form[ArgumentContextForm],
        candidates : java.util.List[ArgumentContextForm],
        helper : ContributionHelper,
        user : WebdebUser
)


@implicitFieldConstructor = @{ FieldConstructor(bootstrapInput.render) }

<script src="@routes.Assets.at("javascripts/textAnnotator.js")" type="text/javascript"></script>
<script type="text/javascript">

        $(document).ready(function() {
            var modal = $("#search-argument-context-modal");

            modal.find(".data-autoresize").autoResize();

            var selectbtn = modal.find('.selectarg-btn');
            var toggleContents = modal.find('.toggle-content');

            var searchContent = modal.find(".search-content");
            var searchContentBtn = modal.find("#search-content-btn");

            var addNewContent = modal.find("#add-new-content");
            var addNewContentBtn = modal.find("#add-new-content-btn");

            var toValidateContent = modal.find("#tovalidate-content");
            var toValidateContentResult = modal.find("#tovalidate-content-result");
            var toValidateContentBtn = modal.find("#tovalidate-content-btn");

            var textAnnotated = modal.find("#text-annotated");

            let pageable = toValidateContentResult.find(".pageable");
            new Pager(pageable, 4, toValidateContentResult.find(".pager")).reset();
            toggleSummaryBoxes(pageable, '.toggleable');

            var annotatedText = null;

            initArgumentListeners($("#new-arg-form"), selectbtn, true);

            @if(context.getType == EContributionType.TEXT && contributionType == EContributionType.ARGUMENT_CONTEXTUALIZED){
                @if(argOrExcId == -1L){
                    modal.find(".step_1").hide();
                }
                annotatedText = loadAnnotatedText(annotatedText, true, modal, textAnnotated, convertTextAnnotationModalWidth(modal, true));
            }

            searchContentBtn.on('click', function() {
                toggleContents.hide();
                searchContent.show();
                selectbtn.prop('disabled', true);
            });

            addNewContentBtn.on('click', function() {
                toggleContents.hide();
                addNewContent.show();
                selectbtn.prop('disabled', false);
            });

            toValidateContentBtn.on('click', function() {
                toggleContents.hide();
                toValidateContent.show();
                selectbtn.prop('disabled', true);
            });

            // do post on search button pressed
            modal.find('#search-btn').on('click', function() {
                searchForArgument(modal);
            });

            modal.find(".shadeLinkSelect").on('click', function() {
                var value = $(this).find("input").val();
                if(@if(contributionType == EContributionType.EXCERPT){value === "4" || value === "5" || value === "6"}else{value === "2" || value === "3"})
                {
                    modal.find(".step_1").hide();
                    modal.find(".step_2").show();
                    modal.find("#shadeLink").val(value);
                    @if(context.getType == EContributionType.TEXT  && contributionType == EContributionType.ARGUMENT_CONTEXTUALIZED){
                        annotatedText = loadAnnotatedText(annotatedText, true, modal, textAnnotated, convertTextAnnotationModalWidth(modal, true));
                        handleSearchText(modal);
                    }

                    @* @if(contributionType == EContributionType.EXCERPT){
                        selectbtn.prop('disabled', true);
                    } *@
                }
            });

            var query = modal.find('#query');
            addArgumentContextTypeahead(query, @context.getId, "idContribution");
            query.on('typeahead:selected', function () {
                searchForArgument(modal);
            });
            query.keypress(function(e) {
                if (e.which === 13) {
                    searchForArgument(modal);
                }
            });

            // notify creation cancellation
            modal.find('.cancel-btn').on('click', function () {
                abortLinkCreation();
            });

            handleArgumentSubmition(modal, selectbtn, addNewContent);
        });

        function searchForArgument(modal){
           $("#search-instructions").show();
            executeSearch(modal.find('#searchArgument'), '#search-anchor', $(".pager-modal"), 4, '.toggleable', true, true).then(function (pager) {
                postSearchExecuteFilter(pager, "#search-argument-context-modal", "#search-anchor");
            });
        }

        function handleArgumentSubmition(modal, selectbtn, addNewContent) {
            @if(context.getType != EContributionType.TEXT){selectbtn.prop('disabled', true);}
            toggleSummaryBoxes('#showargs-content', '.toggleable');
            var fakebtn = $("#fake-btn");

            // handle "create link" button if add new content is visible, do post on arg form button pressed.
            // Otherwise, create a link with selected argument
            selectbtn.on('click', function (e){
                if(addNewContent.is(":visible")) {
                    var form = modal.find("#new-arg-form");
                    doSaveArgumentContext(-1, form, modal.find('#inGroup').val(), modal, fakebtn, false);
                }else{
                    doSavelink(modal, false);
                }
            });

            fakebtn.on('click', function (e){
                var form = modal.find("#new-arg-form");
                doSaveArgumentContext(-1, form, modal.find('#inGroup').val(), modal, fakebtn, false);
            });

            modal.find(".cancel-btn").on('click', function (){
                abortLinkCreation().done(function () {
                    hideAndDestroyModal(modal);
                }).fail(function (xhr) {
                    console.log("Abort link create failed...");
                    hideAndDestroyModal(modal);
                });
            });
        }

        function doSavelink(modal, reasking){

            let argOrExcId = modal.find('#argOrExcId').val();
            let selectedId = modal.find('.selected').prop('id').split("_")[1];

            let from = @if(contributionType == EContributionType.EXCERPT){selectedId}else{argOrExcId}
            let to = @if(contributionType == EContributionType.EXCERPT){argOrExcId}else{selectedId}

            saveLink(from, to,
                    @if(shade == null){modal.find('#shadeLink').val()}else{@shade.id()},
                    modal.find('#inGroup').val(), @context.getId).done(function () {
                hideAndDestroyModal('#search-argument-context-modal');
                slideMessage($('#success-save'));
                triggerReloadVizEvent();
                if(reasking){
                    openArgumentSearchModal(@context.getId, @argOrExcId, @shade);
                }
            }).fail(function (xhr) {
                treatSaveLinkFail(modal, xhr.status);
            });
        }

</script>

@footerBtns(onlyCancel : Boolean) = {
    <div class="search-btns pull-left">
        <button type="button" class="btn btn-default cancel-btn">@Messages("general.btn.cancel")</button>
        @if(!onlyCancel) {
            <button type="button" class="btn btn-primary toggleable step_2 selectarg-btn"
            title="@Messages("browse.search.text.selectarg.tooltip")" @if(argOrExcId != -1L && shade == null) {
                style="display: none"}>
            @Messages("browse.search.selectarg.btn")
            </button>
            <span style="display: none;">
            @publishInGroup("link-change-group", "inGroup", user)
            </span>
        }
    </div>
    @if(!onlyCancel) {
        <div class="pull-right"><ul class="pager pager-modal pagination pagination-sm no-margin"></ul></div>
    }
}

@emptyModalframe("search-argument-context-modal", false, "form", "", true) {

    <div class="modal-header">
        @if(title == null){
            <h3 class="modal-title small-caps text-muted">@Messages("browse.search.arg.title2")</h3>
        }else {
            <h3 class="modal-title small-caps text-muted">
            @if(contributionType == EContributionType.EXCERPT){
                @Messages("browse.search.arg.title3")
            }else {
                @Messages("browse.search.arg.title")
            }
            </h3>
            <span class="large-font">
                <span class="text-primary serif">@title</span>
            </span>
        }
    </div>

    <div id="modal-bdy" class="modal-body row">

        @if(argOrExcId != -1L && shade == null) {
            @if(contributionType == EContributionType.EXCERPT){
                <div class="col-xs-12 step_1 flex-container">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-similar shadeLinkSelect">
                            <input type="radio" name="options" autocomplete="off" value="4">
                            @Messages("argument.links.shade.4.form")
                        </label>
                        <label class="btn btn-qualifies shadeLinkSelect">
                            <input type="radio" name="options" autocomplete="off" value="5">
                            @Messages("argument.links.shade.5.form")
                        </label>
                        <label class="btn btn-opposes shadeLinkSelect">
                            <input type="radio" name="options" autocomplete="off" value="6">
                            @Messages("argument.links.shade.6.form")
                        </label>
                    </div>
                </div>
            }else{
                <div class="col-xs-12 step_1">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-similar shadeLinkSelect">
                            <input type="radio" name="options" autocomplete="off" value="2">
                            @Messages("argument.links.shade.2.form")
                        </label>
                        <label class="btn btn-opposes shadeLinkSelect">
                            <input type="radio" name="options" autocomplete="off" value="3">
                            @Messages("argument.links.shade.3.form")
                        </label>
                    </div>
                </div>
            }
        }

        <div class="col-xs-12 step_2" @if(argOrExcId != -1L && shade == null) {style="display:none;" }>
            <div class="col-xs-12 @if(context.getType == EContributionType.TEXT && contributionType == EContributionType.ARGUMENT_CONTEXTUALIZED){col-md-6}">
                <div class="col-xs-12 btn-group btn-group-toggle no-padding" data-toggle="buttons" @if(contributionType == EContributionType.EXCERPT){style="display:none;"}>
                    <label class="btn btn-primary @if(contributionType == EContributionType.EXCERPT || context.getType != EContributionType.TEXT){active}" id="search-content-btn" @if(context.getType == EContributionType.TEXT && contributionType == EContributionType.ARGUMENT_CONTEXTUALIZED){style="display:none;"}>
                        <input type="radio" name="options" autocomplete="off">
                        @Messages("argument.links.add.search")
                    </label>
                    <label class="btn btn-primary btn-primary @if(context.getType == EContributionType.TEXT && contributionType == EContributionType.ARGUMENT_CONTEXTUALIZED){active}" id="add-new-content-btn">
                        <input type="radio" name="options" autocomplete="off">
                        @Messages("argument.links.add.create")
                    </label>
                    <label class="btn btn-primary" id="tovalidate-content-btn" @if(contributionType == EContributionType.EXCERPT){style="display:none;"}>
                        <input type="radio" name="options" autocomplete="off">
                        @Messages("argument.links.add.validate")
                    </label>
                </div>

                <div class="col-xs-12 search-content toggle-content no-padding" @if(context.getType == EContributionType.TEXT){style="display:none;"}>
                    <br>
                    <form id="searchArgument">
                        @hiddenField("argOrExcId", "argOrExcId", argOrExcId)
                        @hiddenFormField(searchForm("contextToIgnore"))
                        @hiddenFormField(searchForm("inGroup"))
                        @hiddenFormField(searchForm("isArgumentContext"))
                        @hiddenFormField(searchForm("isStrict"))

                        <div class="col-xs-12 input-group">
                            <div class="input-group">
                                <span class="input-group-addon">@Messages("browse.search.selectarg.addon")</span>
                                @inputText(
                                    searchForm("query"),
                                    'placeholder -> Messages("browse.search.selectarg.place"),
                                    '_label -> null,
                                    'class -> "form-control",
                                    'autocomplete -> "off"
                                )(handler = inlineform, implicitly[Messages])
                                @hiddenFormField(searchForm("idContribution"))
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" id="search-btn" title="@Messages("browse.search.tooltip")" data-placement="bottom">
                                        <span class="fa fa-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>
                    <p id="search-instructions" class="col-xs-12 instructions" style="display: none;">
                        @Html(Messages("argument.links.justification.instructions"))
                    </p>
                    <div id="search-anchor" class="col-xs-12 pointable-content large-font search-content"></div>

                </div>

                <div id="add-new-content" class="col-xs-12 toggle-content" @if(context.getType != EContributionType.TEXT){style="display: none;"}>
                    <form id="new-arg-form" method="post" enctype="multipart/form-data">
                        <p class="instructions">@Messages("general.required.fields")</p>
                        @argumentcontextdiv(argForm, helper, "argument", EArgumentType.NOT_FIRST_ARGUMENT)
                        @hiddenFormField(argForm("contextId"))
                        @hiddenFormField(argForm("lang"))
                        @hiddenFormField(argForm("shade"))
                        @hiddenFormField(argForm("shadeLink"))
                        @hiddenFormField(searchForm("inGroup"))
                    </form>
                    @if(context.getType == EContributionType.TEXT && contributionType == EContributionType.ARGUMENT_CONTEXTUALIZED) {
                        @footerBtns(false)
                    }
                </div>

                <div id="tovalidate-content" class="col-xs-12 toggle-content" style="display: none">
                    @if(candidates == null || candidates.isEmpty){
                        <br>
                        <h4>@Messages("argument.links.validate.noresults")</h4>
                        <br>
                        @if(context.getType == EContributionType.TEXT) {
                            @footerBtns(true)
                        }
                    }else{
                        <div id="tovalidate-content-result">
                            @searchResult("", candidates, false, false, null, false, true)
                        </div>
                        @if(context.getType == EContributionType.TEXT) {
                            @footerBtns(false)
                        }
                    }
                </div>
            </div>

            @if(contributionType == EContributionType.ARGUMENT_CONTEXTUALIZED) {
                @context match {
                    case context: TextHolder => {
                        <div id="text-annotated" class="col-xs-12 col-md-6 hidden-xs hidden-sm text-annotated">
                            @searcharea("searchtext", "initial", Messages("text.args.label.searchtext"), Messages("text.args.place.searchtext"), Messages("browse.search.tooltip"))
                            @displayTextContent(context, user, false, true)
                        </div>
                        @hiddenField("text-id", "text-id", context.getId)
                    }
                    case _ => { @* ignore *@ }
                }
            }

        </div>
    </div>

    <div class="modal-footer @if(context.getType == EContributionType.TEXT && contributionType == EContributionType.ARGUMENT_CONTEXTUALIZED){step_1}">
        @if(context.getType != EContributionType.TEXT || contributionType == EContributionType.EXCERPT){
            <div id="search-footer">
                @footerBtns(false)
            </div>
        }else {
            <button type="button" class="btn btn-default pull-left cancel-btn">@Messages("general.btn.cancel")</button>
        }
        <button id="fake-btn" name="submit" style="display: none"></button>
    </div>
}