@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Form to add a new contextualized argument into the knowledge base
*
* @param argumentContextForm the form that holds the contextualized argumen values
* @param helper helper class to fetch predefined values from (types, ...)
* @param user the user profile
* @param map the message map to display (if any)
*
* @author Martin Rouffiange
*@

@import be.webdeb.presentation.web.controllers.entry.ContributionHelper
@import be.webdeb.presentation.web.controllers.entry.argument.ArgumentContextForm
@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.controllers.viz.{EVizPane}
@import be.webdeb.presentation.web.views.html.main
@import be.webdeb.presentation.web.views.html.entry.argumentcontext.editArgumentContextFields
@import be.webdeb.presentation.web.views.html.util.{breadcrumb, message, handleNameMatches, handleFolderNameMatches}
@import helper._


@(
        argumentContextForm: Form[ArgumentContextForm],
        helper : ContributionHelper,
        user : WebdebUser,
        map : java.util.Map[String, String]
)


@scripts = {
    <title>
        @if((argumentContextForm.data.isEmpty && argumentContextForm.value.isEmpty) || argumentContextForm("id").value == "-1") {
            @Messages("entry.folder.new")
        } else {
            @Messages("entry.folder.modify")
        } @Messages("general.metatitle")
    </title>
    <meta name="description" content="@if(argumentContextForm("id").value == "-1") {
        @Messages("entry.folder.submit")
    } else {
        @Messages("entry.folder.btn.modify")}">

    <script src="@routes.Assets.at("javascripts/argument-scripts.js")" type="text/javascript"></script>
    <script type="text/javascript">
            $(document).ready(function() {
                var container = $("#argument-context-div");
                initArgumentListeners(container, container.find("#submit-form"), true);
            });
    </script>
}

@main(user, scripts) {

    @if(! argumentContextForm.hasErrors &&  argumentContextForm.value.nonEmpty) {
        @for((aff, index) <-  argumentContextForm.get.getCitedactors.zipWithIndex) {
            @if(aff.getNameMatches.size > 0 && !aff.getIsDisambiguated) {
                @handleNameMatches(aff.getNameMatches, true, index)
            }
        }
        @for((folder, index) <-  argumentContextForm.get.getFolders.zipWithIndex) {
            @if(folder.getNameMatches.size > 0 && !folder.getIsDisambiguated) {
                @handleFolderNameMatches(folder.getNameMatches, index)
            }
        }
    }

    <div id="msg-div">
        @message(flash)
        @message(map)
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3 class="small-caps text-muted" id="formtitle">
            @if((argumentContextForm.data.isEmpty && argumentContextForm.value.isEmpty) || argumentContextForm("id").value == "-1") {
                @Messages("entry.folder.new")
            } else {
                @Messages("entry.folder.modify")
            }
            </h3>
            <hr>
        </div>

        <div class="col-xs-12" id="argument-context-div">
        @form(be.webdeb.presentation.web.controllers.entry.argument.routes.ArgumentActions.saveContextualized(argumentContextForm("id").value.toLong), 'enctype -> "multipart/form-data") {
            <div class="well">
                @editArgumentContextFields(argumentContextForm, helper, user, map)
                <div id="submit-container" class="form-actions" style="margin-top : 10px;">
                    <a href="@(if(argumentContextForm("id").value == "-1") be.webdeb.presentation.web.controllers.entry.routes.EntryActions.contribute
                    else be.webdeb.presentation.web.controllers.viz.routes.VizActions.argumentContext(argumentContextForm("id").value.toLong, EVizPane.CARTO.id, 0))"
                    class="btn btn-default">
                        <span class="fa fa-times-circle"></span> &nbsp; @Messages("general.btn.cancel")
                    </a>
                    <button type="submit" class="btn btn-primary" id="submit-form">
                    @if(argumentContextForm("id").value == "-1") {
                        @Messages("entry.folder.submit")
                    } else {
                        @Messages("entry.folder.btn.modify")
                            &nbsp; <span class="fa fa-check-circle"></span>
                    }
                    </button>
                </div>
            </div>
        </div>
        }
    </div>
}
