@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Folder's linked texts content part (Lazy Loaded)
*
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.controllers.viz.folder.FolderVizHolder
@import be.webdeb.presentation.web.controllers.entry.EFilterName
@import be.webdeb.presentation.web.controllers.entry.FilterTree
@import be.webdeb.presentation.web.views.html.util.{filterButton}
@import be.webdeb.presentation.web.views.html.util.waitforit

@(
        folder : FolderVizHolder
)

<script type="text/javascript">

  $(document).ready(function () {
    var container = $("#textscontent");

    new DataLoader(container, {
      toCallBefore : findFolderTexts,
      params : @folder.getId
    });
  });

</script>

<div class="col-xs-12 col-lg-10 col-lg-offset-1 no-padding-xs">
  <h3 class="header-inline">@Messages("viz.folder.texts")&nbsp;</h3>

  <div id="textscontent" class="col-xs-12 pageable showall no-padding"></div>

</div>
