@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Main (tabbed) template to visualize a Folder, containing its cartography, radiography, sociography and details.
*
* @param folder the folder to visualize
* @param filters the list of filters that apply here
* @param tab the EVizPane to select which pane is displayed
* @param pov the point of view to select, if any in the selected pane
* @param user the user profile data
* @param map the message map
*
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.controllers.viz.folder.FolderVizHolder
@import be.webdeb.presentation.web.views.html.main
@import be.webdeb.presentation.web.views.html.viz.contributionAdminActions
@import be.webdeb.presentation.web.views.html.viz.folder.{folderDetails, folderCartography, folderTexts, folderRadiography}
@import be.webdeb.presentation.web.views.html.util.{breadcrumb, message, mediaShareBtn}
@import be.webdeb.presentation.web.controllers.viz.{ERadiographyViewKey, EVizPane}
@import be.webdeb.presentation.web.controllers.entry.EFilterName
@import be.webdeb.presentation.web.controllers.entry.FilterTree
@import be.webdeb.presentation.web.views.html.viz.vizHeader
@import be.webdeb.presentation.web.views.html.viz.metaHolder

@import be.webdeb.presentation.web.views.html.viz.folder.folderCited
@(
        folder : FolderVizHolder,
        filters : java.util.Map[EFilterName, java.util.List[FilterTree]],
        tab : EVizPane,
        pov: Integer,
        user : WebdebUser,
        map : java.util.Map[String, String]
)


@scripts = {
  <title>@Messages("general.metatitle.folder.title") @folder.getFolderName @Messages("general.metatitle")</title>
  <meta name="description" content="@Messages("general.metatitle.folder.desc", folder.getFolderName)">

  <script src="@routes.Assets.at("javascripts/actor-scripts.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/folder-scripts.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/excerpt-scripts.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/argument-scripts.js")" type="text/javascript"></script>

  <script type="text/javascript">
    var filterbars = [];
    $(document).ready(function() {
      handleTabs(@tab.id, @pov);
      // manage change tab for filters and content
      manageChangeTab2();
      // auto-creation modal if any
      getAutoCreatedModals();

      /*var folderHierarchy = $(".folder-container");
      initFolderTree(@Html(folder.getParentsHierarchyAsJson), @Html(folder.getChildrenHierarchyAsJson), folderHierarchy);
      $('.nav-tabs a').on('click', function () {
        if ($(this).prop('id').split("_")[1] === "@EVizPane.RADIO.id") {
          initFolderTree(@Html(folder.getParentsHierarchyAsJson), @Html(folder.getChildrenHierarchyAsJson), folderHierarchy);
        }
      });*/
    });
  </script>
}


@main(user, scripts, metaHolder(folder)) {

  <div id="msg-div">
    @message(flash)
    @message(map)
  </div>

  <div class="row" id="folder-viz">
    @vizHeader(folder)

      <!--  viz areas -->
    <div class="col-xs-12 viz-body">
      <ul id="tabs" class="nav nav-tabs" role="tablist"> @* must reverse order *@
        <li role="presentation"><a id="cited_@EVizPane.CITATION.id" href="#cited-tab" aria-controls="cited" role="tab" data-toggle="tab">@Messages("viz.folder.pill.cited")</a></li>
        <li role="presentation"><a id="carto_@EVizPane.CARTO.id" href="#carto-tab" aria-controls="cartography" role="tab" data-toggle="tab">@Messages("viz.folder.pill.cartography")</a></li>
        <li role="presentation"><a id="texts_@EVizPane.TEXTS.id" href="#texts-tab" aria-controls="texts" role="tab" data-toggle="tab">@Messages("viz.folder.pill.texts")</a></li>
        @* <li role="presentation"><a id="radio_@EVizPane.RADIO.id" href="#radio-tab" aria-controls="radiography" role="tab" data-toggle="tab">@Messages("viz.folder.pill.radiography")</a></li> *@
        <li role="presentation"><a id="details_@EVizPane.DETAILS.id" href="#details-tab" aria-controls="details" role="tab" data-toggle="tab">@Messages("viz.folder.pill.details")</a></li>
        <li role="presentation" class="fake-tab">@contributionAdminActions(folder, false, user)</li>
      </ul>

      <div class="tab-content" style="padding-top: 10px">
        <div class="media-share-btn">@mediaShareBtn(folder)</div>
        <div role="tabpanel" class="tab-pane" id="details-tab">
          @folderDetails(folder, user)
        </div>
        <div role="tabpanel" class="tab-pane" id="texts-tab">
        @folderTexts(folder)
        </div>
        <div role="tabpanel" class="tab-pane" id="radio-tab">
        @folderRadiography(folder)
        </div>
        <div role="tabpanel" class="tab-pane" id="cited-tab">
          @folderCited(folder)
        </div>
        <div role="tabpanel" class="tab-pane" id="carto-tab">
          @folderCartography(folder)
        </div>
      </div>
    </div>
  </div>
}
