@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Partial template that displays all details of a folder in a concise way.
*
* @param folder a folder holder to be displayed
* @param min true if the minimal
* @param inSummary boolean saying if the card must be put in a ".summary" class div
*
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.controllers.entry.folder.FolderHolder
@import be.webdeb.presentation.web.views.html.util.folderList
@import be.webdeb.presentation.web.views.html.util.hiddenField
@import be.webdeb.presentation.web.controllers.entry.folder.SimpleFolderForm

@import be.webdeb.presentation.web.controllers.viz.EVizPane
@(
        folder : FolderHolder,
        min : Boolean,
        inSummary : Boolean
)

@item(hierarchy : java.util.List[SimpleFolderForm], hierarchyType : String) = {
  <div>
    @if(hierarchy.isEmpty){
      <div class="padding-large-left">
        -
      </div>
    }else{
      @folderList(hierarchy, hierarchyType, EVizPane.CITATION)
    }
  </div>
}

@if(inSummary) { <div id="summary_@folder.getId" class="summary"> }
<div class="center-flex large">
  @* used when handling name matches *@
  @hiddenField("card-name", "card-name", folder.getFolderName)
  <div class="col-sm-12 contribution-card no-padding-xs">
    @if(min) {
      <p>
        <span class="far fa-folder"></span>&nbsp;<span class="larger-font">@folder.getFolderName</span>
        @if(!folder.getFolderRewordingNames.isEmpty){
          <span>(@folder.getFolderRewordingNames(3).map(f => f.getName).mkString(", "))</span>
        }
      </p>
    }else{
      <span class="text-lowercase text-muted small-font" style="margin-bottom: 2px">@Messages("folder.names.title2")</span>
      <div class="padding-large-left">
      @for((name, index) <- folder.getFolderNames.zipWithIndex) {
        <p>@name.getName (@name.getLang)</p>
      }
      </div>
    }

    @if(!min || !folder.getFolderRewordingNames.isEmpty) {
      @if(!min) {
        <span class="text-lowercase text-muted small-font" style="margin-bottom: 2px">@Messages("folder.rewordingnames.title")</span>
        <div class="padding-large-left">
        @if(folder.getFolderRewordingNames.isEmpty){
          -
        }else {
          @for((name, index) <- folder.getFolderRewordingNames.zipWithIndex) {
            <p>@name.getName (@name.getLang)</p>
          }
        }
        </div>
      }
    }

    @if(!min || !folder.getParents.isEmpty) {
      @if(min) { <p> }
      <span class="text-lowercase text-muted small-font" style="margin-bottom: 2px">@Messages("folder.parent")</span>
      @if(min){
        <span>@folder.getParentsName(3).mkString(", ")</span></p>
      }else{
        @item(folder.getParents, "parents")
      }
    }

    @if(!min || !folder.getChildren.isEmpty) {
      @if(min) { <p> }
      <span class="text-lowercase text-muted small-font" style="margin-bottom: 2px">@Messages("folder.child")</span>
      @if(min){
        <span>@folder.getChildrenName(3).mkString(", ")</span></p>
      }else{
        @item(folder.getChildren, "children")
      }
    }

  </div>
</div>
@if(inSummary) { </div> }