@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Actor sociography pane (allies/opponents), ie, a view where all arguments from given actor are compared to all
* arguments of all other actors and a similarity graph is shown (ranged column with percentages)
*
* @param actor the actor to build a sociography for
* @param viewby the key used to group the other actors on
* @param user current user
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.controllers.viz.actor.{ActorVizHolder, EActorGroupKey}
@import be.webdeb.presentation.web.views.html.util.{exportMenu, filterButton}

@import be.webdeb.presentation.web.views.html.util.waitforit

@(
    actor : ActorVizHolder,
    viewby : EActorGroupKey
)

@* main content *@
<div class="col-xs-12 no-padding-xs">
  <div class="padding-xs">
    <h4 class="text-muted">
      @* @filterButton() *@
      @Messages("viz.actor.socio.pov")&nbsp;
    <span id="point-of-view" class="block-xs">
      @for(k <- EActorGroupKey.getAll) {
        <button type="button" class="btn btn-pov btn-sm btn-default @(if(viewby == k) "btn-success")" value="@k.id">
          @Messages("viz.actor.socio.pov." + k.name.toLowerCase)
        </button>
      }
    </span>
    </h4>
    <hr class="hr-xs-sensible">
  </div>
  <div class="padding-xs">
    @waitforit("waiting")
  </div>
  <div id="sociocontent"></div>
</div>
