@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@
@*
* Actor radiography pane (talks), ie, showing all arguments of given actor with statistics regarding similarity links. (Lazy loaded)
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@

@import be.webdeb.presentation.web.controllers.viz.actor.EActorSortKey
@import be.webdeb.presentation.web.views.html.util.{filterButton}
@import be.webdeb.presentation.web.views.html.util.waitforit

@import be.webdeb.presentation.web.controllers.viz.actor.ActorVizHolder
@(
        actor: ActorVizHolder
)

<script type="text/javascript">

  $(document).ready(function () {
    var stats = $('[id^="radio-stat"]');
    var graphs = $('[id^="radio-graph"]');
    // create one graph per group of argument
    graphs.each(function () {
      var id = $(this).prop('id').split("_")[1];
      var datatable = $('#datatable_' + id);
      var data = {
        datasets : [
          {label: Messages('viz.radio.stat.author.similar'), backgroundColor: '#39b54a', data : []},
          {label: Messages('viz.radio.stat.author.qualifies'), backgroundColor:  '#f7931e', data : []},
          {label: Messages('viz.radio.stat.author.opposes'), backgroundColor:  '#ff1d25', data : []}]
      };

      var count = 0;
      for(var i = 0; i < datatable.children().length; i++){
        data.datasets[i].data.push(parseInt(datatable.children().eq(i).text()));
      }

      var width = $(this).parents("#radio-stat_" + id).width();
      $(this).prop("height", 100);
      $(this).prop("width", (width - 20 < 700 ? 700 : width - 20));
      $(this).parent().parent().prop("width", width);
      makeHorizontalBarGraph($(this), data, {display : true, text : Messages('viz.actor.radio.charttitle')}, {display : false});
    });

    // manage "add new" button to open tooltip box from radiography (reloaded at each "sort by" change)
    var tooltip = $('[id^="tooltip-new-"]');
    $(tooltip).find('[data-toggle="tooltip"]').tooltip();
    tooltip.on('click', function() {
      $(this).popover("toggle");
      $('[id^="radio-new"]').each(function() {
        $(this).on('click', function() {
          // open modal with "search text" bar
          openSearchModal($(this).prop('id').split('_')[1], $(this).val(), tooltip);
        });
      });
    });

    // close tooltip on click outside
    $('body').on('click', function (e) {
      if (!$(e.target).parent().hasClass('popover') && !$(e.target).hasClass('btn-link')) {
        tooltip.popover("hide");
      }
    });

    var container = $("#radiocontent");
    argumentOptionsHandler(container);
    excerptOptionsHandler(container);

    initContainerPagers(container);

    new DataLoader(container.find("#radio-data-display-1 > div"), {
      toCallBefore : findActorExcerptsWhereThinker,
      params : @actor.getId,
      filterButtonContainer : container
    });

    new DataLoader(container.find("#radio-data-display-0 > div"), {
      toCallBefore : findActorArgumentsWhereThinker,
      params : @actor.getId,
      filterButtonContainer : container
    });

    var pov = container.parent().find(".btn-pov.btn-success");
    $('.radio-data-display').hide();
    $('#radio-data-display-' + pov.val()).show();
  });

</script>

<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 no-padding-xs">

  <h4 style="display:inline-block">
    <span class="text-muted">@Messages("viz.argument.display.pov.title")</span>&nbsp;
    <span id="display-type">
    @for(i <- 0 to 1) {
      <button type="button" class="btn btn-pov btn-sm btn-default @(if(i == 0) "btn-success")" value="@i">
      @Messages("viz.folder.argsexcs.pov." + i)
      </button>
    }
    </span>
  </h4>

  <div id="radiocontent">
    <div id="radio-data-display-0" class="col-xs-12 radio-data-display no-padding">
      <div></div>
    </div>

    <div id="radio-data-display-1" class="col-xs-12 radio-data-display no-padding" style="display: none">
      <div></div>
    </div>
  </div>

</div>
