@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Reusable actor ID card
*
* @param actor an actor to be displayed
* @param inSummary boolean saying if the card must be put in a ".summary" class div. if not, the avatar is also editable
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.views.html.util.{affiliationList, actorNamesList, hiddenField}
@import be.webdeb.presentation.web.controllers.entry.actor.ActorHolder

@import be.webdeb.presentation.web.controllers.viz.EVizPane
@import be.webdeb.presentation.web.views.html.util.placesInlineList
@import be.webdeb.presentation.web.views.html.util.foldersInlineList
@(
    actor : ActorHolder,
    inSummary : Boolean
)


@if(inSummary) { <div id="summary_@actor.getId" class="summary"> }
<div class="center-flex">
  <div id="avatar" class="col-sm-6 col-md-3 no-padding-xs">
    @if(!inSummary && actor.hasDefaultAvatar) {
      @actor.getActortype match {
        case 0 | 1 => {
          <div class="avatar empty center-flex" style="background-image: url(/avatar/@actor.getSomeAvatar)">
            <form id="form" enctype="multipart/form-data">
              <div class="input-group file-input-group">
                <input type="text" id="actorId" name="actorId" class="form-control hidden" value="@actor.getId">

                <div class="btn btn-default file-input-group-input">
                  <span class="file-input-title">@Messages("viz.actor.avatar.btn")</span>
                  <input type="file" accept="image/*" id="picture" name="picture" class="form-control"
                    title="@Messages("viz.actor.avatar.tooltip")"/>
                </div>
              </div>
            </form>
          </div>
        }
        case _ => {
          <img class="avatar @(if(inSummary) "small")" src="/avatar/@actor.getSomeAvatar" alt="@Messages("actor.label.pic.noimage")">
        }
      }
    } else {
      <img class="avatar @(if(inSummary) "small")" src="/avatar/@actor.getSomeAvatar" alt="@Messages("actor.label.pic.noimage")">
    }
  </div>

  <div class="col-sm-6 col-md-9 contribution-card no-padding-xs">

    @* used when handling name matches *@
    @hiddenField("card-name", "card-name", actor.getFullname)
    @hiddenField("card-actortype", "card-actortype", actor.getActortype)

    @actor.getActortype match {
      case 0 => {
        <span class="larger-font block-xs">@actor.getFullname</span>
        <span class="text-muted">
          <span class="text-lowercase">
            @actor.getGender @actor.getBirthdate @(if(actor.getDeathdate != "") " - ".concat(actor.getDeathdate))
          </span>
          @(if(actor.getResidence != "") "(".concat(actor.getResidence).concat(")"))
        </span>
        @if(actor.getCrossref != "" && !inSummary) {
          <p><a target="_blank" class="primary" href="@actor.getCrossref" title="@actor.getCrossref"><span class="forcewrap">@actor.getCrossrefNamed</span></a></p>
        }
        @if(inSummary && actor.getAffiliations.size > 0) {
          <p>@affiliationList("actor.label.affiliation.person.affiliationsForm", actor.getAffiliations, false)</p>
        }

        @if(actor.getQualifications.size() > 0) {
          <div>
          @affiliationList("actor.label.affiliation.qualification.qualifications", actor.getQualifications, false)
          </div>
        }
        @if(actor.getFiliations.size() > 0) {
          <div>
          @affiliationList("actor.label.affiliation.filiation.children", actor.getFiliations, true)
          </div>
        }
        @if(actor.getFiliationsChildren.size() > 0) {
          <div>
          @affiliationList("actor.label.affiliation.filiation.parents", actor.getFiliationsChildren, true)
          </div>
        }
      }

      case 1 => {
        <span class="larger-font">@actor.getFullname</span>

        @if(!inSummary && actor.getOldorgnames.size > 0) {
          <p>@actorNamesList("actor.label.affiliation.org.alloldnames", actor.getActorNameAsStringList(actor.getOldorgnames))</p>
        }

        <span class="text-muted">
          @if(actor.getPlaces.size() > 0) {
            <p>
              @Messages("actor.label.headoffice")
              @placesInlineList(actor.getId, actor.getPlaces)
            </p>
          }

          <span class="text-lowercase">
            @actor.getCreationDate @(if(actor.getTerminationDate != "") " - ".concat(actor.getTerminationDate))
          </span>

          @if(actor.getOfficialNumber != "") {
            <span class="italic"> -- @actor.getOfficialNumber</span>
          }
        </span>
        <p><span class="large-font text-muted">@actor.getLegalStatus.toLowerCase </span></p>

        @if(actor.getBusinessSectors.size > 0) {
          <p @if(inSummary) { class="forcewrap"}>
            <span class="text-muted small-font">@Messages("actor.sumup.sector")</span>
            @actor.getBusinessSectors.mkString(", ")
          </p>
        }

        @if(actor.getFolders.size() > 0) {
          <div>
            <span class="text-muted small-font text-lowercase">@Messages("viz.actor.folders.label")</span>
            @foldersInlineList(actor.getFolders, EVizPane.CITATION)
          </div>
        }

        @if(actor.getOrgcrossref != "" && !inSummary) {
          <p><a target="_blank" class="primary" href="@actor.getOrgcrossref" title="@actor.getOrgcrossref"><span class="forcewrap">@actor.getOrgcrossrefNamed</span></a></p>
        }
      }

      case _ => {
        <span class="larger-font">@actor.getFullname &nbsp;&nbsp;&nbsp;<span class="text-muted small-font">@Messages("actor.label.unknowntype")</span></span>
        @if(inSummary && actor.getAffiliations.size > 0) {
          <p>@affiliationList("actor.label.affiliation.org.orgaffiliations", actor.getAffiliations, false)</p>
        }
      }
    }

  </div>
</div>
@if(inSummary) { </div> }
