@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Actor cited pane, ie, showing all arguments where given actor is cited, with statistics regarding similarity links. (Lazy loaded)
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@

@import be.webdeb.presentation.web.controllers.viz.actor.EActorSortKey
@import be.webdeb.presentation.web.views.html.util.{filterButton}
@import be.webdeb.presentation.web.views.html.util.waitforit
@import be.webdeb.presentation.web.controllers.viz.actor.ActorVizHolder

@(
        actor: ActorVizHolder
)

<script type="text/javascript">

  $(document).ready(function () {

    // manage "add new" button to open tooltip box from radiography (reloaded at each "sort by" change)
    var tooltip = $('[id^="cited-tooltip-new-"]');
    $(tooltip).find('[data-toggle="tooltip"]').tooltip();
    tooltip.on('click', function() {
      $(this).popover("toggle");
      $('[id^="cited-new"]').each(function() {
        $(this).on('click', function() {
          // open modal with "search text" bar
          openArgumentSearchModal($(this).prop('id').split('_')[1], $(this).val(), tooltip);
        });
      });
    });

    // close tooltip on click outside
    $('body').on('click', function (e) {
      if (!$(e.target).parent().hasClass('popover') && !$(e.target).hasClass('btn-link')) {
        tooltip.popover("hide");
      }
    });

    var container = $("#citedcontent");
    argumentOptionsHandler(container);
    excerptOptionsHandler(container);

    initContainerPagers(container);

    new DataLoader(container.find("#cited-data-display-1 > div"), {
      toCallBefore : findActorExcerptsWhereCited,
      params : @actor.getId,
      filterButtonContainer : container
    });

    new DataLoader(container.find("#cited-data-display-0 > div"), {
      toCallBefore : findActorArgumentsWhereCited,
      params : @actor.getId,
      filterButtonContainer : container
    });

    var pov = container.parent().find(".btn-pov.btn-success");
    $('.cited-data-display').hide();
    $('#cited-data-display-' + pov.val()).show();
  });

</script>

<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 no-padding-xs">
  <h4 style="display:inline-block">
    <span class="text-muted">@Messages("viz.argument.display.pov.title")</span>&nbsp;
    <span id="display-type">
    @for(i <- 0 to 1) {
      <button type="button" class="btn btn-pov btn-sm btn-default @(if(i == 0) "btn-success")" value="@i">
      @Messages("viz.folder.argsexcs.pov." + i)
      </button>
    }
    </span>
  </h4>

  <div id="citedcontent">
    <div id="cited-data-display-0" class="col-xs-12 cited-data-display no-padding" style="display: none">
      <div></div>
    </div>

    <div id="cited-data-display-1" class="col-xs-12 cited-data-display no-padding">
      <div></div>
    </div>
  </div>

</div>
