@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Main (tabbed) template to visualize a Text, containing its cartography, radiography, sociography and details.
*
* @param text the text to visualize
* @param filters the list of filters that apply here
* @param tab the EVizPane to select which pane is displayed
* @param pov the point of view to select, if any in the selected pane
* @param user the user profile data
* @param map the message map
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.controllers.viz.text.TextVizHolder
@import be.webdeb.presentation.web.views.html.main
@import be.webdeb.presentation.web.views.html.viz.contributionAdminActions
@import be.webdeb.presentation.web.views.html.viz.text.{textCartography, textRadiography, textDetails}
@import be.webdeb.presentation.web.views.html.util.{breadcrumb, message, foldersInlineList, mediaShareBtn}
@import be.webdeb.presentation.web.views.html.util.helpButton
@import be.webdeb.presentation.web.controllers.viz.{ERadiographyViewKey, EVizPane}
@import be.webdeb.presentation.web.views.html.viz.vizHeader
@import be.webdeb.presentation.web.views.html.viz.metaHolder

@import be.webdeb.presentation.web.views.html.viz.text.textCited
@(
    text : TextVizHolder,
    filters : java.util.Map[String, java.util.Collection[java.util.Map.Entry[String, String]]],
    tab : EVizPane,
    pov: Integer,
    user : WebdebUser,
    map : java.util.Map[String, String]
)


@scripts = {
  <title>@Messages("general.metatitle.text.title") @text.getTitle @Messages("general.metatitle")</title>
  <meta name="description" content="@Messages("general.metatitle.text.desc")">

  <script src="@routes.Assets.at("javascripts/actor-scripts.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/argument-scripts.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/excerpt-scripts.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/text-scripts.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/justificationtree.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/folder-scripts.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/jQuery.highlighter.min.js")" type="text/javascript"></script>
  <script type="text/javascript">
    var filterbars = [];
    $(document).ready(function() {
      handleTabs(@tab.id, @pov);
      var params = {
        carto : {isToLoad : false},
        radio : {isToLoad : true},
        socio : {isToLoad : false},
        cited : {isToLoad : false},
        texts : {isToLoad : false}
      };
      manageChangeTab(reloadTextLinkedContributions, getTextLinkedContributions, filterbars, @text.getId, params);
      // auto-creation modal if any
      getAutoCreatedModals();
    });
  </script>
}


@main(user, scripts, metaHolder(text)) {


  <div id="msg-div">
    @message(flash)
    @message(map)

    <div id="error-save" class="alert alert-fixed alert-danger" style="display: none">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>@Messages("danger")</strong> @Messages("text.links.save.error")
    </div>
    <div id="warning-link-exists" class="alert alert-fixed alert-warning" style="display: none">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>@Messages("warning")</strong> @Messages("argument.links.alreadyexist")
    </div>
    <div id="success-save" class="alert alert-fixed alert-success" style="display: none">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>@Messages("success")</strong> @Messages("text.links.save.success")
    </div>
  </div>
  <div id="success-save" class="alert alert-fixed alert-success" style="display: none">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>@Messages("success")</strong> @Messages("text.links.save.success")
  </div>
  <div id="success-delete" class="alert alert-fixed alert-success" style="display: none">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>@Messages("success")</strong> @Messages("general.delete.success")
  </div>
  <div id="error-delete" class="alert alert-fixed alert-danger" style="display: none">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>@Messages("danger")</strong> @Messages("general.delete.error")
  </div>

  <div class="row" id="text-viz">
    @vizHeader(text)

      <!--  viz areas -->
    <div class="col-xs-12 viz-body no-padding">
      <div class="col-xs-12">
        <ul id="tabs" class="nav nav-tabs" role="tablist"> @* must reverse order *@
          <li role="presentation"><a id="cited_@EVizPane.CITATION.id" href="#cited-tab" aria-controls="cited" role="tab" data-toggle="tab">@Messages("viz.text.pill.cited")</a></li>
          <li role="presentation"><a id="carto_@EVizPane.CARTO.id" href="#carto-tab" aria-controls="cartography" role="tab" data-toggle="tab">@Messages("viz.text.pill.cartography")</a></li>
          <li role="presentation"><a id="radio_@EVizPane.RADIO.id" href="#radio-tab" aria-controls="radiography" role="tab" data-toggle="tab">@Messages("viz.text.pill.radiography")</a></li>
          <li role="presentation"><a id="details_@EVizPane.DETAILS.id" href="#details-tab" aria-controls="details" role="tab" data-toggle="tab">@Messages("viz.text.pill.details")</a></li>
          <li role="presentation" class="fake-tab">@contributionAdminActions(text, false, user)</li>
          <li role="presentation" class="fake-tab hidden-xs">
            <button onclick="window.location = '@be.webdeb.presentation.web.controllers.entry.text.routes.TextActions.textExcerpts(text.getId)'" title="@Messages("viz.text.args.tooltip")" class="btn btn-link primary">
              <span class="fa fa-cogs fixed-size"></span> @Messages("viz.text.args.btn")
            </button>
          </li>
          <li role="presentation" class="fake-tab pull-right">
            <div>@helpButton("viz.text", false)</div>
          </li>
        </ul>
      </div>

      <div class="tab-content col-xs-12 no-padding-xs" style="padding-top: 10px">
        <div class="media-share-btn">@mediaShareBtn(text)</div>
        <div role="tabpanel" class="tab-pane" id="carto-tab">
          <div class="instructions hidden-xs">@Messages("viz.text.desc.cartography")</div>
          @textCartography(text)
        </div>


        <div role="tabpanel" class="tab-pane padding-xs" id="radio-tab">
          <div class="instructions padding-xs">@Messages("viz.text.desc.radiography")</div>
          @textRadiography(ERadiographyViewKey.TEXT)
        </div>
        <div role="tabpanel" class="tab-pane" id="cited-tab">
          @textCited(text)
        </div>
        <div role="tabpanel" class="tab-pane" id="details-tab">
          @textDetails(text, user)
        </div>
      </div>
    </div>
  </div>
}
