@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Parametric box to display a single text in a detailed radiography (similarity-map)
*
* @param vizText the text being visualized now (used to get the metrics)
* @param text the holder of the text to be displayed in the radiography part
* @param viewby switch key to know the current point of view
*
* @author Fabian Gilson
*@


@import be.webdeb.core.api.argument.EArgumentLinkShade
@import be.webdeb.presentation.web.controllers.viz.{ERadiographyViewKey, EVizPane}
@import be.webdeb.presentation.web.controllers.viz.text.TextVizHolder
@import be.webdeb.presentation.web.views.html.util.authorInlineList


@(
        vizText : TextVizHolder,
        text : TextVizHolder,
        viewby: ERadiographyViewKey
)

<div class="text-muted padding-top-xs">
    @Messages("viz.radio.texts") (@vizText.getExceptInText(text.getId, EVizPane.RADIO))
<span style="margin-left:10px">
    @for(i <- 0 until vizText.getExcerptByShadeInText(text.getId, EArgumentLinkShade.ILLUSTRATE, EVizPane.RADIO)) {
        <span class="stat-circle similar"></span>
    }
    @for(i <- 0 until vizText.getExcerptByShadeInText(text.getId, EArgumentLinkShade.SHADED_EXAMPLE, EVizPane.RADIO)) {
        <span class="stat-circle qualifies"></span>
    }
    @for(i <- 0 until vizText.getExcerptByShadeInText(text.getId, EArgumentLinkShade.COUNTER_EXAMPLE, EVizPane.RADIO)) {
        <span class="stat-circle opposes"></span>
    }
</span>
</div>

<blockquote class="no-border" style="font-style: normal!important;">
    <a class="large-font" href="@be.webdeb.presentation.web.controllers.viz.routes.VizActions.text(text.getId, EVizPane.DETAILS.id, 0)">
    @text.getTitle
    </a>
    <footer class="bottom-border">
        <cite>
            @viewby match {
                case ERadiographyViewKey.AUTHOR => {
                    @(if(text.getSourceTitle != null) text.getSourceTitle) @(if(text.getPublicationDate != null) text.getPublicationDate)
                }
                case ERadiographyViewKey.SOURCE => {
                    @authorInlineList(text.getAuthors, EVizPane.TEXTS) @(if(text.getPublicationDate != null) ", ".concat(text.getPublicationDate))
                }
                case ERadiographyViewKey.DATE => {
                    @authorInlineList(text.getAuthors, EVizPane.TEXTS) @(if(text.getSourceTitle != null) ", ".concat(text.getSourceTitle))
                }
                case ERadiographyViewKey.TEXT => {
                    @authorInlineList(text.getAuthors, EVizPane.TEXTS) @(if(text.getSourceTitle != null) ", ".concat(text.getSourceTitle))
                    @(if(text.getPublicationDate != null) text.getPublicationDate)
                }
                case _ => { @* ignore, wrong key for this view *@ }
            }
            <span class="stat-circle @text.getShade.name.toLowerCase"></span>
        </cite>
    </footer>
</blockquote>