@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Text radiography pane, ie, depicting all texts having arguments with similarity links regarding arguments
* from given text. (Lazy Loaded)
*
* @param viewby switch key to know the current point of view
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@

@import be.webdeb.core.api.contribution.EContributionType

@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.controllers.viz.ERadiographyViewKey
@import be.webdeb.presentation.web.controllers.viz.text.TextVizHolder

@import be.webdeb.presentation.web.views.html.util.waitforit

@(
        viewby: ERadiographyViewKey
)

@* main content *@
<div class="col-xs-12 no-padding">
  <div>
    <h4>
      <span class="text-muted block-xs">@Messages("viz.radio.pov")</span>&nbsp;
      <span id="point-of-view">
      @for(k <- ERadiographyViewKey.getAll(EContributionType.TEXT)) {
        <button type="button" class="btn btn-pov btn-sm btn-default @(if(viewby == k) "btn-success")" value="@k.id">
        @Messages("viz.radio.pov." + k.name.toLowerCase)
        </button>
      }
      </span>
    </h4>
  </div>
  <hr class="hr-xs-sensible">
  @waitforit("waiting")
  <div id="radiocontent"></div>
</div>

