@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Modal frame to edit profession names and profession like
*
* @param profession the profession edit form
* @param helper helper class to fetch predefined values from languages
* @param map the message map (may be null)
*
* @author Martin Rouffiange
*@


@import be.webdeb.core.api.contributor.EContributorRole
@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.views.html.util.{bootstrapInput, emptyModalframe, hiddenFormField, inlineform, noerrorForm, hiddenField, message}
@import helper._
@import be.webdeb.presentation.web.controllers.entry.ContributionHelper
@import be.webdeb.presentation.web.controllers.entry.actor.ProfessionEditForm


@(
      profession : Form[ProfessionEditForm],
      helper : ContributionHelper,
      user : WebdebUser,
      map : java.util.Map[String, String]
)

@implicitFieldConstructor = @{ FieldConstructor(bootstrapInput.render) }

<script src="@routes.Assets.at("javascripts/settings-scripts.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/profession-scripts.js")" type="text/javascript"></script>

<script type="text/javascript">
        manageEditProfessionModal();
</script>

<div id="msg-div">
  @message(map)
</div>

@emptyModalframe("editProfession", false, "default", "", false) {
  <div class="modal-header">
    <h3 class="modal-title small-caps text-muted">
      @if(user.getERole.equals(EContributorRole.ADMIN)) {
        @Messages("admin.edit.profession.admin.title")
      }else{
        @Messages("admin.edit.profession.title")
      }
      <span class="text-primary"></span>
    </h3>
  </div>

  <div class="modal-body row">
    <div id="form-content" class="col-xs-12">
      <form id="profession-form">
        <fieldset>
        @hiddenFormField(profession("professionId"))
        @hiddenFormField(profession("userRole"))

        <div class="col-xs-12">
          <span>@Html(Messages("edit.profession.description"))</span>
        </div>

        <div id="professionNames" class="controls col-xs-12 no-padding">
          <label class="control-label">@Messages("admin.edit.profession.edit.name.title")</label>
            <div class="controls input-group input-group-border padding-group smaller-font">
              @repeat(profession("professionNames"), min = 1) { professionName =>
                <div class="entry input-group padding-group">
                  <div class="col-xs-3 padding-field">
                    @select(
                      profession(professionName.name.concat(".lang")),
                      options(helper.getLanguages(ctx.lang.code)),
                      '_default -> Messages("actor.place.namelang"),
                      '_label -> Messages("actor.label.namelang"),
                      'class -> "form-control",
                      'autocomplete -> "off"
                    )(handler = noerrorForm, implicitly[Messages])
                  </div>
                  <div class="col-xs-3 padding-field">
                    @select(
                      profession(professionName.name.concat(".gender")),
                      options(helper.getWordGenders(ctx.lang.code)),
                      '_default -> Messages("actor.place.gender"),
                      '_label -> Messages("admin.edit.profession.label.gender"),
                      'class -> "form-control",
                      'autocomplete -> "off"
                    )(handler = noerrorForm, implicitly[Messages])
                  </div>
                  <div class="col-xs-6 padding-field">
                  @inputText(
                    profession(professionName.name.concat(".name")),
                    '_placeholder -> Messages("admin.edit.profession.edit.name"),
                    '_label -> Messages("admin.edit.profession.label"),
                    'class -> "form-control profession_name",
                    'autocomplete -> "off"
                  )(handler = noerrorForm, implicitly[Messages])
                  </div>
                  <span class="input-group-btn bottom">
                    <button class="btn btn-default btn-sm btn-add" type="button"><span class="fa fa-plus"></span></button>
                    <button class="btn btn-default btn-sm btn-remove" type="button"><span class="fa fa-minus"></span></button>
                  </span>
                </div>
                @* must handle error message by hand for inlineforms *@
                @profession.errors.map { case (key, error) =>
                  @if(key.startsWith(professionName.name) && error(0).message != "" && !key.startsWith(professionName.name.concat(".name"))) {
                    <div class="no-help"><div class="label label-danger">@Messages(error(0).message)</div></div>
                  }
                }
              }
            </div>
          </div>
          @profession.errors.map { case (key, error) =>
            @if(key.startsWith("profession_name") && error(0).message != "") {
              <div class="no-help"><div class="label label-warning">@Html(Messages(error(0).message))</div></div>
              @hiddenFormField(profession("userWarned"))
            }
          }

          @if(user.getERole.equals(EContributorRole.ADMIN)) {
            <div id ="professionLink" class="col-xs-12 no-padding">
              <div class="col-xs-12 padding-field">
              @inputText(
                profession(profession("professionLink").name.concat(".name")),
                '_label -> Messages("admin.edit.profession.edit.like"),
                'class -> "form-control",
                'autocomplete -> "off"
              )
              </div>
            </div>

            <div class="col-xs-12 no-padding">
              <label for="b-displayHierarchy">
              @Messages("admin.edit.profession.edit.displayhierarchy")
              </label>
              <div id="b-displayHierarchy" class="funkyradio inline">
                <div class="form-group funkyradio-primary">
                  <input id="displayHierarchy-false" type="checkbox" name="displayHierarchy" value="false"
                    @if(profession("displayHierarchy").value == "false"){checked="checked"}>
                  <label for="displayHierarchy-false">@Messages("label.no")</label>
                </div>
                <div class="form-group funkyradio-primary">
                  <input id="displayHierarchy-true" type="checkbox" name="displayHierarchy" value="true"
                    @if(profession("displayHierarchy").value == "true"){checked="checked"}>
                  <label for="displayHierarchy-true">@Messages("label.yes")</label>
                </div>
                @inputText(
                  profession("displayHierarchy"),
                  '_label -> null,
                  'class -> "form-control hidden",
                  'autocomplete -> "off"
                )(handler = inlineform, implicitly[Messages])
              </div>

              @profession.errors.map { case (key, error) =>
                @if(key.contains("displayHierarchy")) {
                  <div class="no-help"><div class="label label-danger">@Messages(error(0).message)</div></div>
                }
              }
            </div>
          }

          @hiddenFormField(profession(profession("professionLink").name.concat(".id")))

        </fieldset>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <div class="form-actions pull-left">
      @*<button type ="button" name="cancel" class="btn btn-default">
      <span class="fa fa-times-circle"></span> &nbsp; @Messages("entry.actor.notnow")
      </button>*@

      <button id="cancel-btn" type="button" name="cancel" class="btn btn-default">@Messages("general.btn.cancel")</button>

      <button id="submit-btn" type="button" name="submit" class="btn btn-primary">
        @Messages("admin.edit.profession.edit.btn")
          &nbsp; <span class="fa fa-check-circle"></span>
      </button>
    </div>
  </div>
}
