@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Partial page with all fields to encode/update an actor
*
* @param actorForm the form to fill in the new actor
* @param helper helper class to fetch predefined values from (countries, genders, types, ...)
* @param map the message map (may be null)
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.controllers.entry.ContributionHelper
@import be.webdeb.presentation.web.controllers.entry.actor.ActorForm
@import be.webdeb.presentation.web.views.html.util.helpButton
@import be.webdeb.presentation.web.views.html.util.{affiliationdiv, bootstrapInput, funkyCheckbox, helpbubble, hiddenField, hiddenFormField, inlineform, noerrorForm, selectWithOptgroup, placediv, foldertagdiv}
@import helper._

@import be.webdeb.core.api.actor.EAffiliationSubtype
@import be.webdeb.core.api.actor.EActorType
@(
    actorForm: Form[ActorForm],
    helper : ContributionHelper,
    map : java.util.Map[String, String]
)


@implicitFieldConstructor = @{ FieldConstructor(bootstrapInput.render) }

<div class="row">
    <div class="col-xs-12 col-sm-6 instructions">@Messages("general.required.fields")</div>
    @helpButton("entry.actor", false)
    <br>
    <br>
</div>

<fieldset>
  @* all needed hidden fields *@
  @hiddenFormField(actorForm("id"))
  @hiddenFormField(actorForm("lang"))
  @hiddenFormField(actorForm("isDisambiguated"))
  @hiddenFormField(actorForm("version"))
  @hiddenFormField(actorForm("inGroup"))
  @hiddenField("previousCall", "previousCall", "")

  @* select type of actor if we do not have an id, or actortype is unset*@
  <div class="col-xs-12 @(if(actorForm("id").value != "-1" && actorForm("actortype").value != "-1") "hidden")"
      style="padding: 0 0 10px 0">

    <div class="label-for-funkyradio">
      @Messages("actor.label.actortype")
    </div>
    <div id="b-actortype" class="funkyradio inline">
      <div class="funkyradio-primary">
        <input id="actortype-0" type="checkbox" name="actortype-0" value="0"
          @if(actorForm("actortype").value == "0"){checked="checked"}>
        <label for="actortype-0">@Messages("actor.label.actortype.0")</label>
      </div>
      <div class="funkyradio-primary">
        <input id="actortype-1" type="checkbox" name="actortype-1" value="1"
          @if(actorForm("actortype").value == "1"){checked="checked"}>
        <label for="actortype-1">@Messages("actor.label.actortype.1")</label>
      </div>
     @hiddenFormField(actorForm("actortype"))
    </div>
    @actorForm.errors.map { case (key, error) =>
      @if(key.equals("actortype")) {
        <div class="label label-danger">@Messages(error(0).message)</div>
      }
    }
  </div>

  <div class="person" id="person_@actorForm("id").value" style="display: none">
    <div class="col-xs-12 no-padding">
      <div class="col-md-7 col-sm-12 col-xs-12 padding-field">
        @inputText(
          actorForm("crossref"),
          '_label -> Messages("actor.label.crossref"),
          'class -> "form-control",
          'autocomplete -> "off"
        )
      </div>
      <div class="col-md-5 col-sm-12 col-xs-12 padding-field">
        <label for="picture">@Messages("general.label.pic")</label>
        <div class="input-group file-input-group">
          @inputText(
            actorForm("avatar"),
            '_label -> null,
            'class -> "form-control file-input-group-filename avatar-field",
            'readonly -> "readonly"
          )(handler = inlineform, implicitly[Messages])
          <span class="input-group-btn">
            <button type="button" class="btn btn-default file-input-clear">
              <span class="fa fa-remove"></span>
              <span class="file-input-title">@Messages("general.label.btn.clear")</span>
            </button>
            <div class="btn btn-default file-input-group-input">
              <span class="fa fa-folder-open-o"></span>
              <span class="file-input-title">@Messages("general.label.btn.browse")</span>
              <input type="file" accept="image/*" name="picture"/>
            </div>
          </span>
        </div>
      </div>
    </div>

    <div class="col-xs-12 no-padding">
      <label class="control-label">@Messages("actor.label.fullname", helper.getLanguage(ctx.lang.code, ctx.lang.code))</label>
      <div class="col-xs-12 input-group input-group-border smaller-font" style="padding-left:15px">
        <div class="col-sm-4 col-xs-12 padding-field">
          @inputText(
            actorForm("name.first"),
            '_label -> Messages("actor.label.name"),
            'class -> "form-control",
            'autocomplete -> "off"
          )(handler = noerrorForm, implicitly[Messages])
        </div>
        <div class="col-sm-4 col-xs-12 padding-field">
          @inputText(
            actorForm("name.last"),
            '_label -> Messages("actor.label.lastname"),
            'class -> "form-control no-margin",
            'autocomplete -> "off"
          )(handler = noerrorForm, implicitly[Messages])
        </div>
        <div class="col-sm-4 col-xs-12 padding-field">
          @inputText(
            actorForm("name.pseudo"),
            '_label -> Messages("actor.label.pseudo"),
            'class -> "form-control no-margin",
            'autocomplete -> "off",
            'bubble -> helpbubble("bubble.title", "bubble.entry.actor.pseudo")
          )(handler = noerrorForm, implicitly[Messages])
        </div>
        @actorForm.errors.map { case (key, error) =>
          @if(key.startsWith("name.") && error(0).message != "") {
            <div class="label label-danger">@Messages(error(0).message)</div>
          }
        }
        @hiddenField("name_lang", "name.lang", ctx.lang.code)
      </div>
      <p class="help-inline">
        <button id="show-spellings" type="button" class="btn btn-sm btn-link secondary"
            data-toggle="collapse" data-target="#spellings">
          @Messages("actor.label.showspellings.person")&nbsp;<span class="fa fa-chevron-down"></span>
        </button>
      </p>
    </div>

    <div id="spellings" class="controls col-xs-12 collapse
        @(if(actorForm.errors.keySet.exists(k => k.startsWith("allnames"))) "in")">
      <label class="control-label">@Messages("actor.label.spellings")</label>
      @repeatWithIndex(actorForm("allnames"), min = 1) { (name, i) =>
        <div id="actornames_@i.toString.concat("_names")" class="entry input-group input-group-border padding-group smaller-font">z
          <div class="col-md-3 padding-field">
          @select(
            actorForm(name.name.concat(".lang")),
            options(helper.getLanguages(ctx.lang.code)),
            '_default -> Messages("actor.place.namelang"),
            '_label -> Messages("actor.label.namelang"),
            'class -> "form-control"
          )(handler = noerrorForm, implicitly[Messages])
          </div>
          <div class="col-md-3 padding-field">
            @inputText(
              actorForm(name.name.concat(".first")),
              '_label -> Messages("actor.label.name"),
              'class -> "form-control",
              'autocomplete -> "off"
            )(handler = noerrorForm, implicitly[Messages])
          </div>
          <div class="col-md-3 padding-field">
          @inputText(
            actorForm(name.name.concat(".last")),
            '_label -> Messages("actor.label.lastname"),
            'class -> "form-control",
            'autocomplete -> "off"
          )(handler = noerrorForm, implicitly[Messages])
          </div>
          <div class="col-md-3 padding-field">
          @inputText(
            actorForm(name.name.concat(".pseudo")),
            '_label -> Messages("actor.label.pseudo"),
            'class -> "form-control",
            'autocomplete -> "off"
          )(handler = noerrorForm, implicitly[Messages])
          </div>
          <span class="input-group-btn bottom">
            <button class="btn btn-default btn-sm btn-add" type="button"><span class="fa fa-plus"></span></button>
            <button class="btn btn-default btn-sm btn-remove" type="button"><span class="fa fa-minus"></span></button>
          </span>
        </div>
        @actorForm.errors.map { case (key, error) =>
          @if(key.startsWith(name.name.toString) && error(0).message != "") {
            <div class="label label-danger">@Messages(error(0).message)</div>
          }
        }
      }
      <p class="help-inline">@Messages("actor.help.spellings")</p>
    </div>

    <div class="col-xs-12 no-padding" style="background-color: #f9f9f9;margin-bottom:15px">
      @affiliationdiv(actorForm, "affiliationsForm", "actor.label.affiliation.person", EActorType.PERSON, EAffiliationSubtype.AFFILIATION, true, helper)
    </div>

    <div class="col-xs-12 no-padding" style="background-color: #e4e5ee;margin-bottom:15px">
      @affiliationdiv(actorForm, "qualificationsForm", "actor.label.affiliation.qualification", EActorType.PERSON, EAffiliationSubtype.AFFILIATION, true, helper)
    </div>

    <div class="col-xs-12 no-padding" style="background-color:#f9f9f9;">
      @affiliationdiv(actorForm, "parentsForm", "actor.label.affiliation.filiation", EActorType.PERSON, EAffiliationSubtype.FILIATION, true, helper)
    </div>

    <div class="col-xs-12 no-padding">
      <div class="col-md-4 col-sm-6 padding-field">
        @inputText(
          actorForm("birthdate"),
          '_label -> Messages("actor.label.birthdate"),
          'placeholder -> Messages("actor.place.date"),
          'class -> "form-control",
          'autocomplete -> "off"
        )
      </div>
      <div class="col-md-4 col-sm-6 padding-field">
      @inputText(
        actorForm("deathdate"),
        '_label -> Messages("actor.label.deathdate"),
        'placeholder -> Messages("actor.place.date"),
        'class -> "form-control",
        'autocomplete -> "off"
      )
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 padding-field">
        @select(
          actorForm("residence"),
          options(helper.getCountries(ctx.lang.code)),
          '_default -> Messages("actor.place.residence"),
          '_label -> Messages("actor.label.residence"),
          'class -> "form-control",
          'autocomplete -> "off"
        )
      </div>
      <div class="col-sm-6 padding-field">
        <label for="b-gender">@Messages("actor.label.gender")</label>
        <div id="b-gender" class="funkyradio inline">
        @for((k,v) <- helper.getGenders(ctx.lang.code)) {
          <div class="form-group funkyradio-primary">
            <input id="gender-@k" type="checkbox" value="@k">
            <label for="gender-@k">@v</label>
          </div>
        }
        </div>
        @hiddenFormField(actorForm("gender"))
      </div>
    </div>
  </div> <!-- div person -->


  <div class="org" id="organization_@actorForm("id").value" style="display: none">
    <div class="col-xs-12 no-padding">
      <div class="col-sm-6 col-xs-12 padding-field">
        @inputText(
          actorForm("orgcrossref"),
          '_label -> Messages("actor.label.orgcrossref"),
          'class -> "form-control",
          'autocomplete -> "off"
        )
      </div>
      <div class="col-sm-3 col-xs-12 padding-field">
      @inputText(
        actorForm("officialNumber"),
        '_label -> Messages("actor.label.officialnumber"),
        'class -> "form-control",
        'autocomplete -> "off",
        'bubble -> helpbubble("bubble.title", "bubble.entry.actor.officialnumber")
      )
      </div>
      <div class="col-sm-3 col-xs-12 padding-field">
        <label for="picture">@Messages("general.label.logo")</label>
        <div class="input-group file-input-group">
          @inputText(
            actorForm("orgavatar"),
            '_label -> null,
            'class -> "form-control file-input-group-filename avatar-field",
            'readonly -> "readonly"
          )(handler = inlineform, implicitly[Messages])
          <span class="input-group-btn">
            <button type="button" class="btn btn-default file-input-clear">
              <span class="fa fa-remove"></span>
              <span class="file-input-title">@Messages("general.label.btn.clear")</span>
            </button>
            <div class="btn btn-default file-input-group-input">
              <span class="fa fa-folder-open-o"></span>
              <span class="file-input-title">@Messages("general.label.btn.browse")</span>
              <input type="file" accept="image/*" name="picture"/>
            </div>
          </span>
        </div>
        <p class="visible-xs"></p>
      </div>
    </div>

    <div class="col-xs-12 no-padding">
      <div class="col-md-4 col-sm-8 padding-field correct-tt-margin">
        @inputText(
          actorForm("orgname.last"),
          '_label -> Messages("actor.label.orgname", helper.getLanguage(ctx.lang.code, ctx.lang.code)),
          'class -> "form-control",
          'autocomplete -> "off"
        )(handler = noerrorForm, implicitly[Messages])

      </div>
      <div class="col-md-2 col-sm-4 padding-field">
        @inputText(
          actorForm("orgname.first"),
          '_label -> Messages("actor.label.acronym"),
          'class -> "form-control",
          'autocomplete -> "off",
          'bubble -> helpbubble("bubble.title","bubble.entry.actor.acro")
        )(handler = noerrorForm, implicitly[Messages])
        <p class="visible-xs"></p>
      </div>
      @actorForm.errors.map { case (key, error) =>
        @if(key.startsWith("orgname.") && error(0).message != "") {
          <div class="label label-danger">@Messages(error(0).message)</div>
        }
      }

      <div class="col-md-3 col-sm-6 padding-field">
        @inputText(
          actorForm("creationDate"),
          '_label -> Messages("actor.label.creation"),
          'placeholder -> Messages("actor.place.date"),
          'class -> "form-control",
          'autocomplete -> "off"
        )(handler = noerrorForm, implicitly[Messages])
        <p class="visible-xs"></p>
      </div>
      <div class="col-md-3 col-sm-6 padding-field">
        @inputText(
          actorForm("terminationDate"),
          '_label -> Messages("actor.label.termination"),
          'placeholder -> Messages("actor.place.date"),
          'class -> "form-control",
          'autocomplete -> "off"
        )(handler = noerrorForm, implicitly[Messages])
      </div>
    </div>
    <div class="col-xs-12 no-padding">
      <p class="help-inline">
        <button id="show-orgspellings" type="button" class="btn btn-sm btn-link secondary"
            data-toggle="collapse" data-target="#orgspellings">
          @Messages("actor.label.showspellings.org")&nbsp;<span class="fa fa-chevron-down"></span>
        </button>
        <button id="show-oldnames" type="button" class="btn btn-sm btn-link secondary"
        data-toggle="collapse" data-target="#oldnames">
          @Messages("actor.label.showoldnames.org")&nbsp;<span class="fa fa-chevron-down"></span>
        </button>
      </p>
      @hiddenField("orgname_lang", "orgname.lang", ctx.lang.code)
    </div>

    <div id="orgspellings" class="controls col-xs-12 collapse
        @(if(actorForm.errors.keySet.exists(k => k.startsWith("allorgnames"))) "in")">
      <label class="control-label">@Messages("actor.label.spellings")</label>
      @repeatWithIndex(actorForm("allorgnames"), min = 1) { (name, i) =>
        <div id="actororgnames_@i.toString.concat("_names")" class="entry input-group input-group-border padding-group smaller-font">
          <div class="col-md-4 col-sm-12 padding-field">
          @select(
            actorForm(name.name.concat(".lang")),
            options(helper.getLanguages(ctx.lang.code)),
            '_default -> Messages("actor.place.namelang"),
            '_label -> Messages("actor.label.namelang"),
            'class -> "form-control",
            'autocomplete -> "off"
          )(handler = noerrorForm, implicitly[Messages])
          </div>
          <div class="col-md-6 col-sm-10 padding-field">
          @inputText(
            actorForm(name.name.concat(".last")),
            '_label -> Messages("actor.label.orgname.simple"),
            'class -> "form-control",
            'autocomplete -> "off"
          )(handler = noerrorForm, implicitly[Messages])
          </div>
          <div class="col-md-2 col-sm-2 padding-field">
          @inputText(
            actorForm(name.name.concat(".first")),
            '_label -> Messages("actor.label.acronym"),
            'class -> "form-control",
            'autocomplete -> "off",
            'bubble -> helpbubble("bubble.title","bubble.entry.actor.acro")
          )(handler = noerrorForm, implicitly[Messages])
          </div>
          <span class="input-group-btn bottom">
            <button class="btn btn-default btn-sm btn-add" type="button"><span class="fa fa-plus"></span></button>
            <button class="btn btn-default btn-sm btn-remove" type="button"><span class="fa fa-minus"></span></button>
          </span>
        </div>
        @actorForm.errors.map { case (key, error) =>
          @if((key.startsWith(name.name.toString) || key.startsWith("Date")) && error(0).message != "") {
            <div class="label label-danger">@Messages(error(0).message)</div>
          }
        }
      }
      <p class="help-inline">@Messages("actor.help.spellings")</p>
    </div>

    <div id="oldnames" class="controls col-xs-12 collapse
        @(if(actorForm.errors.keySet.exists(k => k.startsWith("oldorgnames"))) "in")">
      <label class="control-label">@Messages("actor.label.oldnames")
        @helpbubble("bubble.title", "bubble.entry.actor.showoldnames.org")</label>
      @repeatWithIndex(actorForm("oldorgnames"), min = 1) { (name, i) =>
        <div id="oldnames_@i.toString.concat("_names")" class="entry input-group input-group-border padding-group smaller-font">
          <div class="col-md-4 col-sm-12 padding-field">
          @select(
            actorForm(name.name.concat(".lang")),
            options(helper.getLanguages(ctx.lang.code)),
            '_default -> Messages("actor.place.namelang"),
            '_label -> Messages("actor.label.namelang"),
            'class -> "form-control",
            'autocomplete -> "off"
          )(handler = noerrorForm, implicitly[Messages])
          </div>
          <div class="col-md-6 col-sm-10 padding-field">
          @inputText(
            actorForm(name.name.concat(".last")),
            '_label -> Messages("actor.label.orgname.simple"),
            'class -> "form-control",
            'autocomplete -> "off"
          )(handler = noerrorForm, implicitly[Messages])
          </div>
          <div class="col-md-2 col-sm-2 padding-field">
          @inputText(
            actorForm(name.name.concat(".first")),
            '_label -> Messages("actor.label.acronym"),
            'class -> "form-control",
            'autocomplete -> "off",
            'bubble -> helpbubble("bubble.title","bubble.entry.actor.acro")
          )(handler = noerrorForm, implicitly[Messages])
          </div>
          <span class="input-group-btn bottom">
            <button class="btn btn-default btn-sm btn-add" type="button"><span class="fa fa-plus"></span></button>
            <button class="btn btn-default btn-sm btn-remove" type="button"><span class="fa fa-minus"></span></button>
          </span>
        </div>
        @actorForm.errors.map { case (key, error) =>
          @if(key.startsWith(name.name.toString) && error(0).message != "") {
            <div class="label label-danger">@Messages(error(0).message)</div>
          }
        }
      }
      <p class="help-inline">@Messages("actor.help.oldnames")</p>
    </div>

    @affiliationdiv(actorForm, "orgaffiliationsForm", "actor.label.affiliation.org", EActorType.UNKNOWN, EAffiliationSubtype.AFFILIATED, true, helper)

    <div class="col-xs-12 no-padding">
      <label for="b-statuses">@Messages("actor.label.legal")</label>
      <div id="b-statuses" class="funkyradio">
        @for((k,v) <- helper.getLegalStatuses(ctx.lang.code)) {
          <div class="form-group funkyradio-primary col-xs-12">
            <input id="status-@k" type="checkbox" value="@k">
            <label for="status-@k">@v</label>
          </div>
        }
      </div>
      @hiddenFormField(actorForm("legalStatus"))
    </div>

    <div class="col-xs-12 no-padding">
      <label class="control-label">@Messages("actor.label.sector")</label>
      <div class="funkyradio col-xs-12">
        <div class="funkyradio" id="sectordiv">
        @for((k, v) <- helper.getBusinessSectors(ctx.lang.code)) {
          <div class="col-sm-6 col-xs-12 no-padding">
          @checkbox(
            actorForm("allSectors[" + k + "]"),
            '_label -> v,
            '_name -> "allSectors[".concat(k).concat("]")
          )(handler = funkyCheckbox, implicitly[Messages])
          </div>
        }
        </div>
      </div>
    </div>

    @foldertagdiv(actorForm, "folders", "actor", false)

    @placediv(actorForm, "actor.label.headoffice", false)

  </div>
</fieldset>

<div id="error-image" class="alert alert-fixed alert-danger" style="display: none">
  <a href="#" class="close" data-dismiss="alert">&times;</a>
  <strong>@Messages("danger")</strong> @Messages("actor.label.pic.error")
</div>
