@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Template to edit actor details (new and existing)
*
* @param actorForm the form with the actor's details (possibly pre-filled)
* @param helper helper class to fetch predefined values from (countries, genders, types, ...)
* @param user the current user profile
* @param map the message map (may be null)
*
* @author Fabian Gilson
*@


@import be.webdeb.presentation.web.controllers.entry.ContributionHelper
@import be.webdeb.presentation.web.controllers.entry.actor.ActorForm
@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.controllers.viz.EVizPane
@import be.webdeb.presentation.web.views.html.main
@import be.webdeb.presentation.web.views.html.entry.actor.editActorFields
@import be.webdeb.presentation.web.views.html.util.{breadcrumb, handleNameMatches, message, publishInGroup}

@import helper._


@(
    actorForm: Form[ActorForm],
    helper : ContributionHelper,
    user : WebdebUser,
    map : java.util.Map[String,String]
)


@scripts = {
  <title>@actorDescription() @Messages("general.metatitle")</title>
  <meta name="description" content="@if(actorForm("id").value == "-1") {
      @Messages("entry.actor.create")
    } else {
      @Messages("entry.actor.modify.btn")}">

  <script src="@routes.Assets.at("javascripts/actor-scripts.js")" type="text/javascript"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      manageActorPanel();
    });
  </script>
}

@actorDescription() = {
  @if(actorForm("id").value == "-1") {
    @Messages("entry.actor.new")
  } else {
    @Messages("entry.actor.modify")
    @if(actorForm("actortype").value == "0") {
      <span class="text-primary">
      @if(actorForm("name.last").value != null && actorForm("name.last").value != "") {
        @actorForm("name.first").value @actorForm("name.last").value
        @if(actorForm("name.pseudo").value != null && actorForm("name.pseudo").value != "") {
          <span class="small-font">(@actorForm("name.pseudo").value)</span>
        }
      } else {
        @actorForm("name.pseudo").value
      }
      </span>
    } else {
      <span class="text-primary">
        @actorForm("orgname.last").value
        @if(actorForm("orgname.first").value !=  null && actorForm("orgname.first").value != "") {
          <span class="small-font">(@actorForm("orgname.first").value)</span>
        }
      </span>
    }
  }
}


@main(user, scripts) {

  @if(!actorForm.hasErrors && actorForm.value.nonEmpty) {
    @if(actorForm.get.getNameMatches.size > 0 && !actorForm.get.getIsDisambiguated) {
      @handleNameMatches(actorForm.get.getNameMatches, true, -1)
      <script type="text/javascript">
        $(document).ready(function() {
          handleActorNameMatches();
        });
      </script>
    }
    @for((aff, index) <- actorForm.get.getAffiliationsForm.zipWithIndex) {
      @if(aff.getNameMatches.size > 0 && !aff.getIsDisambiguated) {
        @handleNameMatches(aff.getNameMatches, false, index)
        <script type="text/javascript">
          $(document).ready(function() {
            handleContributionNameMatches($('#affiliationsForm').find('[id$="affname"]'), '[id$="_affid"]', '[id$="_isDisambiguated"]', $('#submit'), "Actor");
          });
        </script>
      }
    }
    @for((aff, index) <- actorForm.get.getOrgaffiliationsForm.zipWithIndex) {
      @if(aff.getNameMatches.size > 0 && !aff.getIsDisambiguated) {
        @handleNameMatches(aff.getNameMatches, false, index)
        <script type="text/javascript">
          $(document).ready(function() {
            handleContributionNameMatches($('#orgaffiliationsForm').find('[id$="affname"]'), '[id$="_affid"]', '[id$="_isDisambiguated"]', $('#submit'), "Actor");
          });
        </script>
      }
    }
  }

  <div id="msg-div">
    @message(map)
  </div>


  <div class="row">
    <div class="col-xs-12">
      <h3 class="small-caps text-muted">@actorDescription()</h3>
      <hr>
    </div>

    <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
      @form(be.webdeb.presentation.web.controllers.entry.actor.routes.ActorActions.save(actorForm("id").value.toLong), 'enctype -> "multipart/form-data") {
        <div class="actordiv well" id="actor_@actorForm("id").value">
          @editActorFields(actorForm, helper, map)
          <div id="submit-container" class="form-actions" @if(actorForm("id").value == "-1") {style="display: none"}>
            <a href="@(if(actorForm("id").value == "-1") be.webdeb.presentation.web.controllers.entry.routes.EntryActions.contribute
            else be.webdeb.presentation.web.controllers.viz.routes.VizActions.actor(actorForm("id").value.toLong, EVizPane.DETAILS.id, 0))"
            class="btn btn-default">
              <span class="fa fa-times-circle"></span> &nbsp; @Messages("general.btn.cancel")
            </a>
            <button id="submit" type="submit" class="btn btn-primary">
              @if(actorForm("id").value == "-1") {
                @Messages("entry.actor.create")
              } else {
                @Messages("entry.actor.modify.btn")
                &nbsp; <span class="fa fa-check-circle"></span>
              }
            </button>
            @if(actorForm("id").value == "-1") {
              @publishInGroup("actor-change-group", "inGroup", user)
            }
          </div>
        </div>
      }
    </div>
  </div>
}
