@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Debate cartography pane, ie, all justification links between arguments from given debate. Will be filled in
* by the JS object JustificationTree.
*
*
* @param debate the debate from which all arguments must be displayed
*
* @author Martin Rouffiange
* @see assets/javascript/text-scripts.js for JustificationTree functions
*@


@import be.webdeb.presentation.web.controllers.viz.debate.DebateVizHolder
@import be.webdeb.presentation.web.views.html.util.{waitforit}

@import be.webdeb.core.api.argument.EArgumentLinkShade
@import be.webdeb.presentation.web.views.html.util.filterButton

@(
        debate : DebateVizHolder
)

<script type="text/javascript">
    $(document).ready(function() {
        var waiting = $(".waiting");
        var tab = $('#carto-tab');
        var justlinks = $('#debate-justlinks');
        var counterlinks = $('#debate-counterlinks');
        var majorlinks = $('#debate-majorlinks');
        var argumentLevel = $('#nb-argument-level');
        var dd_just = new JustificationTree(justlinks, tab, waiting, @debate.getId, @debate.getFirstArgumentId, @EArgumentLinkShade.SUPPORTS.id());
        dd_just.init();
        var dd_reject = new JustificationTree(counterlinks, tab, waiting, @debate.getId, @debate.getFirstArgumentId, @EArgumentLinkShade.REJECTS.id());
        dd_reject.init();

        $('#display-type').on('click', 'button', function(){
            var that = $(this);
            justlinks.hide();
            counterlinks.hide();
            majorlinks.hide();
            switch(that.val()){
                case "1" :
                    justlinks.show();
                    argumentLevel.show();
                    changeLevel(argumentLevel, dd_just);
                    break;
                case "2" :
                    counterlinks.show();
                    argumentLevel.show();
                    changeLevel(argumentLevel, dd_reject);
                    break;
                default:
                    majorlinks.show();
                    argumentLevel.hide();
            }
            // add "btn-success" class
            that.siblings('.btn-success').removeClass('btn-success');
            that.addClass('btn-success');
        });

        argumentLevel.on('click', 'button', function(){
            if(justlinks.is(":visible") || counterlinks.is(":visible")) {
                var that = $(this);
                var dd = justlinks.is(":visible") ? dd_just : dd_reject;
                dd.changeLevelThresholdAndRebuild(that.val());
                // add "btn-success" class
                that.siblings('.btn-success').removeClass('btn-success');
                that.addClass('btn-success');
            }
        });
    });

    function changeLevel(argumentLevel, dd){
        var btn = argumentLevel.find('button[value="'+ dd.getLevelThreshold() +'"]');
        btn.siblings('.btn-success').removeClass('btn-success');
        btn.addClass('btn-success');
    }

</script>

<div class="col-xs-12 no-padding-xs">
    <div class="col-xs-12">
        <div class="alert alert-info" style="display: none;">@Messages("viz.text.nolinks")</div>
        <div class="col-xs-12 no-padding-xs">
            <h4 style="display:inline-block">
                <span class="text-muted">@Messages("viz.argument.display.pov.title")</span>&nbsp;
                <span id="display-type">
                @for(i <- 0 to 2) {
                    <button type="button" class="btn btn-pov btn-sm btn-default @(if(i == 0) "btn-success")" value="@i">
                    @Messages("viz.argument.display.pov." + i)
                    </button>
                }
                </span>
            </h4>
        </div>
        <div class="col-xs-12 no-padding-xs">
            <h4 id="nb-argument-level" style="display:inline-block">
                <span class="text-muted">@Messages("viz.argument.radio.pov.title")</span>&nbsp;
                <span>
                @for(i <- 0 to 4) {
                    <button type="button" class="btn btn-sm btn-default @(if(i == 4) "btn-success")" value="@i">
                    @Messages("viz.argument.radio.pov." + i)
                    </button>
                }
                </span>
            </h4>
            @* <span class="pull-right hidden-xs">
                <a id="edit_links" type="button" class="btn btn-link btn-lg primary">
                    <span class="fa fa-edit"></span>&nbsp;@Messages("viz.text.links.btn")
                </a>
            </span> *@
        </div>
        @waitforit("waiting")
    </div>
    <div id="debate-majorlinks">
        @filterButton()
        <div id="cartocontent"></div>
    </div>
    <div id="debate-justlinks" style="display: none"></div>
    <div id="debate-counterlinks" style="display: none"></div>

    <div class="col-xs-12 visible-xs">
        <a id="edit_links" type="button" class="btn btn-link btn-lg primary">
            <span class="fa fa-edit"></span>&nbsp;@Messages("viz.text.links.btn")
        </a>
    </div>


</div>
