@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Main (tabbed) template to visualize a Debate, containing its cartography, radiography, sociography and details.
*
* @param debate the debate to visualize
* @param filters the list of filters that apply here
* @param tab the EVizPane id to select which pane is displayed
* @param pov the point of view to select, if any in the selected pane
* @param user the user profile data
* @param map the message map
*
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.controllers.viz.{EVizPane}
@import be.webdeb.presentation.web.controllers.viz.debate.DebateVizHolder
@import be.webdeb.presentation.web.controllers.viz.excerpt.EExcerptGroupKey
@import be.webdeb.presentation.web.views.html.util.helpButton
@import be.webdeb.presentation.web.views.html.main
@import be.webdeb.presentation.web.views.html.viz.contributionAdminActions
@import be.webdeb.presentation.web.views.html.viz.vizHeader
@import be.webdeb.presentation.web.views.html.util.{breadcrumb, mediaShareBtn, message}
@import be.webdeb.presentation.web.views.html.viz.metaHolder
@import be.webdeb.presentation.web.views.html.viz.debate.debateDetails
@import be.webdeb.presentation.web.views.html.viz.debate.debateCartography
@import be.webdeb.presentation.web.views.html.viz.debate.debateSociography

@import be.webdeb.presentation.web.views.html.util.filterButton
@import be.webdeb.presentation.web.views.html.util.waitforit
@(
        debate : DebateVizHolder,
        filters : java.util.Map[String, java.util.Collection[java.util.Map.Entry[String, String]]],
        tab : EVizPane,
        pov: Integer,
        user : WebdebUser,
        map : java.util.Map[String, String]
)

@scripts = {
    <title>@debate.getFullTitle @Messages("general.metatitle")</title>
    <meta name="description" content="@Messages("general.metatitle.debate.desc")">

    <script src="@routes.Assets.at("javascripts/moment.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/chart.bundle.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/chart.min.js")" type="text/javascript"></script>

    <script src="@routes.Assets.at("javascripts/folder-scripts.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/actor-scripts.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/excerpt-scripts.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/argument-scripts.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/debate-scripts.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/justificationtree.js")" type="text/javascript"></script>
    <script type="text/javascript">
        var filterbars = [];
        $(document).ready(function() {
            handleTabs(@tab.id, @pov);
            // manage change tab for filters and content
            var params = {
                carto : {isToLoad : true},
                radio : {isToLoad : true},
                socio : {isToLoad : true},
                cited : {isToLoad : true}
            };
            manageChangeTab(reloadDebateLinkedContributions, getDebateLinkedContributions, filterbars, @debate.getId, params);
            // auto-creation modal if any
            getAutoCreatedModals();
        });
    </script>
}

@main(user, scripts, metaHolder(debate)) {

    <div id="msg-div">
        @message(flash)
        @message(map)

        <div id="error-save" class="alert alert-fixed alert-danger" style="display: none">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>@Messages("danger")</strong> @Messages("text.links.save.error")
        </div>
        <div id="error-save-debate" class="alert alert-fixed alert-danger" style="display: none">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>@Messages("danger")</strong> @Messages("debate.creation.error")
        </div>
        <div id="warning-link-exists" class="alert alert-fixed alert-warning" style="display: none">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>@Messages("warning")</strong> @Messages("argument.links.alreadyexist")
        </div>
        <div id="success-save" class="alert alert-fixed alert-success" style="display: none">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>@Messages("success")</strong> @Messages("text.links.save.success")
        </div>
        <div id="success-save" class="alert alert-fixed alert-success" style="display: none">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>@Messages("success")</strong> @Messages("text.links.save.success")
        </div>
        <div id="success-delete" class="alert alert-fixed alert-success" style="display: none">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>@Messages("success")</strong> @Messages("general.delete.success")
        </div>
        <div id="error-delete" class="alert alert-fixed alert-danger" style="display: none">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>@Messages("danger")</strong> @Messages("general.delete.error")
        </div>
    </div>

    <div class="row" id="debate-viz">
        @vizHeader(debate)

            <!--  viz areas -->
        <div class="col-xs-12 viz-body">
            <ul id="tabs" class="nav nav-tabs" role="tablist"> @* must reverse order *@
                <li role="presentation"><a id="radio_@EVizPane.RADIO.id" href="#radio-tab" aria-controls="radiography" role="tab" data-toggle="tab">@Messages("viz.debate.pill.radiography")</a></li>
                <li role="presentation"><a id="texts_@EVizPane.SOCIO.id" href="#socio-tab" aria-controls="sociography" role="tab" data-toggle="tab">@Messages("viz.debate.pill.sociography")</a></li>
                <li role="presentation"><a id="carto_@EVizPane.CARTO.id" href="#carto-tab" aria-controls="cartography" role="tab" data-toggle="tab">@Messages("viz.debate.pill.cartography")</a></li>
                <li role="presentation"><a id="details_@EVizPane.DETAILS.id" href="#details-tab" aria-controls="details" role="tab" data-toggle="tab">@Messages("viz.debate.pill.details")</a></li>
                <li role="presentation" class="fake-tab">@contributionAdminActions(debate, false, user)</li>
                <li role="presentation" class="fake-tab pull-right">
                    <div>@helpButton("entry.argument.analyse;entry.argument.encode;entry.argument.illustrate;viz.argument", false)</div>
                </li>
            </ul>

            <div class="tab-content" style="padding-top: 10px">
                <span class="media-share-btn">@mediaShareBtn(debate)</span>
                <div role="tabpanel" class="tab-pane" id="details-tab">
                    @debateDetails(debate)
                </div>
                <div role="tabpanel" class="tab-pane" id="socio-tab">
                    <p class="instructions padding-xs">@Messages("viz.debate.desc.sociography")</p>
                    @debateSociography(debate.getFirstArgumentContext, EExcerptGroupKey.ORGANIZATION)
                </div>
                <div role="tabpanel" class="tab-pane padding-xs" id="cited-tab">
                    <p class="instructions">@Messages("viz.debate.desc.radiography")</p>
                    <div class="col-xs-12 no-padding">
                        <hr class="hr-small">
                        @filterButton()
                        @waitforit("waiting")
                        <div id="citedcontent"></div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="radio-tab">
                    <p class="instructions">@Messages("viz.debate.desc.radiography")</p>
                    <div class="col-xs-12 no-padding">
                        <hr class="hr-small">
                        @filterButton()
                        @waitforit("waiting")
                        <div id="radiocontent"></div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="carto-tab">
                    @debateCartography(debate)
                </div>
            </div>
        </div>
    </div>
}