@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Page to manage the dictionary of arguments
*
* @param arguments a list of argument dictionary
*@

@import be.webdeb.presentation.web.views.html.util.message
@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.views.html.main

@(
        user : WebdebUser
)

@scripts = {
    <title>@Messages("title." + play.Configuration.root().getString("server.type"))</title>

    <script type="text/javascript">
        $(document).ready(function() {

            let loader = new DataLoader($("#arguments-anchor"), {
                toCallBefore : searchArgument,
                toCallAfter : loadResults,
                enableFilters : false
            });

            // load all contributors by default
            loader.exec('');

            // handle search for contributors request, lazy load all users at page load
            let args = $('#search-arguments');

            $('.search-btn').on('click', function (e) {
                loader.exec(args.val());
            });

            args.keypress(function (e) {
                if (e.which === 13) {
                    e.preventDefault();
                    loader.exec(args.val());
                }
            });

            initListeners();
        });

        function initListeners(){
            let container = $("#arguments-anchor");

            container.on('click', '.see-dictionary', function(){
                openInNewTab(urlOfArgumentViz($(this).parents(".argument-dictionary").data("id"), 1));
            });

            container.on('click', '.edit-dictionary', function(){
                openEditArgumentDictionaryModal($(this).parents(".argument-dictionary").data("id"));
            });
        }

        /**
         * Load given html data into dedicated result div
         *
         * param data the html data to load
         * param container the container where display the data result
         */
        function loadResults(data, container) {

            for(let iData in data){
                let element = data[iData];

                let elementContainer = $('<div class="argument-dictionary" data-id="' + element.id + '"></div>').appendTo(container);
                elementContainer.append('<span style="font-size : 16px;">' + element.title + ' (' + element.lang + ')</span>');
                elementContainer.append(addActionBtn("see-dictionary", "eye"));
                elementContainer.append(addActionBtn("edit-dictionary", "edit"));
                //elementContainer.append(addActionBtn("delete-dictionary", "trash-alt"));
                elementContainer.append('<hr>');
            }
        }

        function addActionBtn(actionName, faIcon){
            return '<span>&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-link primary btn-simple-link ' + actionName + '" ' +
                    'style="font-size : 16px;"><i class="fas fa-' + faIcon + '"></i></i></button></span>'
        }

        /**
         * open modal for edit an argument dictionary
         *
         * param argId the argument dictionary id to edit
         */
        function openEditArgumentDictionaryModal(argId) {
            editArgumentDictionary(argId).done(function (html) {
                loadAndShowModal( $('#modal-anchor'), html);
            }).fail(function (jqXHR) {
                if(jqXHR.status === 401) {
                    redirectToLogin();
                }else{
                    console.log("Error with argument dictionary edit modal");
                }
            });
        }

    </script>
}

@main(user, scripts) {
    <div id="msg-div">
        @message(flash)

        <div id="error-save" class="alert alert-fixed alert-danger" style="display: none">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>@Messages("danger")</strong> @Messages("dictionary.save.error")
        </div>
        <div id="success-save" class="alert alert-fixed alert-success" style="display: none">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>@Messages("success")</strong> @Messages("dictionary.save.success")
        </div>
    </div>

    <div class="row">
        <br>
        <br>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <div class="col-xs-12 input-group">
                    <span class="input-group-addon">@Messages("dictionary.search.label")</span>
                    <div class="form-group ">
                        <input id="search-arguments" value="" class="form-control" autocomplete="off" type="text"
                        placeholder="@Messages("dictionary.search.instructions")">
                    </div>

                    <span class="input-group-btn">
                        <button name="name" class="btn btn-default search-btn" type="button" title="@Messages("dictionary.search.title")" data-placement="bottom">
                            <span class="fa fa-search"></span>
                        </button>
                    </span>

                </div>
                <p class="instructions">
                    @Html(Messages("admin.search.contributor.instructions"))
                </p>
            </div>

            <div class="col-xs-12">

                <hr>

                <div id="arguments-anchor" class="col-xs-12 pageable"></div>
            </div>
        </div>
    </div>
}