@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Show a list of given users and allow edition of their permissions and roles
*
* @param users a list of users
*
* @author Fabian Gilson
*@

@import be.webdeb.core.api.contributor.EContributorRole
@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.controllers.account.settings.ESettingsPane
@import be.webdeb.presentation.web.views.html.util.hiddenField


@(
    users : java.util.List[WebdebUser]
)

<div class="pageable">
  @for(user <- users) {
    <div id="roles-@user.getContributor.getId" class="col-xs-12 summary">
      <div class="col-xs-12 large-font" style="margin-bottom: 5px">
        <span @if(user.getContributor.isBanned) { style="text-decoration: line-through;" }>
          <a href="@be.webdeb.presentation.web.controllers.account.routes.ContributorActions.settings(
            user.getContributor.getId, ESettingsPane.CONTRIBUTIONS.id)" class="normal-style">
            @user.getContributor.getFirstname @user.getContributor.getLastname
          </a>
          <span class="text-muted">@user.getContributor.getEmail</span>
          <span class="text-muted smaller-font">(<i class="fa fa-sign-in">&nbsp;</i>@user.getContributor.getSubscriptionDate)</span>
        </span>
        @if(user.getContributor.isBanned) {
          <button id="unban_@user.getContributor.getId.toString.concat("_-1")" class="btn btn-link primary">
          @Messages("group.member.revoke.false")
          </button>
        } else {
          <button id="revoke_@user.getContributor.getId.toString.concat("_-1")" class="btn btn-link primary">
          @Messages("group.member.revoke.true")
          </button>
        }
      </div>

      @for(g <- user.getSubscriptionsOrPublic) {
        <div id="rolediv-@user.getContributor.getId.toString.concat("_").concat(g.getGroup.getGroupId.toString)" class="col-xs-12">
          <div class="col-xs-12 large-font" style="margin-bottom: 5px">
            <span class="small-caps text-muted" @if(g.isBanned) { style="text-decoration: line-through;" }>
              @g.getGroup.getGroupName
            </span>&nbsp;
            <button id="save-role_@user.getContributor.getId.toString.concat("_").concat(g.getGroup.getGroupId.toString)"
                type="button" class="btn btn-xs btn-link primary" disabled>
              @Messages("admin.update.role")
            </button>
          </div>

          <div class="col-xs-12 funkyradio">
            @for(r <- EContributorRole.roles()) {
              <div class="form-group funkyradio-primary col-sm-3 col-xs-12">
                <input id="role-@user.getContributor.getId.toString.concat("_" + g.getGroup.getGroupId.toString + "_" + r.id.toString)"
                  type="checkbox" value="@r.id">
                <label for="role-@user.getContributor.getId.toString.concat("_" + g.getGroup.getGroupId.toString + "_" + r.id.toString)">
                  @Messages("role.label." + r.id)
                </label>
              </div>
            }

            @hiddenField("roleid-".concat(user.getContributor.getId.toString).concat("_").concat(g.getGroup.getGroupId.toString),
              "roleid", g.getRole.id)

          </div>
        </div>
      }
    </div>
  }
</div>
