@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Modal frame to add/invite members in group
*
* @param group the group invitation form
*
* @author Fabian Gilson
*@


@import be.webdeb.presentation.web.controllers.account.group.GroupInvitation
@import be.webdeb.presentation.web.views.html.util.{bootstrapInput, emptyModalframe, inlineform, hiddenFormField, noerrorForm}
@import helper._

@import be.webdeb.presentation.web.controllers.account.admin.ProfessionHasLinkForm
@(
        profession : Form[ProfessionHasLinkForm],
        map : java.util.Map[String, String]
)


@implicitFieldConstructor = @{ FieldConstructor(bootstrapInput.render) }

<script src="@routes.Assets.at("javascripts/profession-scripts.js")" type="text/javascript"></script>

<script type="text/javascript">
        $(document).ready(function(){
            addListeners();
            addProfessionTypeahead($('#professionHasLink').find("input").first());
        });
        function addListeners() {
            var modal = $("#editProfessionHasLink");
            modal.find('#submit-btn').on('click', function () {
                sendProfessionHasLink($('#professionlink-form')).done(function (data) {
                    $('#admin-profession').empty().append(data);
                    hideAndDestroyModal('#editProfessionHasLink');
                    $(document).trigger("modalRemoved");
                }).fail(function (jqXHR) {
                    if (jqXHR.status === 400) {
                        // rebuild form from response text
                        replaceContent('#professionlink-form', jqXHR.responseText, 'form');
                        addProfessionTypeahead($('#professionHasLink').find("input").first());
                    } else {
                        $('#admin-professions').empty().append(jqXHR.responseText);
                        hideAndDestroyModal('#editProfessionHasLink');
                    }
                });
            });
            manageAddRemoveButton(modal, "professionHasLink", true);
        }
</script>

@emptyModalframe("editProfessionHasLink", false, "default", "", false) {
  <div class="modal-header">
    <h3 class="modal-title small-caps text-muted">
      @Messages("admin.edit.profession.haslink.title") <span class="text-primary"></span>
    </h3>
  </div>

  <div class="modal-body row">
    <div id="form-content" class="col-xs-12">
      <form id="professionlink-form">
        <fieldset>
          @hiddenFormField(profession("professionId"))

          <div id="professionHasLink" class="controls col-xs-12 no-padding">
            @repeat(profession("professionHasLink"), min = 1) { professionHasLink =>
              <div class="entry input-group input-group-border padding-group smaller-font">
                <div class="col-xs-12 padding-field">
                @inputText(
                  profession(professionHasLink.name.concat(".name")),
                  '_placeholder -> Messages("admin.edit.profession.edit.name"),
                  '_label -> Messages("admin.edit.profession.edit.sublink"),
                  'class -> "form-control",
                  'autocomplete -> "off"
                )(handler = noerrorForm, implicitly[Messages])
                @hiddenFormField(profession(professionHasLink.name.concat(".id")))
                </div>
                <span class="input-group-btn bottom">
                  <button class="btn btn-default btn-sm btn-add" type="button"><span class="fa fa-plus"></span></button>
                  <button class="btn btn-default btn-sm btn-remove" type="button"><span class="fa fa-minus"></span></button>
                </span>
              </div>
              @* must handle error message by hand for inlineforms *@
            @profession.errors.map { case (key, error) =>
              @if(key.startsWith(professionHasLink.name) && error(0).message != "") {
                <div class="no-help"><div class="label label-danger">@Messages(error(0).message)</div></div>
              }
            }
            }
          </div>
        </fieldset>
      </form>
    </div>
  </div>

    <div class="modal-footer">
        <div class="form-actions pull-left">
            <button id="cancel-btn" type="button" class="btn btn-default" data-dismiss="modal">@Messages("general.btn.cancel")</button>
            <button id="submit-btn" type ="button" name="submit" class="btn btn-primary">
                @Messages("entry.actor.modify.btn")
                    &nbsp; <span class="fa fa-check-circle"></span>
            </button>
        </div>
    </div>
}
