@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Modal page to add/edit a twitter account
*
* @param account the (possibly) pre-filled twitter account to edit
* (if account("id").value == -1, it is a new account)
* @param helper contribution helper facility
* @param map the messages map
* @author Fabian Gilson
*@

@import be.webdeb.core.api.text.ETextVisibility
@import be.webdeb.presentation.web.controllers.account.admin.RSSFeedForm
@import be.webdeb.presentation.web.controllers.entry.ContributionHelper
@import be.webdeb.presentation.web.views.html.util.{bootstrapInput, emptyModalframe, funkyCheckbox, helpbubble, hiddenFormField, message}
@import helper._


@(
        feed : Form[RSSFeedForm],
        helper : ContributionHelper,
        map: java.util.Map[String, String]
)

@implicitFieldConstructor = @{ FieldConstructor(bootstrapInput.render) }


<script type="text/javascript">
  $(document).ready(function() {
    manageExclusiveCheckboxes($('#b-visibility').find('input[type="checkbox"]'), $('#visibility'), true);

    $('#submit-btn').on('click', function () {
      saveRssFeed($('#rss-form')).done(function (html) {
        // ok -> rebuild rss pane only
        $('#rsscontent').empty().append(html);
        addRssListeners();
        fadeMessage();
        hideAndDestroyModal('#edit-rss');
      }).fail(function (xhr) {
        if (xhr.status === 400) {
          // we got the form to rebuild (error in form)
          replaceContent('#rss-form', xhr.responseText, 'form');
          manageExclusiveCheckboxes($('#b-visibility').find('input[type="checkbox"]'), $('#visibility'), true);
        } else {
          // internal server error -> full rebuild
          replaceContent('body', xhr.responseText, 'body');
        }
      });
    });
  });
</script>


@emptyModalframe("edit-rss", false, "default", "", false) {
  <div class="modal-header">
    <h3 class="modal-title small-caps text-muted">
    @if(feed("id").value == "-1") {
      @Messages("admin.rss.create.title")
    } else {
      @Messages("admin.rss.edit.title") <span class="text-primary">@feed("name").value</span>
    }
    </h3>
  </div>

  <div class="modal-body row">
    <div id="form-content" class="col-xs-12">
      <p class="instructions">@Messages("general.required.fields")</p>
      <form id="rss-form">
        <fieldset>
          @hiddenFormField(feed("id"))
          <div class="col-xs-12 no-padding">
            <div class="col-sm-6 padding-field">
            @inputText(
              feed("name"),
              '_label -> Messages("admin.rss.label.name"),
              'placeholder -> Messages("admin.rss.place.name"),
              'class -> "form-control",
              'autocomplete -> "off"
            )
            </div>
            <div class="col-sm-6 padding-field">
              @select(
                feed("type"),
                options(helper.getTextTypes(ctx.lang.code)),
                '_default -> Messages("text.place.textType"),
                '_label -> Messages("text.label.textType"),
                'class -> "form-control",
                'autocomplete -> "off",
                'bubble -> helpbubble("bubble.title","bubble.entry.text.textType")
              )
            </div>
          </div>

          <div class="col-xs-12 no-padding">
            <div class="col-sm-6 padding-field">
            @inputText(
              feed("category"),
              '_label -> Messages("admin.rss.label.category"),
              'placeholder -> Messages("admin.rss.place.category"),
              'class -> "form-control",
              'autocomplete -> "off"
            )
            </div>
            <div class="col-sm-6 padding-field">
              @inputText(
                feed("subcategory"),
                '_label -> Messages("admin.rss.label.subcategory"),
                'placeholder -> Messages("admin.rss.place.subcategory"),
                'class -> "form-control",
                'autocomplete -> "off"
              )
            </div>
          </div>

          <div class="col-xs-12 no-padding">
            <div class="col-sm-8 padding-field">
            @inputText(
              feed("url"),
              '_label -> Messages("admin.rss.label.url"),
              'placeholder -> Messages("admin.rss.place.url"),
              'class -> "form-control",
              'autocomplete -> "off"
            )
            </div>
            <div class="col-sm-4 padding-field">
              @select(
                feed("country"),
                options(helper.getCountries(ctx.lang.code)),
                '_default -> Messages("admin.rss.place.country"),
                '_label -> Messages("admin.rss.label.country"),
                'class -> "form-control",
                'autocomplete -> "off"
              )
            </div>
          </div>
          <div class="col-xs-12 no-padding">
            <div class="col-sm-8 padding-field">
              <label for="b-visibility">
                @Messages("text.label.visibility")
                @helpbubble("bubble.title", "bubble.entry.text.visibility")
              </label>

              <div id="b-visibility" class="funkyradio inline">
              @for((k,v) <- helper.getTextVisibilities(ctx.lang.code)) {
                @if(k != ETextVisibility.PRIVATE.id.toString) {
                  <div class="form-group funkyradio-primary">
                    <input id="visibility-@k" type="checkbox" value="@k">
                    <label for="visibility-@k">@v</label>
                  </div>
                }
              }
              </div>
              @hiddenFormField(feed("visibility"))
              @feed.errors.map { case (key, error) =>
                @if(key.equals("visibility")) {
                  <div class="label label-danger">@Messages(error(0).message)</div>
                }
              }
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

  <div class="modal-footer">
    <div class="col-xs-12">
      <button id="cancel-btn" type="button" class="btn btn-default" data-dismiss="modal">@Messages("general.btn.cancel")</button>
      <button id="submit-btn" type="button" class="btn btn-primary" title="@Messages("admin.rss.edit.btn.title")">
      @if(feed("id").value == "-1") {
        @Messages("admin.rss.btn.create")
      } else {
        @Messages("admin.rss.btn.edit")
      }
      </button>
    </div>
  </div>

  <div id="inner-msg-div">
    @message(map)
  </div>
}
