@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Partial web page to display all imported csv files
*
* @param reports a map of all imports (of the form date <actor, affiliation, report>
*
* @author Fabian Gilson
*@

@import helper._

@(
    reports : java.util.Map[String, java.util.List[String]]
)

<div class="col-xs-12">
  <p class="instructions">@Messages("admin.csv.report.desc")</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="table-header">@Messages("admin.csv.report.date")</th>
        <th>@Messages("admin.csv.report.files")</th>
      </tr>
    </thead>
    <tbody>
      @if(reports.isEmpty) {
        <tr>
          <td class="text-muted">n/a</td>
          <td>@Messages("admin.csv.report.none")</td>
        </tr>
      } else {
        @for((key, list) <- reports) {
          <tr>
            <td class="text-muted">@key</td>
            <td>
            @for(csv <- list) {
              <a class="btn btn-link secondary no-padding"
                  href="@be.webdeb.presentation.web.controllers.routes.Application.getFile(key + "/" + csv, "tmp")">
              @csv
              </a>
              &nbsp;&nbsp;
            }
            </td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>
