@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Modal frame to merge professions
*
* @param profession the profession edit form
* @param map the message map (may be null)
*
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.views.html.util.{bootstrapInput, emptyModalframe, hiddenFormField, noerrorForm}
@import helper._
@import be.webdeb.presentation.web.controllers.account.admin.ProfessionMergeForm

@(
profession : Form[ProfessionMergeForm],
map : java.util.Map[String, String]
)

@implicitFieldConstructor = @{ FieldConstructor(bootstrapInput.render) }

<script src="@routes.Assets.at("javascripts/profession-scripts.js")" type="text/javascript"></script>

<script type="text/javascript">
  $(document).ready(function(){
    addListeners();
    addProfessionTypeahead($('#professionTomergewith').find("input").first());
  });
  function addListeners() {
    var modal = "#mergeProfessions";
    var errorContainer = "#error";
    $(modal).find('#submit-btn').on('click', function () {
      sendMergeProfessions($('#profession-form')).done(function (data) {
        $('#admin-profession').empty().append(data);
        hideAndDestroyModal(modal);
        $(document).trigger("modalRemoved");
      }).fail(function (jqXHR) {
        // rebuild form from response text
        $(errorContainer).html(jqXHR.responseText);
        $(errorContainer).show();
        addProfessionTypeahead($('#professionTomergewith').find("input").first());
      });
    });
    manageAddRemoveButton($("#mergeProfessions"), "professionNames");
  }
</script>

@emptyModalframe("mergeProfessions", false, "default", "", false) {
<div class="modal-header">
  <h3 class="modal-title small-caps text-muted">
    @Messages("admin.merge.professions.title") <span class="text-primary"></span>
  </h3>
</div>

<div class="modal-body row">
  <div id="form-content" class="col-xs-12">
    <form id="profession-form">
      <fieldset>
        @hiddenFormField(profession("professionId"))

        <div id ="professionTomergewith" class="col-xs-12 no-padding">
          <div class="col-xs-12 padding-field">
            @inputText(
            profession(profession("professionTomergewith").name.concat(".name")),
            '_label -> Messages("admin.merge.professions.label"),
            'class -> "form-control",
            'autocomplete -> "off"
            )
            @hiddenFormField(profession(profession("professionTomergewith").name.concat(".id")))
          </div>
          <div id="error" class="col-xs-12 no-padding" style="display:none;"></div>
        </div>
      </fieldset>
    </form>
  </div>
</div>

  <div class="modal-footer">
    <div class="form-actions pull-left">
      <button id="submit-btn" type ="button" name="submit" class="btn btn-primary">
        @Messages("general.brn.merge")
          &nbsp; <span class="fa fa-check-circle"></span>
      </button>
    </div>
    <button id="cancel-btn" type="button" class="btn btn-default" data-dismiss="modal">@Messages("general.btn.cancel")</button>
  </div>
}
