@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Form to add a new folder into the knowledge base
*
* @param folderForm the form that holds the folder values
* @param helper helper class to fetch predefined values from (types, ...)
* @param user the user profile
* @param map the message map to display (if any)
*
* @author Martin Rouffiange
*@

@import be.webdeb.presentation.web.controllers.entry.ContributionHelper
@import be.webdeb.presentation.web.controllers.entry.folder.FolderForm
@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.controllers.viz.EVizPane

@import be.webdeb.presentation.web.views.html.main
@import be.webdeb.presentation.web.views.html.entry.folder.handleCandidates
@import be.webdeb.presentation.web.views.html.entry.folder.editFolderFields
@import be.webdeb.presentation.web.views.html.util.{breadcrumb, message, handleFolderNameMatches}
@import helper._


@(
  folderForm: Form[FolderForm],
  helper : ContributionHelper,
  user : WebdebUser,
  map : java.util.Map[String, String]
)


@scripts = {
  <title>
    @if((folderForm.data.isEmpty && folderForm.value.isEmpty) || folderForm("id").value == "-1") {
      @Messages("entry.folder.new")
    } else {
      @Messages("entry.folder.modify")
    } @Messages("general.metatitle")
  </title>
  <meta name="description" content="@if(folderForm("id").value == "-1") {
    @Messages("entry.folder.submit")
  } else {
    @Messages("entry.folder.btn.modify")}">

  <script src="@routes.Assets.at("javascripts/folder-scripts.js")" type="text/javascript"></script>
  <script type="text/javascript">
          $(document).ready(function() {
            manageFolderPanel();
          });
  </script>
}

@main(user, scripts) {

  <div id="msg-div">
    @message(flash)
    @message(map)
  </div>

  @if(!folderForm.hasErrors && folderForm.value.nonEmpty) {
    @for((folder, index) <- folderForm.get.getParents.zipWithIndex) {
      @if(folder.getNameMatches.size > 0 && !folder.getIsDisambiguated) {
        @handleFolderNameMatches(folder.getNameMatches, index)
        <script type="text/javascript">
                $(document).ready(function() {
                  handleContributionNameMatches($('#parents').find('[id$="name"]'), '[id$="_folderId"]', '[id$="_isDisambiguated"]', $('#submit'), "Folder");
                });
        </script>
      }
    }
    @for((folder, index) <- folderForm.get.getChildren.zipWithIndex) {
      @if(folder.getNameMatches.size > 0 && !folder.getIsDisambiguated) {
          @handleFolderNameMatches(folder.getNameMatches, index)
          <script type="text/javascript">
                  $(document).ready(function() {
                      handleContributionNameMatches($('#children').find('[id$="name"]'), '[id$="_folderId"]', '[id$="_isDisambiguated"]', $('#submit'), "Folder");
                  });
          </script>
      }
    }
  }

  @if(!folderForm.hasErrors && folderForm.value.nonEmpty && folderForm.get.getCandidates.nonEmpty) {
    @handleCandidates(folderForm.get.getCandidates)
  }

  <div class="row">
    <div class="col-xs-12">
      <h3 class="small-caps text-muted" id="formtitle">
      @if((folderForm.data.isEmpty && folderForm.value.isEmpty) || folderForm("id").value == "-1") {
        @Messages("entry.folder.new")
      } else {
        @Messages("entry.folder.modify")
      }
      </h3>
      <hr>
    </div>

    <div class="col-xs-12" id="folderdiv">
    @form(be.webdeb.presentation.web.controllers.entry.folder.routes.FolderActions.save(folderForm("id").value.toLong), 'enctype -> "multipart/form-data") {
      <div class="well">
        @editFolderFields(folderForm, helper, user, map)
        <div id="submit-container" class="form-actions" style="margin-top : 10px;">
          <a href="@(if(folderForm("id").value == "-1") be.webdeb.presentation.web.controllers.entry.routes.EntryActions.contribute
          else be.webdeb.presentation.web.controllers.viz.routes.VizActions.folder(folderForm("id").value.toLong, EVizPane.DETAILS.id, 0))"
          class="btn btn-default">
            <span class="fa fa-times-circle"></span> &nbsp; @Messages("general.btn.cancel")
          </a>
          <button type="submit" class="btn btn-primary" id="submit">
          @if(folderForm("id").value == "-1") {
            @Messages("entry.folder.submit")
          } else {
            @Messages("entry.folder.btn.modify")
              &nbsp; <span class="fa fa-check-circle"></span>
          }
          </button>
        </div>
      </div>
    </div>
    }
  </div>
}
