@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Argument texts pane to display all texts, folders and debates linked with this argument and its similars
*
* @author Martin Rouffiange
*@

@import be.webdeb.presentation.web.controllers.viz.actor.EActorSortKey
@import be.webdeb.presentation.web.views.html.util.{filterButton}
@import be.webdeb.presentation.web.views.html.util.waitforit

@(

)

<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 no-padding-xs">
    <div class="col-xs-12 no-padding-xs">
        <h4 style="display:inline-block">
            @* @filterButton() *@
        <span class="text-muted">@Messages("viz.argument.display.pov.title")</span>&nbsp;
        <span id="display-type">
        @for(i <- 0 to 2) {
            <button type="button" class="btn btn-pov btn-sm btn-default @(if(i == 0) "btn-success")" value="@i">
            @Messages("viz.argument.texts.pov." + i)
            </button>
        }
        </span>
        </h4>
    </div>
    <hr class="hr-xs-sensible">

    @waitforit("waiting")
    <div id="textscontent"></div>
</div>
