@*
* Copyright 2014-2018 University of Namur (PReCISE) - University of Louvain (Girsef - CENTAL).
* This is part of the WebDeb software (WDWEB), a collaborative platform to record and analyze
* argumentation-based debates. This is free software:  you can redistribute it and/or modify
* it under the terms of the GNU Lesser General Public License version 3 as published by the
* Free Software Foundation. It is distributed in the hope that it will be useful, but WITHOUT
* ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
* PARTICULAR PURPOSE.
*
* See <https://webdeb.be/> for a running instance of a webdeb web platform.
* See the GNU Lesser General Public License (LGPL) for more details over the license terms.
*
* You should have received a copy of the GNU Lesser General Public License along with this copy.
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Argument details pane, showing its originating excerpt, its text details and classification details
*
* @param argument the argument for which the details will be displayed
* @param user current user profile
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.controllers.viz.argument.ArgumentContextVizHolder
@import be.webdeb.presentation.web.controllers.viz.EVizPane
@import be.webdeb.presentation.web.views.html.browse.searchResult
@import be.webdeb.presentation.web.views.html.util.authorList
@import be.webdeb.presentation.web.views.html.util.folderList

@import be.webdeb.presentation.web.views.html.util.placeList
@(
        argument : ArgumentContextVizHolder
)

<div class="center-flex large">
    <div class="col-sm-12 contribution-card no-padding-xs">
        <p><span class="larger-font serif">@argument.getTitle</span></p>
        <p>
            <span class="text-lowercase small-font text-muted">@Messages("argument.sumup.type")</span> @argument.getArgument.getArgtype
                &nbsp;&nbsp;&nbsp;&nbsp;
        </p>

        <p>
            <span class="text-muted text-lowercase small-font">@Messages("argument.sumup.actorname")</span>
            @authorList(argument.getCitedactors, "cited")
        </p>

        <p>
            <span class="text-lowercase text-muted small-font" style="margin-bottom: 2px">@Messages("text.label.folder")</span>
            @folderList(argument.getFolders, "folders", EVizPane.CITATION)
        </p>

        <p>
            <span class="text-lowercase text-muted small-font" style="margin-bottom: 2px">@Messages("text.label.places")</span>
            @placeList(argument.getPlaces, "places")
        </p>
    </div>
</div>