@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Argument cited content. All excerpts linked to this argument ordered by shade by actor. (Lazy Loaded)
*
* @param argument the argument to build a citation for
* @param filters the list of filters that apply here
* @param user current user profile
*
* @author Martin Rouffiange
* @author Fabian Gilson
*@
@import be.webdeb.core.api.argument.EArgumentLinkShade
@import be.webdeb.presentation.web.controllers.entry.argument.ArgumentHolder
@import be.webdeb.presentation.web.controllers.viz.EVizPane
@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.controllers.viz.argument.ArgumentContextVizHolder
@import be.webdeb.presentation.web.views.html.util.filterbar
@import be.webdeb.presentation.web.controllers.entry.EFilterName
@import be.webdeb.presentation.web.controllers.entry.FilterTree
@import be.webdeb.presentation.web.controllers.viz.excerpt.ExcerptCitedViz
@import be.webdeb.presentation.web.controllers.entry.argument.BaseArgumentHolder
@import be.webdeb.presentation.web.controllers.entry.excerpt.ExcerptHolder
@import be.webdeb.presentation.web.views.html.toolbar.contributionActionsDiv
@(
        argument: ArgumentContextVizHolder,
        filters : java.util.Map[EFilterName, java.util.List[FilterTree]],
        user : WebdebUser,
        isDebate : Integer,
        contextId : Long
)
<script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            var container = $("#citedcontent, #radiocontent");
            argumentOptionsHandler(container);
            excerptOptionsHandler(container);
        });
</script>

@if(filters != null && !filters.isEmpty) {
    @filterbar(filters)
}

@item(excerpt : ExcerptHolder, cited : ExcerptCitedViz) = {
    <hr class="hr-small">
    <div>
        <a href="@be.webdeb.presentation.web.controllers.viz.routes.VizActions.text(excerpt.getTextId, EVizPane.CITATION.id, 0)">
            <span class="box-title" style="margin-left : 5px;margin-top : 2px;">@excerpt.getWorkingExcerpt</span>
        </a>

        @contributionActionsDiv(excerpt, true, argument.getId, if(contextId == null){null}else{contextId}, null, true, false, user)

        <footer class="bottom-border" style="margin-left : 15px;margin-top : 5px;margin-bottom : 5px;">
            <i class="text-muted">
                @Messages(cited.getActorRole(excerpt))
                @if(cited.getActorFunction(excerpt, ctx().lang().code()) != null && cited.getActorFunction(excerpt, ctx().lang().code()).length > 0) {
                    @Messages("actor.role.as")
                    @cited.getActorFunction(excerpt, ctx().lang().code())
                    @if(cited.getActorOrganisation(excerpt) != null){
                        <span>(</span>
                        <a href="@be.webdeb.presentation.web.controllers.viz.routes.VizActions.actor(cited.getActorOrganisation(excerpt).getId, EVizPane.DETAILS.id, 0)">
                            <span class="text-muted">@cited.getActorOrganisation(excerpt).getFullname(ctx().lang().code())</span>
                        </a>
                        <span>)</span>
                    }
                }
                @* @if(excerpt.getSource != null && excerpt.getSource.length > 0){, @excerpt.getSource} *@
                @if(excerpt.getPublicationDate != null && excerpt.getPublicationDate.length > 0){, @excerpt.getPublicationDate}
            </i>
        </footer>
    </div>
}

@argumentBox(shade : EArgumentLinkShade, cited : ExcerptCitedViz) = {
    <div class="arg-carto-box arg-box filterable-item @BaseArgumentHolder.getCartoColor(shade)" data-filterable="@cited.getActor.getFilterable">
        <div class="flex-container-centered">
            <span class="actor-thumbnail small">
                <span class="thumbnail-holder avatar" style="background-image: url(/avatar/@cited.getActor.getSomeAvatar )"></span>
            </span>

            <a class="larger-font" style="flex-grow: 1;
                margin-left: 5px" href="@be.webdeb.presentation.web.controllers.viz.routes.VizActions.actor(cited.getActor.getId, EVizPane.DETAILS.id, 0)">
                <span @if(cited.getActor.isIndecision){class="indecision"}>@cited.getActor.getFullname</span>
            </a>

            <button class="btn btn-xs btn-link pull-right" data-toggle="collapse"
            data-target=".showall-excerpts-@shade.id-@cited.getActor.getId">
                @* <span>@cited.getExcerpts.size @Messages("viz.actor.socio.excerpt")</span>
                    &nbsp;<span class="fa fa-chevron-down"></span> *@
                <span class="@BaseArgumentHolder.getShadeColor(shade)"><i class="fas fa-align-left"></i>&nbsp;(@cited.getExcerpts.size)&nbsp;<i class="fa fa-chevron-down"></i></span>
            </button>
        </div>
        <div class="collapse showall-excerpts-@shade.id-@cited.getActor.getId">
        @for(l <- cited.getExcerpts) {
            @item(l, cited)
        }
        </div>
    </div>
}

@titleText(id : Integer) = {
    @if(isDebate == 1){
        @Messages("viz.argument.radio2." + id)
    }else{
        @if(isDebate == 2){
            @Messages("viz.argument.radio3." + id)
        }else{
            @Messages("viz.argument.radio." + id)
        }
    }
}

@for((k, list) <- argument.viewCited(user).iterator) {
    <div class="col-md-4 col-xs-12 padding-column">
        <div class="arg-carto">
            <div class="arg-carto-box small">
                <h4 class="text-shade-@k.id()">
                    <p>@list.size @Messages("viz.argument.cited.actors") @titleText(k.id())</p>
                </h4>
            </div>
            @* author name, source or date *@

            @* show at most two and hide the rest under "+ button" *@
            @if(list.size <= 6) {
                @for(l <- list) {
                    @argumentBox(k, l)
                }
            } else {
                @for(l <- list.subList(0, 6)) {
                    @argumentBox(k, l)
                }
                <button class="btn btn-xs btn-link secondary" data-toggle="collapse"
                data-target=".showall-authors-@k.id()">
                    @Messages("viz.showmore.excerpt") (@(list.size - 6))
                    &nbsp;<span class="fa fa-chevron-down"></span>
                </button>
                <div class="collapse showall-authors-@k.id()">
                @for(l <- list.drop(6)) {
                    @argumentBox(k, l)
                }
                </div>
            }
            <div class="arg-carto-box small">
                <button class="btn btn-link btn-simple-link argument-add-citation-btn
                @BaseArgumentHolder.getShadeColor(k)" title="@Messages("text.args.tooltip.arg.add")"
                data-id="@argument.getId" data-context-id="@if(contextId == null){@argument.getContextId}else{@contextId}" data-linktype="@k.id()">
                    <span> <i class="fas fa-plus-square"></i>
                        &nbsp;@Messages("viz.argument.carto.add.argument.title") @titleText(k.id())
                    </span>
                </button>
            </div>
        </div>
    </div>
}