@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Argument cartography pane, ie, all justification links regarding given argument. (Lazy Loaded)
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@

@import be.webdeb.presentation.web.views.html.util.{filterbar}
@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.controllers.viz.argument.ArgumentContextVizHolder
@import be.webdeb.core.api.argument.EArgumentLinkShade

@import be.webdeb.presentation.web.controllers.entry.argument.JustificationLinkForm
@import be.webdeb.presentation.web.controllers.entry.argument.BaseArgumentHolder
@import be.webdeb.presentation.web.views.html.viz.argument.selectShade

@import be.webdeb.presentation.web.controllers.viz.EVizPane
@import be.webdeb.presentation.web.controllers.entry.EFilterName
@import be.webdeb.presentation.web.controllers.entry.FilterTree

@import be.webdeb.presentation.web.views.html.toolbar.contributionActionsDiv

@import be.webdeb.presentation.web.views.html.util.excerptsMetrics
@(
        argument : ArgumentContextVizHolder,
        filters : java.util.Map[EFilterName, java.util.List[FilterTree]],
        user : WebdebUser,
        contextId : Long,
        isDebate : Boolean
)
<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        var container = $("#cartocontent");
        argumentOptionsHandler(container);
    });
</script>

@if(filters != null && !filters.isEmpty) {
    @filterbar(filters)
}

@cartobox(a : ArgumentContextVizHolder, linktype : EArgumentLinkShade) = {
    <div class="arg-carto-box arg-box filterable-item @BaseArgumentHolder.getCartoColor(linktype)" data-filterable="@a.getFilterable">
        <a href="@be.webdeb.presentation.web.controllers.viz.routes.VizActions.dispatch(a.getId, a.getType.id, EVizPane.CARTO.id)" title="@a.getFullTitle">
            <span class="box-title">
                @Html(a.getFullTitle)
            </span>
        </a>
        @Html(a.getDescriptionWithLink)
        @excerptsMetrics(a.getExcerptMetrics(user), a.getId, null)
        @contributionActionsDiv(a, isDebate, null, if(contextId == null){null}else{contextId}, null, true, true, user)
    </div>
}

<div>
    @* cut screen in five parts *@
    <div class="col-xs-12 no-padding">
    @for((k, list) <- argument.viewCartography(user).iterator) {
        <div class="col-xs-12 col-sm-6 padding-column">
            <div class="arg-carto">
                <div class="arg-carto-box small">
                    <h4 class="text-shade-@k.id()">
                        @Messages("viz.argument.carto." + k.name().toLowerCase()) (@list.size)
                    </h4>
                </div>
                @if(list.size <= 6) {
                    @for(l <- list) {
                        @cartobox(l, k)
                    }
                } else {
                    @for(l <- list.subList(0, 6)) {
                        @cartobox(l, k)
                    }
                    <div class="arg-carto-box small">
                        <button class="btn btn-xs btn-link secondary" data-toggle="collapse"
                        data-target=".showall-@k.name.toLowerCase">
                            @Messages("browse.showall.argument")
                            (@(list.size() - 6))
                            &nbsp;<span class="fa fa-chevron-down"></span>
                        </button>
                    </div>
                    <div class="collapse showall-@k.name.toLowerCase">
                        @for(l <- list.subList(6, list.size)){
                            @cartobox(l, k)
                        }
                    </div>
                }
                @if(isDebate) {
                    <div class="arg-carto-box small">
                        <button class="btn btn-link btn-simple-link argument-add-argument-btn
                        @BaseArgumentHolder.getShadeColor(k)
                        " title="@Messages("text.args.tooltip.arg.add")"
                        data-id="@argument.getId" data-context-id="@if(contextId == null){-1}else{@contextId}" data-linktype="@k.id()">
                            <span> <i class="fas fa-plus-square"></i>
                                    &nbsp;@Messages("viz.argument.carto.add.argument." + k.name().toLowerCase())
                            </span>
                        </button>
                    </div>
                }
            </div>
        </div>
    }
    </div>
</div>