@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Argument cartography pane, ie, all justification links regarding given argument. (Lazy Loaded)
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@

@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.controllers.viz.argument.ArgumentContextVizHolder
@import be.webdeb.presentation.web.views.html.viz.argument.argumentCartoContent

@import be.webdeb.presentation.web.views.html.util.filterButton
@import be.webdeb.presentation.web.views.html.util.waitforit
@(

)

<div class="col-xs-12 no-padding">
    <hr class="hr-small">
    @filterButton()

    @waitforit("waiting")
</div>

<div id="cartocontent"></div>

