@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Theme page about election 2019
*
* @param user the user profile data
*
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.views.html.main
@import be.webdeb.presentation.web.controllers.viz.EVizPane
@import be.webdeb.presentation.web.views.html.util.scrollTopWrapper
@import be.webdeb.presentation.web.controllers.entry.actor.ActorSimpleHolder


@(
        politicalParties : java.util.Map[ActorSimpleHolder, java.util.List[ActorSimpleHolder]],
        politicalPartiesColors : java.util.Map[Long, String],
        user : WebdebUser
)


@scripts = {
    <title>@Messages("election.2019.title") @Messages("general.metatitle")</title>
    <meta name="description" content="@Messages("election.2019.desc")">

    <script src="@routes.Assets.at("javascripts/actor-scripts.js")" type="text/javascript"></script>

    <script type="text/javascript">
            $(document).ready(function() {
                addMemberElectionTypeahead('#search-parties');

                let searchInput = $('#search-parties');
                let searchBtn = $('#search-parties-btn');

                searchBtn.on('click', function(e){
                    e.preventDefault();
                    handleSearch(searchInput.val());
                });

                searchInput.keypress(function(e) {
                    if (e.which === 13) {
                        e.preventDefault();
                        handleSearch(searchInput.val());
                    }
                });

            });

            function handleSearch(name){
                $('.member').css("border", "none");

                let members = $('.member[title*="' + name + '"]');
                if(members.exists()){
                    location.hash = "#" + members.attr("id");
                    location.hash = "#" + members.parents(".party").attr("id");
                    members.css("border", "2px dashed white");

                    setTimeout(function(){ members.css("border", "none"); }, 10000);
                }
            }
    </script>
}


@main(user, scripts) {
    <div id="webdeb-theme-presentation" class="row">

        <div class="col-xs-12 text-center" style="padding : 15px;background-color: #413c3c;color: white;">
            <h2 class="small-margin">@Messages("election.2019.title")</h2>
        </div>

        <div class="col-xs-12 flex-container no-padding" style="align-items: center;background-color: #d4d4d4;">
            <div class="flex-container hidden-xs hidden-sm" style="width: 550px">
                <div style="width: 300px;padding : 15px;background-color: #f2f2f2;font-size: 16px;padding-top: 30px;">
                @Messages("election.2019.desc")
                </div>

                <iframe width="250" src="https://www.youtube.com/embed/nSZ2tKSpnJ8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-xs-12 padding-min-xs" style="flex-grow:1;padding-left : 40px;padding-right : 40px;padding-top : 5px;padding-bottom: 5px">
                <form>
                    <label for="search-parties">@Messages("election.2019.browse")</label>
                    <div class="input-group">
                        <input id="search-parties" type="text" class="form-control" placeholder="Search" style="height: 50px;">
                        <div class="input-group-btn">
                            <button id="search-parties-btn" class="btn btn-default" style="height: 50px;  padding-left: 15px;  padding-right: 15px;">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


    </div>
}
