@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Simple dropdown to administer contributions (visible for group owners and admins only)
*
* @param contribution the contribution to which an action may be performed
* @param pullRight true if the menu must be displayed at the right of the button
* @param user current user profile
*
* @author Fabian Gilson
*@


@import be.webdeb.core.api.contributor.EContributorRole
@import be.webdeb.presentation.web.controllers.entry.ContributionHolder
@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.views.html.util.importInGroup
@import be.webdeb.core.api.contribution.EContributionType

@(
    contribution : ContributionHolder,
    pullRight : Boolean,
    user : WebdebUser
)

  <script type="text/javascript">
    $(document).ready(function(){

      $('#viewer-btn').on('click', function () {
          document.location = "@be.webdeb.presentation.web.controllers.account.routes.ContributorActions.signup";
      });

      $('#edit-btn').on('click', function () {
        redirectToEdit(@contribution.getId);
      });

      $('#remove-from-group-btn').on('click', function () {
        showConfirmationPopup(doDeleteFromGroup, null, "viz.admin.modal.remove." + @contribution.getType.id +".", $('#change-scope').text());
      });

      $('#delete-btn').on('click', function () {
        showConfirmationPopup(doDelete, null, "viz.admin.modal.delete." + @contribution.getType.id +".");
      });

      var modalanchor = $('#merge-modal-anchor');
      $('#merge-btn').on('click', function () {
        getMergeContributionModal(@contribution.getId, @contribution.getType.id).done(function (html) {
          modalanchor.empty().append(html);
          modalanchor.find('.modal').modal('show');
        });
      });

      $('#history-btn').on('click', function () {
        getContributionHistoryModal(@contribution.getId, @contribution.getType.id).done(function (html) {
          modalanchor.empty().append(html);
          modalanchor.find('.modal').modal('show');
        });
      });

      $('#import-btn').on('click', function () {
        $('#import-in-group').modal('show');
      });

      $('#reset-btn').on('click', function () {
        document.location = "@be.webdeb.presentation.web.controllers.entry.actor.routes.ActorActions.resetActorType(contribution.getId)";
      });
    });

    /**
     * remove definitely (only admins may do that)
     */
    function doDelete() {
    	deleteContribution(@contribution.getId, @contribution.getType.id, 0, true);
    }

    /**
     * remove from current scope
     */
    function doDeleteFromGroup() {
      deleteContribution(@contribution.getId, @contribution.getType.id, @user.getGroup.getGroupId, false);
    }

  </script>

@if(user.getERole.id() != EContributorRole.VIEWER.id()) {
  <div id="contrib-actions" class="contrib-actions hidden-xs">
    <div class="btn-group">
      <button class="btn btn-link primary dropdown-toggle" data-toggle="dropdown" id="contrib-actions">
        <span class="fa fa-cogs fixed-size"></span> @Messages("viz.admin.actions")
      </button>

      <ul class="select-group-box dropdown-menu @if(!pullRight){dropdown-menu-right} group-dropdown" role="menu" aria-labelledby="contrib-actions" style="width: 250px">
        <p class="instructions small-font">@Messages("viz.admin.actions.desc")</p>
        <li>
          <button id="edit-btn" class="btn btn-link primary" title="@Messages("viz.admin.update.tooltip")">
            <span class="fa fa-pencil-alt fixed-size"></span> @Messages("viz.admin.update.btn")
          </button>
        </li>
        <li>
          <button id="merge-btn" class="btn btn-link primary" title="@Messages("viz.admin.merge.title")">
            <span class="fas fa-link fixed-size"></span>&nbsp;@Messages("viz.admin.merge.label")
          </button>
        </li>
        @if(user.getERole.id() >= EContributorRole.OWNER.id()) {
          <li>
            <button id="history-btn" class="btn btn-link primary" title="@Messages("viz.admin.history.title")">
              <span class="fa fa-history fixed-size"></span>&nbsp;@Messages("viz.admin.history.label")
            </button>
          </li>
        }
        @if(user.isAdminOf(contribution)) {
          @if(contribution.getType.id() != EContributionType.FOLDER.id() && contribution.getType.id() != EContributionType.ACTOR.id()) {
            <li>
              <button id="import-btn" class="btn btn-link primary" title="@Messages("viz.admin.import.tooltip")">
                <span class="fa fa-user-plus fixed-size"></span> @Messages("viz.admin.import.btn")
              </button>
            </li>
            <li>
              <button id="remove-from-group-btn" class="btn btn-link primary forcewrap" title="@Messages("viz.admin.remove.title", user.getGroup.getGroupName)">
                <span class="fa fa-ban fixed-size"></span>&nbsp;@Messages("viz.admin.remove.label", user.getGroup.getGroupName)
              </button>
            </li>
          }
          @if(user.getERole.id() == EContributorRole.ADMIN.id() || user.getId == contribution.getCreator) {
            <li>
              <button id="delete-btn" class="btn btn-link primary" title="@Messages("viz.admin.delete.title")">
                <span class="fa fa-trash fixed-size"></span>&nbsp;@Messages("viz.admin.delete.label")
              </button>
            </li>
          }
          @if(user.getERole.id() == EContributorRole.ADMIN.id() && contribution.getType.id() == EContributionType.ACTOR.id()) {
            <li>
              <button id="reset-btn" class="btn btn-link primary" title="@Messages("viz.admin.reset.title")">
                <span class="fa fa-trash fixed-size"></span>&nbsp;@Messages("viz.admin.reset.label")
              </button>
            </li>
          }
        }
      </ul>
    </div>
  </div>
  <div id="import-modal-anchor">@importInGroup(contribution.getId, contribution.getType, user)</div>
}else{
    <div id="viewer-actions" class="contrib-actions hidden-xs">
        <div class="btn-group">
            <button id="edit-btn" class="btn btn-link primary">
                <span class="fa fa-cogs fixed-size"></span> @Messages("viz.viewer.actions")
            </button>
        </div>
    </div>
}
