@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Search page. Contains a search bar. When going directly here (without being redirected from a prefilled-search),
* will display overviews of results (using a switch on concrete type of ContributionHolder)
*
* @param elements a list of contribution holders to be displayed
* @param user the user profile data
*
* @author Julien Mathieu (original design)
* @author Martin Rouffiange
*@


@import be.webdeb.core.api.contribution.EContributionType
@import be.webdeb.presentation.web.controllers.browse.SearchForm
@import be.webdeb.presentation.web.controllers.entry.ContributionHolder
@import be.webdeb.presentation.web.controllers.permission.WebdebUser

@import be.webdeb.presentation.web.views.html.browse.searchbar
@import be.webdeb.presentation.web.views.html.mainBrowse
@import be.webdeb.presentation.web.views.html.browse.defaultResult
@import be.webdeb.presentation.web.views.html.util.{bootstrapInput, breadcrumb, inlineform, hiddenFormField, message, noResultMessage, scrollTopWrapper}

@import helper._

@import be.webdeb.core.api.contributor.EContributionVisibility
@import be.webdeb.presentation.web.views.html.main2
@import be.webdeb.presentation.web.views.html.browse.searchResult2
@import be.webdeb.core.api.contributor.EContributorRole
@import be.webdeb.presentation.web.controllers.account.AdvicesForm
@import be.webdeb.presentation.web.controllers.browse.EOverviewType
@(
        latestEntries : java.util.List[ContributionHolder],
        holdersMap : java.util.Map[Integer, java.util.List[ContributionHolder]],
        advices : AdvicesForm,
        occursMap : java.util.Map[Integer, Integer],
        user : WebdebUser
)


@implicitFieldConstructor = @{ FieldConstructor(bootstrapInput.render) }

@scripts = {
    <title></title>
    <meta name="description" content="@Messages("browse.search.tooltip")">

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/design/explore_styles.css")">

    <script type="text/javascript">
            $(document).ready(function () {
                let p = new Pager($("#latest_entries").find('.showall'), 8, '#latest_entries-pager', undefined, false);
                p.reset();

                $('.contributionDescription').each(function(){
                    if($(this).height() > 78){
                        $(this).css('height', '78px');
                        $(this).css('justify-content', 'initial');
                    }
                });

                $('.contributions-container').css('visibility', 'visible');

                handlerListeners();
            });

            function handlerListeners(){
                let manageContributionsToExploresBtns = $('.manageContributionsToExplore');

                manageContributionsToExploresBtns.on('click', function(){
                    editContributionsToExplore($(this).data('contribution-type')).done(function(modal){
                        loadAndShowModal($('#modal-anchor'), modal);
                    }).fail(function(){
                        console.log("Error with manage contributions to explore modal");
                    });
                });

                let manageAdvicesBtn = $('.manageAdvices');

                manageAdvicesBtn.on('click', function(){
                    editAdvices().done(function(modal){
                        loadAndShowModal($('#modal-anchor'), modal);
                    }).fail(function(){
                        console.log("Error with manage edit advices modal");
                    });
                });
            }
    </script>
}

@count(c : Integer) = {
    @if(c > 100) {
        @(c - 100)
    }else{
        @c
    }
}

@editContributionsToExplore(contributionType: EContributionType) = {
    @if(user.getERole.id > EContributorRole.OWNER.id){
        <button class="btn btn-link primary manageContributionsToExplore" data-contribution-type="@contributionType.id">
            <i class="fa fa-cogs fixed-size"></i>
        </button>
    }
}

@editAdvices() = {
    @if(user.getERole.id > EContributorRole.OWNER.id){
        <button class="btn btn-link primary manageAdvices">
            <i class="fa fa-cogs fixed-size"></i>
        </button>
    }
}

@contributionSection(contributionType: EContributionType) = {
    @if((holdersMap.get(contributionType.id) != null && !holdersMap.get(contributionType.id).isEmpty) || user.getERole.id > EContributorRole.OWNER.id) {
        <section class="contributionPop @if(contributionType == EContributionType.ACTOR){acteurPop} col-12">
            <h2>@Messages("browse.search." + contributionType.name.toLowerCase) @editContributionsToExplore(contributionType)</h2>
            @searchResult2(null, holdersMap.get(contributionType.id), false, true, null, false, false, false, if(contributionType == EContributionType.ACTOR){EOverviewType.QUADRA}else{EOverviewType.DOUBLE})
            <div class="col-12 text-center">
                <a class="all" href="@be.webdeb.presentation.web.controllers.browse.routes.BrowseActions.redirectSearch("contribution_type=" + contributionType.id)">
                @Messages("browse.showall." + contributionType.name.toLowerCase)
                </a>
            </div>
        </section>
    }
}

@countDiv(contributionType : Integer, fa : String) = {
    <div>
        <i class="block @fa"></i>
        <div class="d-flex justify-content-center">
            <p class="mr-1">@count(occursMap.get(contributionType))</p>
            <p class="d-none d-md-block">@Messages("general.filter.ctype." + contributionType)s</p>
        </div>
    </div>
}

@main2(user, scripts) {

    <div class="header row">
        <div class="compteur d-flex flex-wrap justify-content-around col-12">
            @countDiv(1, "far fa-comments")
            @countDiv(3, "far fa-comment")
            @countDiv(4, "fas fa-align-left")
            @countDiv(0, "fas fa-street-view")
        </div>
    </div>

    <div id="contenu-principal">
        <div class="container-fluid" style="max-width: 900px;">
            <div class="row d-flex flex-wrap no-gutters">
                <section class="une col-12">
                    <h2>@Messages("explore.title.news")</h2>
                    <div id="carouselUne" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselUne" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselUne" data-slide-to="1"></li>
                            <li data-target="#carouselUne" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">

                            <div class="carousel-item active">
                                <div class="text-center" style="max-width: 750px;margin:auto">
                                    <a class="election-link" href="@be.webdeb.presentation.web.controllers.routes.Application.otherElectionStatsPage(6)">
                                        <img src="@routes.Assets.at("images/others/election/6/graph6.svg")" class="image-selectable img-fluid" alt="graph1" style=" border : 1px solid black;background-color: white">
                                    </a>
                                    <div class="election1">
                                        <div>
                                            <span><a class="election-link" href="@be.webdeb.presentation.web.controllers.routes.Application.otherElectionStatsPage(6)">@Messages("election.2019.stats.6.title")</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="d-none d-md-block">
                                    <div class="text-center" style="max-width: 600px;margin:auto">
                                        <a class="election-link" href="@be.webdeb.presentation.web.controllers.routes.Application.otherElection">
                                            <img src="@routes.Assets.at("images/others/election.png")" class="image-selectable img-fluid" alt="election 2019">
                                        </a>
                                        <div class="election1">
                                            <div>
                                                <span><a class="election-link" href="@be.webdeb.presentation.web.controllers.routes.Application.otherElection">@Messages("election.2019.title")</a></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="text-center d-block d-sm-none p-0 test2">
                                    <div class="election2">
                                        <a class="election-link" href="@be.webdeb.presentation.web.controllers.routes.Application.otherElection">@Messages("election.2019.title")</a>
                                    </div>
                                    <div>
                                        <a class="election-link" href="@be.webdeb.presentation.web.controllers.routes.Application.otherElection">
                                            <img src="@routes.Assets.at("images/others/election_xs.png")" class="image-selectable img-fluid" alt="election 2019" style="width:100%;">
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="text-center" style="max-width: 600px;margin:auto">
                                    <a class="election-link" href="@be.webdeb.presentation.web.controllers.routes.Application.otherElectionStats">
                                        <img src="@routes.Assets.at("images/others/election_stats.svg")" class="image-selectable img-fluid" alt="graph1" style="border : 1px solid black;background-color: white">
                                    </a>
                                    <div class="election1">
                                        <div>
                                            <span><a class="election-link" href="@be.webdeb.presentation.web.controllers.routes.Application.otherElectionStats">@Messages("election.2019.stats.title")</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <a class="carousel-control-prev" href="#carouselUne" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">@Messages("general.btn.prev")</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselUne" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">@Messages("general.btn.next")</span>
                        </a>
                    </div>
                </section>

                <section id="latest_entries" class="une contributions-container">
                    <h2>@Messages("dash.lastentries2.title.1") <span class="d-none d-lg-inline">@Messages("dash.lastentries2.title.2", user.getGroup.getGroupName)</span></h2>
                    @searchResult2(null, latestEntries, true, true, null, false, false, false, EOverviewType.DOUBLE)
                    <div class="col-12">
                        <ul id="latest_entries-pager" class="pager pagination pagination-sm no-margin pull-right col-12 p-0"></ul>
                    </div>
                </section>

                @contributionSection(EContributionType.FOLDER)

                @contributionSection(EContributionType.DEBATE)

                @contributionSection(EContributionType.ACTOR)

                @contributionSection(EContributionType.EXCERPT)

                @contributionSection(EContributionType.TEXT)

                <section class="col-12 une" >
                    <h2>@Messages("explore.title.slides")</h2>

                    <div id="webdebPresentationCarousel" class="carousel slide" data-ride="carousel">

                        <ol class="carousel-indicators">
                            @for(i <- 1 to 42) {
                                <li data-target="#webdebPresentationCarousel" data-slide-to="@i" @if(i == 1){class="active"}></li>
                            }
                        </ol>

                        <div class="carousel-inner">
                            @for(i <- 1 to 42){
                                <div class="carousel-item @if(i == 1){active}">
                                    <img class="d-block w-100" src="@routes.Assets.at("images/others/explore/presentation/Diapositive" + i + ".JPG")" alt="dia@i">
                                </div>
                            }
                        </div>

                        <a class="carousel-control-prev" href="#webdebPresentationCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">@Messages("general.btn.prev")</span>
                        </a>
                        <a class="carousel-control-next" href="#webdebPresentationCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">@Messages("general.btn.next")</span>
                        </a>
                    </div>
                </section>

                @if((advices.getAdvices != null && !advices.getAdvices.isEmpty) || user.getERole.id > EContributorRole.OWNER.id) {
                    <section class="astuce col-12">
                        <h2>Astuce @editAdvices()</h2>
                        <div id="carouselAstuce" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                            @for((advice, i) <- advices.getAdvices.zipWithIndex) {
                                <div class="carousel-item @if(i == 0){active}">@advice.getTitle</div>
                            }
                            </div>
                        </div>
                    </section>
                }
                @*
                 <section class="ecranPop col-12">
                    <h2>Écrans populaires</h2>
                    <div class="row d-flex flex-wrap align-content-strech">
                        <a class="ecranPop_content p-2 col-12 col-md-6 col-lg-4" href="#">
                            <div class="ecranPop_img" style="background-image:url(@routes.Assets.at("images/others/examples/exemple1.jpg"))" )></div>
                            <p>Le parcours d’une personne</p>
                        </a>
                        <a class="ecranPop_content p-2 col-12 col-md-6 col-lg-4" href="#">
                            <div class="ecranPop_img" style="background-image:url(@routes.Assets.at("images/others/examples/exemple1.jpg"))" )></div>
                            <p>La composition d’une organisation</p>
                        </a>
                        <a class="ecranPop_content p-2 col-12 col-md-6 col-lg-4" href="#">
                            <div class="ecranPop_img" style="background-image:url(@routes.Assets.at("images/others/examples/exemple1.jpg"))" )></div>
                            <p>L’organigramme d’une organisation</p>
                        </a>
                        <a class="ecranPop_content p-2 col-12 col-md-6 col-lg-4" href="#">
                            <div class="ecranPop_img" style="background-image:url(@routes.Assets.at("images/others/examples/exemple1.jpg"))" )></div>
                            <p>Les arguments d’un débat</p>
                        </a>
                        <a class="ecranPop_content p-2 col-12 col-md-6 col-lg-4" href="#">
                            <div class="ecranPop_img" style="background-image:url(@routes.Assets.at("images/others/examples/exemple1.jpg"))" )></div>
                            <p>Les acteurs pour ou contre une opinion</p>
                        </a>
                        <a class="ecranPop_content p-2 col-12 col-md-6 col-lg-4" href="#">
                            <div class="ecranPop_img" style="background-image:url(@routes.Assets.at("images/others/examples/exemple1.jpg"))" )></div>
                            <p>L’argumentaire d’un texte</p>
                        </a>
                    </div>
                </section>
                *@
            </div>
        </div>
    </div>


}
