@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Contribution's texts content part, ie, depicting a list of texts and statistics about them
* from given text.
*
* @param viz the contribution being visualized (actor or folder)
* @param text the text to show
* @param view the current view (part), needed to retrieve right statistics (can be null)
* @param user the current user
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@

@import be.webdeb.presentation.web.controllers.entry.text.TextHolder
@import be.webdeb.presentation.web.controllers.viz.EVizPane
@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.views.html.util.authorInlineList

@(
        text : TextHolder,
        pane : EVizPane,
        user : WebdebUser
)


<blockquote class="no-border" style="font-style: normal !important;">
  @if(text.isHidden && !text.getExcerpts(user).isEmpty) {
    <a class="large-font" href="@be.webdeb.presentation.web.controllers.viz.routes.VizActions.text(text.getId, pane.id, 0)">
      <span style="font-style: italic">@text.getExcerpts(user).get(0).getOriginalExcerpt</span>
    </a>
  } else {
    <a class="large-font" href="@be.webdeb.presentation.web.controllers.viz.routes.VizActions.text(text.getId, pane.id, 0)">
    @text.getTitle
    </a>
  }
  <footer class="bottom-border">
    <cite>
      @authorInlineList(text.getAuthors(3), EVizPane.TEXTS) @(if(text.getSourceTitle != null) ", ".concat(text.getSourceTitle))
      @(if(text.getPublicationDate != null) text.getPublicationDate)
    </cite>
  </footer>
</blockquote>
