@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Partial template to add/edit arguments (composed by a series of steps, aka sub-screens)
*
* @param argForm an argument form (holding the argument data)
* @param textId the text id from which this argument belongs to
* @param argId the argument id (may not exist, so -1 or null)
* @param helper helper class to fetch predefined values from (countries, genders, types, ...)
* @param user the user profile data
* @param map the message map (may be null)
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.controllers.entry.ContributionHelper
@import be.webdeb.presentation.web.controllers.entry.excerpt.ExcerptForm
@import be.webdeb.presentation.web.controllers.permission.WebdebUser

@import be.webdeb.presentation.web.views.html.util.{textContentButton, helpButton, publishInGroup, authordiv, authorsimplediv, helpbubble, inlineform, noerrorForm, hiddenField, foldertagdiv, hiddenFormField, message, bootstrapInput, breadcrumb, handleNameMatches, handleFolderNameMatches, placediv}
@import helper._

@(
        excForm: Form[ExcerptForm],
        textId: Long,
        excId: Long,
        helper : ContributionHelper,
        user : WebdebUser,
        map: java.util.Map[String, String]
)

<fieldset name="edit-excerpt-content">

    @message(flash)
    @message(map)

    @hiddenFormField(excForm("id"))
    @hiddenFormField(excForm("externalExcerptId"))
    @hiddenField("textId", "textId", textId)
    @hiddenFormField(excForm("type"))
    @hiddenFormField(excForm("lang"))
    @hiddenFormField(excForm("version"))
    @hiddenFormField(excForm("excLang"))
    @hiddenFormField(excForm("inGroup"))
    @hiddenFormField(excForm("originalExcerpt"))

    <div class="col-xs-12 no-padding">
        <div class="col-xs-12 instructions no-padding"><i>
        @Messages("general.required.fields")</i>
            @helpButton("entry.argument", false)
            @textContentButton(textId, false)
        </div>
    </div>

    <div class="col-xs-12" style="margin-bottom: 20px">
        <blockquote class="excerpt">@excForm("originalExcerpt").value</blockquote>
        @excForm.errors.map { case (key, error) =>
            @if(key.equals("originalExcerpt")) {
                <div class="no-help"><div class="label label-danger">@Messages(error(0).message)</div></div>
            }
        }
    </div>

    <div class="col-xs-12 no-padding mid-bottom-margin">
        <div id="standarddiv" class="entry input-group col-xs-12">
            <label for="standarddiv">@Messages("argument.label.standard")
                @helpbubble("bubble.title","bubble.entry.argument.standard")
            </label>

            <div class="col-xs-12 no-padding">
                <p class="text-danger">@Messages("argument.label.techexcerpt")</p>
                @textarea(
                    excForm("techWorkingExcerpt"),
                    '_label -> null,
                    'class -> "form-control data-autoresize",
                    'autocomplete -> "off",
                    'rows -> "1"
                )(handler = inlineform, implicitly[Messages])
                @hiddenFormField(excForm("workingExcerpt"))
            </div>

            <div id="standardPart_warning" class="no-help col-xs-12 no-padding"></div>

            @excForm.errors.map { case (key, error) =>
                @if(key.equals("techWorkingExcerpt")) {
                    <div class="no-help"><div class="label label-danger">@Messages(error(0).message)</div></div>
                }
            }
        </div>

        @foldertagdiv(excForm, "folders", "argument", false)

        @placediv(excForm, "argument.title.place", true)

        @authordiv(excForm, "authors", "argument.label.author", false)

        @authordiv(excForm, "reporters", "argument.label.reporter", false)

        @authorsimplediv(excForm, "citedactors", "argument.label.cited")

    </div>

</fieldset>
