@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Modal page to select a text to work with or explore its excerpts
*
* @param title the subtitle of the modal
* @param argId the id of the argument to be linked to the one that will be selected in this modal
* @param contextType the context contribution
* @param newExcerpt a form to add a new excerpt if the context contribution is a text
* @param shade the shade that will be used to link both arguments
* @param searchForm (pre-filled) query object to look for a particular text
* @param elements a list of contributions to display
* @param user the user profile data (for groups)
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@


@import be.webdeb.core.api.argument.EArgumentLinkShade

@import be.webdeb.presentation.web.controllers.browse.SearchForm
@import be.webdeb.presentation.web.controllers.entry.ContributionHolder
@import be.webdeb.presentation.web.controllers.permission.WebdebUser

@import be.webdeb.presentation.web.views.html.util.{bootstrapInput, emptyModalframe, hiddenField, hiddenFormField, inlineform, publishInGroup}

@import helper._
@import be.webdeb.presentation.web.controllers.entry.ContributionHelper
@import be.webdeb.core.api.contribution.EContributionType

@import be.webdeb.core.api.contribution.Contribution
@import be.webdeb.presentation.web.views.html.util.displayTextContent
@import be.webdeb.presentation.web.controllers.entry.text.TextHolder
@import be.webdeb.presentation.web.controllers.entry.excerpt.ExcerptSimpleForm
@import be.webdeb.presentation.web.views.html.entry.text.excerptEditBox
@import be.webdeb.presentation.web.views.html.util.searcharea
@(
    title : String,
    argId: Long,
    context: ContributionHolder,
    newExcerpt: Form[ExcerptSimpleForm],
    shade : EArgumentLinkShade,
    searchForm : Form[SearchForm],
    elements : java.util.List[ContributionHolder],
    helper : ContributionHelper,
    user : WebdebUser
)

@implicitFieldConstructor = @{ FieldConstructor(bootstrapInput.render) }

<script src="@routes.Assets.at("javascripts/textAnnotator.js")" type="text/javascript"></script>
<script type="text/javascript">
  $(document).ready(function() {

    var modal = $('#search-excerpt-modal');
    var selectbtn = modal.find('#selectexc-btn');

    var annotatedText = null;

    var searchContent = modal.find(".search-content");
    var searchContentBtn = modal.find("#search-content-btn");

    var addNewContent = modal.find("#add-new-content");
    var addNewContentBtn = modal.find("#add-new-content-btn");

    var addCitationInstruction = modal.find("#selection-span");

    @if(context != null && context.getType == EContributionType.TEXT){
      annotatedText = loadAnnotatedText(annotatedText, true, modal, addNewContent);
      handleSearchText(modal);
    }

    searchContentBtn.on('click', function() {
      searchContent.show();
      addNewContent.hide();
      selectbtn.show();
      addCitationInstruction.hide();
      selectbtn.prop('disabled', true);
    });

    addNewContentBtn.on('click', function() {
      @if(context != null && context.getType == EContributionType.TEXT){
        searchContent.hide();
        addNewContent.show();
        selectbtn.hide();
        addCitationInstruction.show();
        annotatedText = loadAnnotatedText(annotatedText, true, modal, addNewContent, convertTextAnnotationModalWidth(modal));
      }else{
        var shade = modal.find('#shade').val();
        if(shade !== '') {
          excerptSelectionShade(@argId, shade).done(function () {
            redirectToTextExcerpts(-1);
          }).fail(function(){
            console.log("Fail to confirm shade selection...");
          });
        }
      }
    });

    @if(shade != null) {
      searchForExcerpt(modal);
    }

    // do post on search button pressed
    modal.find('#search-btn').on('click', function() {
      searchForExcerpt(modal);
    });

    var query = modal.find('#query');
    @if(context != null && context.getType == EContributionType.TEXT){
      addExcerptTypeahead(query, @argId, @context.getId, "idContribution");
    }else{
      addExcerptTypeahead(query, @argId, -1, "idContribution");
    }
    query.on('typeahead:selected', function () {
      searchForExcerpt(modal);
    });
    query.keypress(function(e) {
      if (e.which === 13) {
        searchForExcerpt(modal);
      }
    });

    modal.find(".shadeLinkSelect").on('click', function() {
      var value = $(this).find('input').val();
      if(value === "4" || value === "5" || value === "6"){
        modal.find(".step_1").hide();
        modal.find(".step_2").show();
        modal.find('input[name="shade"]').val(value);
        modal.find('#search').show();
        @if(context != null && context.getType == EContributionType.TEXT) {
          searchForExcerpt(modal);
        }
      }
    });

    // notify creation cancellation
    modal.find('#cancel-btn').on('click', function () {
      abortLinkCreation();
    });

    // redirect to
    modal.find('#workwith-btn').on('click', function() {
      redirectToTextExcerpts(-1);
    });

    handleExcerptSelection(modal, selectbtn);
  });

  function searchForExcerpt(modal){
    executeSearch(modal.find('#search-content-form'), '#modal-result-anchor', '#modal-pager', 4, '.toggleable', false, true).then(function (pager) {
      postSearchExecuteFilter(pager, "#search-excerpt-modal", "#modal-result-anchor");
    });
    var after = $("#no-text-after-browse");
    if(after.exists()){
        setTimeout(function(){after.show();}, 500);
    }
  }

  function handleExcerptSelection(modal, selectbtn) {
    selectbtn.prop('disabled', true);
    var addNewContent = modal.find('#add-new-content');
    toggleSummaryBoxes('#showexcs-content', '.toggleable');

    // handle "create link" button
    selectbtn.on('click', function () {
      if (!addNewContent.exists() || !addNewContent.is(":visible")) {
        saveLink(modal.find('#argId').val(), modal.find('.selected').prop('id').split("_")[1], modal.find('#shade').val(),
                modal.find('#inGroup').val()).done(function () {
          hideAndDestroyModal(modal);
          slideMessage($('#success-save'));
          triggerReloadVizEvent();
        }).fail(function (xhr) {
          treatSaveLinkFail(modal, xhr.status);
        });
      }
    });

    modal.find("#cancel-btn").on('click', function (){
      abortLinkCreation().done(function () {
        hideAndDestroyModal(modal);
      }).fail(function (xhr) {
        console.log("Abort link create failed...");
        hideAndDestroyModal(modal);
      });
    });
  }

</script>

@emptyModalframe("search-excerpt-modal", false, "", "", true) {
    <div class="modal-header">
      <h3 class="modal-title small-caps text-muted">@Messages("browse.search.exc.title")</h3>
      <span class="large-font">
        <span class="text-primary serif">@title</span>
        @* @if(shade != null) {
          @Messages("viz.argument.box.title." + shade.name.toLowerCase)
        } *@
      </span>
    </div>

    @* hidden fields for confirmation handling *@
    @hiddenField("argId", "argId", argId)

    <div id="modal-bdy" class="modal-body row">

      @if(shade == null) {
        <div class="col-xs-12 step_1 flex-container">
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-similar shadeLinkSelect">
              <input type="radio" name="options" autocomplete="off" value="4">
              @Messages("argument.links.shade.4.form")
            </label>
            <label class="btn btn-qualifies shadeLinkSelect">
              <input type="radio" name="options" autocomplete="off" value="5">
              @Messages("argument.links.shade.5.form")
            </label>
            <label class="btn btn-opposes shadeLinkSelect">
              <input type="radio" name="options" autocomplete="off" value="6">
              @Messages("argument.links.shade.6.form")
            </label>
          </div>
        </div>
        @hiddenField("shade", "shade", "")
      }else{
        @hiddenField("shade", "shade", shade.id)
      }

      <div class="col-xs-12 step_2" @if(shade == null) {style="display:none;" }>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-primary active" id="search-content-btn">
            <input type="radio" name="options" autocomplete="off">
            @if(context == null || context.getType != EContributionType.TEXT) {
              @Messages("browse.search.selectexc.addon")
            }else{
              @Messages("argument.excerpt.links.add.search")
            }
          </label>
          <label class="btn btn-primary" id="add-new-content-btn">
            <input type="radio" name="options" autocomplete="off">
            @Messages("argument.excerpt.links.add.create")
          </label>
          @*<label class="btn  btn-primary">
            <input type="radio" name="options" id=select-tovalidate" autocomplete="off">
            @Messages("argument.excerpt.links.add.validate")
          </label>*@
          <span id="selection-span" style="display:none;position:relative;top:5px;margin-left:25px;">&nbsp;&nbsp;@Messages("argument.links.citation.instructions")</span>
        </div>
      </div>

        <div id="search-content" class="search-content step_2" @if(shade == null) {style="display:none;" }>
          <form id="search-content-form" class="col-xs-12" style="margin-top: 10px;@if(context != null && context.getType == EContributionType.TEXT){display: none;}">
            <div class="col-xs-12 input-group">
              <div class="input-group">
                <span class="input-group-addon">@Messages("browse.search.selectexc.addon")</span>
                @inputText(
                  searchForm("query"),
                  'placeholder -> Messages("browse.search.selectexc.place"),
                  '_label -> null,
                  'class -> "form-control",
                  'autocomplete -> "off"
                )(handler = inlineform, implicitly[Messages])
                @hiddenFormField(searchForm("idContribution"))
                @hiddenFormField(searchForm("inGroup"))
                @hiddenFormField(searchForm("isExcerpt"))
                @hiddenFormField(searchForm("isStrict"))
                @hiddenFormField(searchForm("textToLook"))
                @hiddenFormField(searchForm("contextToIgnore"))

                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" id="search-btn" title="@Messages("browse.search.tooltip")" data-placement="bottom">
                    <span class="fa fa-search"></span>
                  </button>
                </span>
              </div>
            </div>
          </form>
          <p class="col-xs-12 instructions">
            @if(context == null || context.getType != EContributionType.TEXT) {
              @Html(Messages("browse.search.exc.instructions"))
              <span id="no-text-after-browse" style="display: none">@Messages("excerpt.add.instruction")</span>
            }else{
              @Messages("excerpt.add.instruction")
            }
          </p>

          <div id="modal-result-anchor" class="col-xs-12 pointable-content large-font"></div>
        </div> @* search-content *@

        @if(context != null) {
          @context match {
            case context: TextHolder => {
              <div id="add-new-content" class="col-xs-12" style="display: none;
                margin-top: 10px;">
                @searcharea("searchtext", "initial", Messages("text.args.label.searchtext"), Messages("text.args.place.searchtext"), Messages("browse.search.tooltip"))
              <br>
              @displayTextContent(context, user, true, true)
              </div>
            </div>
            @hiddenField("text-id", "text-id", context.getId)
            @* "add new excerpt" box *@
            <div class="highlighter-container" style="display: none;">
              <div style="display: block;" class="popover popoverbox fade bottom in btn-only" role="tooltip">
                <div class="arrow"></div>
                <div class="popover-content">
                @excerptEditBox(context, newExcerpt, null, user)
                </div>
              </div>
            </div>
          }

            case _ => { @* ignore *@ }
          }
        }
    </div>

    <div class="modal-footer">
      <div id="search-footer">
        <div id="search-btns" class="pull-left">
          <button id="cancel-btn" type="button" class="btn btn-default">@Messages("general.btn.cancel")</button>
          <button id="selectexc-btn" type="button" class="btn btn-primary toggleable step_1"
          title="@Messages("browse.search.text.selectexc.tooltip")" @if(shade == null) {style="display:none;" }>
            @Messages("browse.search.selectexc.btn")
          </button>
          <span style="display:none;">
            @publishInGroup("link-change-group", "inGroup", user)
          </span>
        </div>
        <div class="pull-right"><ul id="modal-pager" class="pager pagination pagination-sm no-margin search-content"></ul></div>
      </div>
    </div>
}
