@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Reusable template to display affiliations between actors
*
* @param affActorsByActorType a map of affiliations or affiliated actor by actor type
* @param affType type of aff : affiliation or affiliated
* @param affButton the button message to add a new aff
*
* @author Martin Rouffiange
*@

@import be.webdeb.presentation.web.controllers.entry.actor.ActorHolder
@import be.webdeb.presentation.web.controllers.viz.actor.AffiliationViz
@import be.webdeb.presentation.web.controllers.viz.EVizPane
@import be.webdeb.presentation.web.views.html.util.{filterButton, chartContainer}

@import be.webdeb.presentation.web.views.html.util.simpleChartContainer
@import be.webdeb.presentation.web.views.html.util.affiliationsHighchartsAff
@import be.webdeb.core.api.actor.EActorType
@(
        affActorsByActorType : java.util.Map[ActorHolder, java.util.List[AffiliationViz]],
        actorType: EActorType,
        actorAffType: EActorType,
        affType : String,
        affButton : String
)

<script type="text/javascript">
        $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip();
        });
</script>

<div class="col-xs-12 aff-chart-container">
  <div id="@affType-list-@actorAffType.id" class="organizational-list" style="display: none">
    @for((a, list) <- affActorsByActorType) {
      @affiliationsHighchartsAff(a, null, list, actorType, false, "")
    }
    <div class="actor-thumbnail pointable add-@affButton">
      <div class="thumbnail-holder empty plussign"></div>
      <div>
        <button class="btn btn-link primary no-padding"><h4>@Messages("viz.actor.carto.btn." + (if(actorType == EActorType.PERSON){"person"}else{"org"}) + ".add"+affButton)</h4></button>
      </div>
    </div>
  </div>
</div>

