@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Partial page to handle authors of contributions
*
* @param form the form that contains the author-related fields
* @param fieldName actual name of the field in given form (will also be added as main div classname for javascript handling)
* @param labelName base name of all labels in form
* @param help boolean saying if an inline help must be shown
*
* @author Fabian Gilson
*@


@import be.webdeb.presentation.web.views.html.util.{helpbubble, hiddenFormField, inlineform, noerrorForm}
@import helper._


@(
    form: Form[_],
    fieldName: String,
    labelName: String,
    help : Boolean
)

<div class="controls col-xs-12 no-padding" id="@fieldName">
  <label class="control-label">@Messages(labelName)
    @helpbubble("bubble.title","bubble.entry.author.".concat(labelName))
  </label>

  @repeatWithIndex(form(fieldName), min = 1) { (authorField,i) =>
    <div id="authors_@i.toString.concat("_names")" class="entry input-group input-group-border padding-group smaller-font">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 padding-field">
        @inputText(
          form(authorField.name.concat(".fullname")),
          'placeholder -> Messages(labelName + ".place.name"),
          '_label -> Messages(labelName + ".name"),
          'class -> "form-control",
          'autocomplete -> "off"
        )(handler = noerrorForm, implicitly[Messages])
        @hiddenFormField(form(authorField.name.concat(".id")))
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 padding-field">
        @inputText(
          form(authorField.name.concat(".function")),
          'placeholder -> Messages(labelName + ".place.function"),
          '_label -> Messages(labelName + ".function"),
          'class -> "form-control",
          'autocomplete -> "off"
        )(handler = noerrorForm, implicitly[Messages])
        @hiddenFormField(form(authorField.name.concat(".functionid")))
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 padding-field">
        @inputText(
          form(authorField.name.concat(".affname")),
          'placeholder -> Messages(labelName + ".place.affname"),
          '_label -> Messages(labelName + ".affname"),
          'class -> "form-control",
          'autocomplete -> "off"
        )(handler = noerrorForm, implicitly[Messages])
        @hiddenFormField(form(authorField.name.concat(".affid")))
      </div>

      <div>
        @inputText(
          form(authorField.name.concat(".aha")),
          '_label -> null,
          'class -> "form-control hidden",
          'autocomplete -> "off"
        )(handler = inlineform, implicitly[Messages])
        @checkbox(
          form(authorField.name.concat(".isDisambiguated")),
          '_name -> "authors[".concat(i.toString).concat("].isDisambiguated"),
          '_label -> null,
          'class -> "form-control hidden"
        )(handler = inlineform, implicitly[Messages])
        @checkbox(
          form(authorField.name.concat(".isAffDisambiguated")),
          '_name -> "authors[".concat(i.toString).concat("].isAffDisambiguated"),
          '_label -> null,
          'class -> "form-control hidden"
        )(handler = inlineform, implicitly[Messages])
        @hiddenFormField(form(authorField.name.concat(".lang")))

        @if(labelName.contains("argument")) {
          @checkbox(
            form(authorField.name.concat(labelName.substring(labelName.lastIndexOf(".")))),
            '_name -> "authors[".concat(i.toString).concat("]").concat(labelName.substring(labelName.lastIndexOf("."))),
            'class -> "form-control hidden",
            'checked -> "checked"
          )(handler = inlineform, implicitly[Messages])
        }
      </div>
      <span class="input-group-btn bottom">
        <button class="btn btn-default btn-sm btn-add" type="button"><span class="fa fa-plus"></span></button>
        <button class="btn btn-default btn-sm btn-remove" type="button"><span class="fa fa-minus"></span></button>
      </span>
    </div>
    @form.errors.map { case (key, error) =>
      @if(key.startsWith(authorField.name) && error(0).message != "") {
        <div class="label label-danger">@Messages(error(0).message)</div>
      }
    }
  }
  <p class="help-inline">@(if(help) Messages(labelName + ".help"))</p>
</div>
