@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Reusable container to draw a chart
*
* @param name the canvas name
* @param className additional classes
* @param label the label for no socio
*
* @author Martin Rouffiange
*@


@import helper._


@(
    name : String,
    className : String,
    label : String
)

<div class="col-xs-12 no-padding chart-container" style="overflow-x: auto;overflow-y: hidden;display: none">
    <div class="col-xs-12 flex-container">
        <div class="chart-labels @className"></div>
        <div style="flex-grow: 1;">
            <canvas id="@name"></canvas>
            <canvas id="copy-@name" style="display: none"></canvas>
        </div>
    </div>
    <div class="no-socio col-xs-12 no-padding" style="display: none;">
        <div class="alert alert-info">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>@Messages("info") </strong> @Messages(label)
        </div>
    </div>
</div>