@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Display a given text content
*
* @param title the title of the text
* @param content the text content
*
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.views.html.util.helpContent
@import be.webdeb.presentation.web.views.html.util.emptyModalframe
@import be.webdeb.presentation.web.controllers.entry.text.TextHolder
@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.views.html.util.displayTextContent

@import be.webdeb.presentation.web.views.html.util.searcharea
@import be.webdeb.presentation.web.views.html.util.hiddenField
@(
        text: TextHolder,
        user : WebdebUser
)

<script src="@routes.Assets.at("javascripts/text-scripts.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery.textpager.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jQuery.highlighter.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery-ui.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function() {

        var annotatedText = null;
        var modal = $('#modal-text-content');

        // search handling
        handleSearchText(modal);

        // request annotated text if we are editing a text and this text is not an external one (pdf)
        annotatedText = loadAnnotatedText(annotatedText, false, modal, $("#text-annotation"), convertTextAnnotationModalWidth(modal));

    });

</script>

@emptyModalframe("modal-text-content", false, "form", "", false) {

    <div class="modal-header">
        <h3 class="modal-title small-caps text-muted"> @text.getTitle </h3>
    </div>

    <div class="modal-body row">
        <div class="col-xs-12">
            <div id="text-annotation" class="col-xs-12 no-padding-xs">
                <!--  search area -->
                @searcharea("searchtext", "none", Messages("text.args.label.searchtext"), Messages("text.args.place.searchtext"), Messages("browse.search.tooltip"))
                @hiddenField("text-id", "text-id", text.getId)
                @displayTextContent(text, user, false, true)
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="form-actions pull-right">
            <button type="button" name="cancel" class="btn btn-default" data-dismiss="modal">
                <span class="fa fa-times-circle"></span> &nbsp; @Messages("general.btn.close")
            </button>
        </div>
    </div>

}
