@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Partial page to display text content with eventually annotation
*
* @param text the text details (may not be null, but empty)
* @param user the user profile data
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@

@import be.webdeb.presentation.web.controllers.entry.text.TextHolder
@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.core.api.contributor.EPermission

@(
        text: TextHolder,
        user : WebdebUser,
        withHighlighter : Boolean,
        withYGap : Boolean
)

<script type="text/javascript">
    function loadAnnotatedText(annotatedText, withHighlighter, container, content, width){
        width = width || (content.find(".text-zone").width() - 20);
        // request annotated text if we are editing a text and this text is not an external one (pdf)
        if (@text.getId !== -1) {
            // making check in scala because filename may be null and if we are generating javascript code,
            // actual evaluation of expression is performed when generating the template, so both parts of the
            // conjonctions are evaluated, thus the call to "contains" may raise a nullpointer
            @if(text.getFilename != null && !text.getFilename.contains(".")) {
            // call annotator since we are requesting a plain text
                showMe(container.find('#preview'), true, false);
                annotatedText = updateAnnotated(content, annotatedText , container.find('#text-id').val(), width);
            }
            if(withHighlighter) {
                $('.popover').popover();
                setHighlighter(container, content.find('#textarea'), @withYGap);
            }
        }

        return annotatedText;
    }
</script>

    @* Text area no padding is important for paging to work *@
    <div class="@if(withHighlighter){col-xs-11}else{col-xs-12} no-padding" id="textzone">
            <!--  Caption -->
        @* @if(!user.getGroup.getPermissions.contains(EPermission.DISABLE_ANNOTATION)) {
            <div id="nlpboxes" style="display: none;">
                <table class="table table-borderless">
                    <tr>
                        <td><span class="text-muted"><i>@Messages("text.args.label.nlphelp") &nbsp;:</i></span></td>
                        <td class="spaced annotated">
                            <span class="organisation">@Messages("entities.label.organisation")</span>
                            <span class="personne">@Messages("entities.label.personne")</span>
                            <span class="lieu">@Messages("entities.label.lieu")</span>
                            <span class="temps">@Messages("entities.label.temps")</span>
                            <span class="profession">@Messages("entities.label.profession")</span>
                            <span class="conn">@Messages("entities.label.conn")</span>
                        </td>
                    </tr>
                </table>
            </div>
        }else{
            <hr>
        } *@
        <h4 id="preview" style="display: none" class="text-muted">
        @Html(Messages("text.args.preview"))
        </h4>
        <h4 id="annotation-error" style="display: none" class="text-muted">
            @Messages("argument.label.type.error") &nbsp;
        </h4>
        <div id="textarea" class="textcontent
          @(if(text.getFilename != null && text.getFilename.contains(".")) "embed-pdf")
            @(if(!user.getGroup.getPermissions.contains(EPermission.DISABLE_ANNOTATION)) "annotated")">
        @if(text.getFilename != null && text.getFilename.contains(".")) {
            <embed src="/external/@text.getFilename" width="100%" height="100%" alt="pdf"
            pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
            } else {
            @Html(text.getTextarea)
        }
        </div>
        </div>

    @if(withHighlighter) {
        <div class="textcontent bottom-aligned col-xs-1 no-padding">
            <div class="next-page-indicator" style="display: none;">
                <span class="fa fa-arrow-circle-o-right" style="font-size : 24px;"></span>
            </div>
        </div>
    }

    <div class="@if(withHighlighter){col-xs-10 col-xs-offset-1}else{col-xs-12} hidden-xxs">
        <div class="pull-left" style="padding:5px">
            <button type="button" class="btn btn-primary" id="reload-btn" title="@Messages("text.args.btn.tooltip")" data-placement="bottom" style="display: none">
            @Messages("text.args.btn")
            </button>
        </div>
    </div>