@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Reusable panel to show a spinner in a modal-like faded background
*
* @param id the modal div id
*
* @author Fabian Gilson
*@


@import helper._


@(
    id : String
)


<div class="modal fade" id="@id" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="vertical-align-center">
      <div class="text-center col-md-4 col-md-offset-4">
        <h3><span class="fa fa-2x fa-spinner fa-spin"></span>&nbsp;@Messages("general.dialog.wait")</h3>
      </div>
    </div>
  </div>
</div>
