@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Reusable Facebook, Twitter and other social media share button to share a page
*
* @param contributionHolder the contribution for which the meta data will be added
*
* @author Martin Rouffiange
*@

@import be.webdeb.presentation.web.views.html.main

@import be.webdeb.presentation.web.controllers.entry.ContributionHolder
@(
        contribution : ContributionHolder
)

<div id="fb-root"></div>
<script type="text/javascript">
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/@Messages("media.lang.code")/sdk.js#xfbml=1&version=v3.0';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    $(document).ready(function() {
        $(".twitter-share-button").show();

        $('#media-toggle').off('click');

        $('#media-toggle').popover({
            html: true,
            content: function() {
                return $($(this).data("target")).html();
            }
        });
    });

    function shareByMail(){
        var subject = encodeURIComponent("@Messages("media.mail.subject." + contribution.getType.id())");
        var body = encodeURIComponent("@Messages("media.mail.body." + contribution.getType.id(), contribution.getMediaSharedData.getTitle)");
        window.open("mailto:?subject=" + subject + "&body= " + body + " " + window.location.href, "_self");
    }

</script>

<a id="media-toggle" class="btn btn-primary" data-toggle="popover" data-container="body" data-placement="left" type="button" data-html="true" href="#" data-target="#media-container">
    <i class="fas fa-share-alt"></i> @Messages("general.share")
</a>
<div id="media-container" style="display: none">
    <div class="fb-share-button" data-layout="button_count" style="bottom : 5px;margin-left :5px"></div>
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false"></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <a href="javascript:shareByMail()" style="font-size : 24px">
        <i class="fas fa-envelope-square"></i>
    </a>
</div>