@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Helper template to give an overview of a contextualized argument
*
* @param argument a contextualized argument to be displayed
* @param withLink true if the title is clickable to go to detail page of clicked element
* @param detailed true if the verbose overview is shown (with types, classes and excerpt)
* @param withCreator true if the creator (contributor name) must be shown too
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.controllers.viz.{EVizPane}
@import be.webdeb.presentation.web.controllers.entry.argument.ArgumentContextHolder


@(
        argumentContext: ArgumentContextHolder,
        withLink: Boolean,
        detailed: Boolean,
        withCreator: Boolean
)


<div id="summary_@argumentContext.getId" class="summary filterable-item no-padding-xs" data-filterable="@argumentContext.getFilterable">
    <div id="content_@argumentContext.getId">
        <table class="table-condensed">
            <tr>
                <td class="no-padding-xs"><h4>
                    @if(withLink) {
                        <a class="normal-style primary" href="@be.webdeb.presentation.web.controllers.viz.routes.VizActions.argumentContext(argumentContext.getId, EVizPane.CARTO.id, 0)">
                    }
                    <span class="far fa-comment browse-thumbnail"></span>
                    @if(withLink) { </a> }
                </h4></td>
                <td class="no-padding-xs" colspan="2"><h4>
                    @if(withLink) {
                        <a class="normal-style primary" href="@be.webdeb.presentation.web.controllers.viz.routes.VizActions.argumentContext(argumentContext.getId, EVizPane.CARTO.id, 0)">
                    }
                    @argumentContext.getFullTitle
                    @if(withLink) { </a> }
                </h4></td>
            </tr>
        </table>

        <ul class="fa-ul searched">
            @if(detailed) {
                <li style="font-family: 'gandhi_serifregular', serif;">
                    <i class="fa-li fa fa-folder"></i><span class="forcewrap">@argumentContext.getFolderDescription(false)</span>
                </li>
            }
            @if(argumentContext.getPlaces.size > 0) {
                <li style="font-family: 'gandhi_serifregular', serif;">
                    <i class="fa-li fa fa-globe"></i><span class="forcewrap">@argumentContext.getPlaceDescription</span>
                </li>
            }
        </ul>
    </div>
</div>
