@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Reusable searchbar for a searchForm
*
* @param searchForm the form for the search query
* @param visibility true if the searchbar is for big screen and false for small one
*
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.controllers.browse.SearchForm
@import be.webdeb.presentation.web.views.html.util.{inlineform, hiddenFormField}
@import helper._


@(
        searchForm : Form[SearchForm],
        visibility : Boolean
)

<div class="col-sm-10 col-sm-offset-1 no-padding-xs">
    <form id="search" class="searchbar mainsearchbar @if(visibility){hidden-xs}else{hidden-lg hidden-md hidden-sm}" @if(!visibility){style="flex-grow: 1"}>
        <div>
            <div class="col-xs-12 input-group fake-input">
                @inputText(
                    searchForm("query"),
                    'placeholder -> Messages("browse.search.place"),
                    '_label -> null,
                    'class -> "form-control input-lg custom-search-input",
                    'autocomplete -> "off",
                    'autofocus -> "autofocus"
                )(handler = inlineform, implicitly[Messages])

                <span class="input-group-btn hidden-xs">
                    <button type="button" tabindex="-1" class="btn btn-default btn-lg custom-search-input toggle_filter">
                        <i class="fa fa-filter"></i>
                    </button>
                </span>
                <span class="input-group-btn">
                    <button id="searchbtn" type="button" class="btn btn-default btn-lg custom-search-input search-general-btn"
                    title="@Messages("browse.search.tooltip")" data-placement="bottom">
                        <i class="fa fa-search"></i>
                    </button>

                </span>
            </div>
        </div>
        @hiddenFormField(searchForm("inGroup"))
        @hiddenFormField(searchForm("amongGroup"))
        @hiddenFormField(searchForm("isArgument"))
        @hiddenFormField(searchForm("isArgumentContext"))
        @hiddenFormField(searchForm("isActor"))
        @hiddenFormField(searchForm("isText"))
        @hiddenFormField(searchForm("isDebate"))
        @hiddenFormField(searchForm("isExcerpt"))
        @hiddenFormField(searchForm("isFolder"))
        @hiddenFormField(searchForm("queryString"))
    </form>
</div>