@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Helper template to give an overview of a text
*
* @param text the text details (may not be null, but empty)
* @param withLink true if the title is clickable to go to detail page of clicked element
* @param detailed true if the verbose overview is shown (with types, classes and excerpt) (UNUSED atm)
* @param withCreator true if the creator (contributor name) must be shown too
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.controllers.entry.text.TextHolder
@import be.webdeb.presentation.web.controllers.viz.EVizPane


@(
    text: TextHolder,
    withLink: Boolean,
    detailed: Boolean,
    withCreator: Boolean
)


<div id ="summary_@text.getId" class="summary filterable-item no-padding-xs" data-filterable="@text.getFilterable">
  <div id="content_@text.getId">
    <table class="table-condensed">
      <tr>
        <td class="no-padding-xs"><h4>
          @if(withLink) {
            <a class="normal-style primary" href="@be.webdeb.presentation.web.controllers.viz.routes.VizActions.text(text.getId, EVizPane.CITATION.id, 0)">
          }
          <span class="far fa-file-alt browse-thumbnail"></span>
          @if(withLink) {
            </a>
          }
        </h4></td>
        <td class="no-padding-xs"><h4>
          @if(withLink) {
            <a class="normal-style primary" href="@be.webdeb.presentation.web.controllers.viz.routes.VizActions.text(text.getId, EVizPane.CITATION.id, 0)">
          }
          @text.getTitle
          @if(withLink) {
            </a>
          }
        </h4></td>
      </tr>
    </table>

    <ul class="fa-ul searched">
      <li class="to-clamp"><i class="fa-li fa fa-street-view"></i>
          @Html(text.getAuthors(3).map(a =>
            a.getFullname + (if(a.getFullFunction != "") " <span class=\"text-muted smaller-font\">("
                + a.getFullFunction + ")</span>" else "")).mkString(", "))
      </li>
      @if(detailed) {
        <li style="font-family: 'gandhi_serifregular', serif;">
          <i class="fa-li fa fa-quote-right"></i><span class="forcewrap">@text.getExcerpt(text.getContributor, true)</span>
        </li>
      }
      @if(withCreator) {
        <li><i class="fa-li fa fa-user-circle"></i>@Messages("viz.contributor.creator") @text.getCreatorName</li>
      }
    </ul>
  </div>
</div>
