@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Signup page for new contributors
*
* @param signupForm the form to sign up
* @param user the user profile data
* @param helper helper class to fetch predefined values (countries, genders, types, ...)
* @param map the message map (may contain global errors to display)
*
* @author Fabian Gilson
*@


@import be.webdeb.presentation.web.controllers.account.register.ContributorForm
@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.controllers.entry.ContributionHelper

@import be.webdeb.presentation.web.views.html.main
@import be.webdeb.presentation.web.views.html.account.register.userConditions
@import be.webdeb.presentation.web.views.html.account.settings.contributorFormOnly
@import be.webdeb.presentation.web.views.html.util.{bootstrapInput, funkyCheckbox, message}

@import helper._


@(
    contributorForm: Form[ContributorForm],
    user : WebdebUser,
    helper : ContributionHelper,
    map : java.util.Map[String, String]
)


@implicitFieldConstructor = @{ FieldConstructor(bootstrapInput.render) }

@scripts = {
  <title>@Messages("contributor.new.btn") @Messages("general.metatitle")</title>
  <meta name="description" content="@Messages("contributor.new.title")">

  <script type="text/javascript">
    $(document).ready(function() {
      // manage terms and conditions button
      $('#acceptTerms-div').on('click', function() {
        $('#user-conditions').modal('show');
      });
    });
  </script>
}

@main(user, scripts) {

  @message(map)

  <div class="col-xs-12">
    <h3 class="small-caps text-muted">
      @Messages("contributor.new.title")</h3>
    <hr>
  </div>

  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12" id="signupdiv">
    <div class="well">
      <p class="larger-font instructions">@Html(Messages("contributor.new.intro", be.webdeb.presentation.web.controllers.routes.Application.terms))</p>

      @form(be.webdeb.presentation.web.controllers.account.routes.ContributorActions.save, 'enctype -> "multipart/form-data") {
        <fieldset>
          @contributorFormOnly(contributorForm, user, helper)

          <div class="col-xs-12 no-padding">
            <div class="col-sm-6 padding-field">
            @inputPassword(
              contributorForm("password.password"),
              'placeholder -> Messages("contributor.place.password"),
              '_label -> Messages("contributor.label.password"),
              '_help -> Messages("contributor.help.password"),
              'class -> "form-control",
              'autocomplete -> "off"
            )
            </div>
            <div class="col-sm-6 padding-field">
            @inputPassword(
              contributorForm("password.confirm"),
              'placeholder -> Messages("contributor.place.repassword"),
              '_label -> Messages("contributor.label.repassword"),
              'class -> "form-control",
              'autocomplete -> "off"
            )
            </div>
          </div>

          <div id="acceptTerms-div" class="col-xs-12 no-padding">
            <label style="font-weight: bold">@Messages("contributor.label.terms")</label>
            <div class="col-xs-12 funkyradio">
              @inputText(
                contributorForm("acceptTerms"),
                '_label -> Messages("contributor.accept.terms")
              )(handler = funkyCheckbox, implicitly[Messages])
            </div>
          </div>
          @contributorForm.errors.map { case (key, error) =>
            @if(key.contains("acceptTerms")) {
              <div class="no-help"><div class="label label-danger">@Messages(error(0).message)</div></div>
            }
          }

          <div id="newsletter-div" class="col-xs-12 no-padding">
            <div class="col-xs-12 funkyradio">
            @inputText(
              contributorForm("newsletter"),
              '_label -> Messages("contributor.label.newsletter")
            )(handler = funkyCheckbox, implicitly[Messages])
            </div>
          </div>

          @userConditions()

          <div class="form-actions">
            <button type="submit" class="btn btn-primary">
              @Messages("contributor.new.btn") &nbsp; <span class="fa fa-thumbs-up"></span>
            </button>
          </div>
        </fieldset>
      }
    </div>
  </div>

}
