@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Modal page to select a contribution
*
* @param searchForm (pre-filled) query object to look for a particular contribution type
* @param contributionType
*
* @author Martin Rouffiange
*@


@import be.webdeb.core.api.argument.EArgumentLinkShade

@import be.webdeb.presentation.web.controllers.browse.SearchForm
@import be.webdeb.presentation.web.controllers.entry.argument.ArgumentContextForm
@import be.webdeb.core.api.argument.EArgumentLinkShade
@import be.webdeb.presentation.web.controllers.entry.ContributionHolder
@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.controllers.entry.ContributionHelper

@import be.webdeb.presentation.web.views.html.util.{argumentcontextdiv, bootstrapInput, emptyModalframe, hiddenField, hiddenFormField, inlineform, publishInGroup}

@import helper._

@import be.webdeb.core.api.argument.EArgumentType

@import be.webdeb.core.api.contribution.EContributionType
@(
        searchForm : Form[SearchForm],
        contributionType : EContributionType
)

@implicitFieldConstructor = @{ FieldConstructor(bootstrapInput.render) }

<script type="text/javascript">

        $(document).ready(function() {
            // do post on search button pressed
            $('#search-btn').on('click', function() {
                searchForArgument();
            });

            var query = $('#query');

            addContributionTypeahead('#query', @contributionType.id);

            query.on('typeahead:selected', function () {
                searchForArgument();
            });
            query.keypress(function(e) {
                if (e.which == 13) {
                    searchForArgument();
                }
            });

            var selectbtn = $("#select-btn");
            selectbtn.prop('disabled', true);
            toggleSummaryBoxes('#showargs-content', '.toggleable');

            $('#modal-result-anchor').on('click', '.summary', function (){
                $(document).trigger("contribution-selected",
                        [$(this).attr('id').split("_")[1], @EContributionType.ACTOR.id, $(this).find("#card-name").val()]);
                hideAndDestroyModal('#search-contribution-modal');
            });
            var modal = "#search-contribution-modal";
            // notify creation cancellation
            $(modal).find("#cancel-btn").on('click', function () {
                $(document).trigger("contribution-selection-canceled");
                hideAndDestroyModal(modal);
            });
        });

        function searchForArgument(){
            executeSearch('#search', '#modal-result-anchor', '#modal-pager', 4, '.toggleable', true, true).then(function (pager) {
                postSearchExecuteFilter(pager, "#search-contribution-modal", "#modal-result-anchor");
            });
        }

</script>

@emptyModalframe("search-contribution-modal", true, "form", "", true) {
    <div class="modal-header">
        <h3 class="modal-title small-caps text-muted">@Messages("browse.search.arg.title")</h3>
        <span class="large-font">
            <span class="text-primary serif">Rechercher une contribution</span>
        </span>
    </div>

    <div id="modal-body" class="modal-body row">


        <div class="col-xs-12 col-sm-9 search-content">
            <form id="search">
                @hiddenFormField(searchForm("isArgument"))
                @hiddenFormField(searchForm("isArgumentContext"))
                @hiddenFormField(searchForm("isDebate"))
                @hiddenFormField(searchForm("isExcerpt"))
                @hiddenFormField(searchForm("isText"))
                @hiddenFormField(searchForm("isActor"))
                @hiddenFormField(searchForm("isFolder"))

                <div class="col-xs-12 input-group">
                    <div class="input-group">
                        <span class="input-group-addon">@Messages("browse.search.place.alt")</span>
                        @inputText(
                            searchForm("query"),
                            'placeholder -> Messages("browse.search.place.alt"),
                            '_label -> null,
                            'class -> "form-control",
                            'autocomplete -> "off"
                        )(handler = inlineform, implicitly[Messages])
                        @hiddenFormField(searchForm("idContribution"))
                         @hiddenField("contributionType", "contributionType", contributionType.id)
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="search-btn" title="@Messages("browse.search.tooltip")" data-placement="bottom">
                                <span class="fa fa-search"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>

        <div id="modal-result-anchor" class="col-xs-12 pointable-content large-font search-content"></div>

    </div>

    <div class="modal-footer">
        <div id="search-footer">
            <div class="pull-left">
                <button id="cancel-btn" type="button" class="btn btn-default">@Messages("general.btn.cancel")</button>
            </div>
        </div>
    </div>
}
