@charset "UTF-8";
/*========================================
              VARIABLE COULEURS
========================================*/
/*========================================
              hauteur nav
========================================*/
/*========================================
                BREACKPOINT
========================================*/
/*========================================
                BOX SHADOW
========================================*/
/*========================================
              VARIABLE COULEURS
========================================*/
/*========================================
              hauteur nav
========================================*/
/*========================================
                BREACKPOINT
========================================*/
/*========================================
                BOX SHADOW
========================================*/
@import url(fontawesome-all.min.css);
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper {
  position: relative; }

a {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.12rem;
  line-height: 1.5;
  text-decoration: none; }

a:link {
  outline: none; }

/*========================================
===================MOBILE=================
========================================*/
.footer {
  background: #374955; }

.footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2rem 2rem;
  max-width: 1440px; }
  .footer_content > * {
    margin-bottom: 2rem; }
  .footer_content > div > ul > li {
    text-align: center;
    line-height: 2.5rem; }
  .footer_content > div > ul > li > a {
    font-size: 1rem;
    color: #F8F8F8; }
  .footer_content > div > ul > li > a:hover {
    color: #44ABDD;
    text-decoration: underline; }
  .footer_content .social > a {
    font-size: 3rem;
    color: #F8F8F8; }
  .footer_content .social > a:hover {
    color: #44ABDD; }
  .footer_content .social > a + a {
    margin-left: 1rem; }
  .footer_content .designed-by {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%; }
    .footer_content .designed-by > p {
      margin-bottom: .8rem;
      color: #F8F8F8; }
    .footer_content .designed-by .designed-by_img {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .footer_content .designed-by .designed-by_img > a > img {
        max-width: 160px;
        margin-left: 1rem;
        margin-bottom: 1rem;
        padding: .2rem;
        background: #fff; }
  .footer_content .support-by {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%; }
    .footer_content .support-by > p {
      margin-bottom: .8rem;
      color: #F8F8F8; }
    .footer_content .support-by .support-by_img {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .footer_content .support-by .support-by_img > a > img {
        max-width: 80px;
        margin-left: 1rem;
        margin-bottom: 1rem;
        padding: .2rem;
        background: #fff; }

.copyright_content {
  padding: 2rem 1rem; }
  .copyright_content > * {
    font-size: .9rem;
    text-align: center; }
  .copyright_content > p > a {
    font-size: .9rem; }

/*========================================
===================TABLET=================
========================================*/
@media screen and (min-width: 768px) {
  .footer_content {
    min-height: 36.8vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1rem 1rem 1rem 1rem; }
    .footer_content > * {
      width: 33%;
      margin-bottom: 0; }
    .footer_content > div:first-child, .footer_content div:nth-child(2) {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; }
    .footer_content > div:nth-child(3) {
      -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
      order: 3; }
    .footer_content > div > ul > li {
      text-align: left; }
    .footer_content .designed-by {
      width: 33%;
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2; }
      .footer_content .designed-by .designed-by_img {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start; }
        .footer_content .designed-by .designed-by_img > img {
          margin-right: 1rem; }
    .footer_content .social {
      position: relative;
      top: 1.5vh;
      font-size: 4rem;
      text-align: center;
      -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
      order: 4; }
    .footer_content .support-by {
      width: 33%;
      -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
      order: 5; }
      .footer_content .support-by .support-by_img {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start; }
        .footer_content .support-by .support-by_img > img {
          margin-right: 1rem; } }

/*========================================
===================DESKTOP================
========================================*/
@media screen and (min-width: 1024px) {
  .footer_content {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 4rem; } }

/*========================================
==============REGLE GÉNÉRALES=============
========================================*/
.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

body {
  background: #F8F8F8; }

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 2.4rem; }

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5; }

/*========================================
==================COMPTEUR================
========================================*/
.header {
  background: #374955;
  margin: 0 0 1rem 0;
  padding: 1rem 0; }

.compteur {
  max-width: 1140px;
  margin: 0 auto; }
  .compteur > * {
    text-align: center;
    color: #F8F8F8; }
  .compteur > div > * {
    margin-bottom: .5rem; }
  .compteur > div > i {
    font-size: 2rem; }
  .compteur > div > p:nth-child(2) {
    font-weight: 700;
    margin-bottom: 0; }

/*========================================
====================MAIN==================
========================================*/
.main {
  margin: 0 auto; }

.main_content {
  max-width: 1140px;
  margin: 0 auto; }

#carouselUne {
  min-height: 180px;
  background: #666; }

.une, .contributionPop, .ecranPop {
  margin-bottom: 3rem; }
  .une > h2, .contributionPop > h2, .ecranPop > h2 {
    margin-bottom: 1rem;
    color: #44ABDD; }

.contributionPop_content {
  border-bottom: 1px solid #484848;
  color: #484848;
}

.contributionPop_content:hover {
  color: #44ABDD;
  text-decoration: none; }
  .contributionPop_content:hover .actorPop_img {
    border-color : #44ABDD; }

.icon_left {
  font-size: 2.5rem;
  margin-right: 1rem; }

.icon_right {
  margin-left: .5rem;
  margin-right: .25rem; }

.all {
  margin: 1rem auto 0 auto;
  color: #99BF27; }

.all:hover {
  color: #44ABDD; }

.all::after {
  margin-left: 1rem;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0da"; }

.ecranPop_content {
  text-align: center;
  color: #484848; }

.ecranPop_content:hover {
  color: #44ABDD; }

.ecranPop_content {
  margin-bottom: 1rem; }

.actorPop_img {
  margin-right: 15px;
  border-radius: 200px !important;
  border: 1px solid #374955;
  background-size: cover;
  min-width: 78px;
  width: 78px;
  min-height: 78px;
  height: 78px;
}

.ecranPop_img {
  margin: 0 auto .5rem auto;
  border: 1px solid #374955;
  background-size: cover;
  width: 300px;
  height: 270px; }

.astuce {
  height: 190px;
  margin-bottom: 3rem;
  padding: 1rem;
  background: #374955; }
  .astuce > * {
    margin-left: 15px; }
  .astuce > h2 {
    color: #99BF27;
    margin-bottom: 2rem; }

#carouselAstuce {
  color: #F8F8F8;
  background: #374955; }

#carouselUne{
  background-color: #5aa3b3;
  overflow: hidden;
}

/*================TABLET========================
==================TABLET========================
==================TABLET========================
==================TABLET========================
==================TABLET========================
==================TABLET======================*/
@media screen and (min-width: 768px) {
  /*========================================
    ==================COMPTEUR================
    ========================================*/
  .block {
    display: block; }
  .inline {
    display: inline; }
  /*========================================
    ====================MAIN==================
    ========================================*/
  #carouselUne {
    min-height: 350px;
    height : 4500px;
    max-height : 450px;
}
  .une > h2, .contributionPop > h2, .ecranPop > h2 {
    text-align: left; } }

/*================DESKTOP========================
==================DESKTOP========================
==================DESKTOP========================
==================DESKTOP========================
==================DESKTOP========================
==================DESKTOP======================*/
@media screen and (min-width: 992px) {
  /*========================================
    ====================MAIN==================
    ========================================*/
  #carouselUne {
    min-height: 450px;
    height : 500px;
    max-height : 500px;
  } }
