@charset "UTF-8";
/*========================================
              VARIABLE COULEURS
========================================*/
/*========================================
              hauteur nav
========================================*/
/*========================================
                BREACKPOINT
========================================*/
/*========================================
                BOX SHADOW
========================================*/
/*========================================
              VARIABLE COULEURS
========================================*/
/*========================================
              hauteur nav
========================================*/
/*========================================
                BREACKPOINT
========================================*/
/*========================================
                BOX SHADOW
========================================*/
@import url(animate.css);
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper {
  position: relative; }

.index-page a {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.12rem;
  line-height: 1.5;
  text-decoration: none; }

.index-page a:link {
  outline: none; }

/*========================================
===================MOBILE=================
========================================*/
.footer {
  background: #374955; }

.footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2rem 2rem;
  max-width: 1440px; }
  .footer_content > * {
    margin-bottom: 2rem; }
  .footer_content > div > ul > li {
    text-align: center;
    line-height: 2.5rem; }
  .footer_content > div > ul > li > a {
    font-size: 1rem;
    color: #F8F8F8; }
  .footer_content > div > ul > li > a:hover {
    color: #44ABDD;
    text-decoration: underline; }
  .footer_content .social > a {
    font-size: 3rem;
    color: #F8F8F8; }
  .footer_content .social > a:hover {
    color: #44ABDD; }
  .footer_content .social > a + a {
    margin-left: 1rem; }
  .footer_content .designed-by {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%; }
    .footer_content .designed-by > p {
      margin-bottom: .8rem;
      color: #F8F8F8; }
    .footer_content .designed-by .designed-by_img {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .footer_content .designed-by .designed-by_img > a > img {
        max-width: 160px;
        margin-left: 1rem;
        margin-bottom: 1rem;
        padding: .2rem;
        background: #fff; }
  .footer_content .support-by {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%; }
    .footer_content .support-by > p {
      margin-bottom: .8rem;
      color: #F8F8F8; }
    .footer_content .support-by .support-by_img {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .footer_content .support-by .support-by_img > a > img {
        max-width: 80px;
        margin-left: 1rem;
        margin-bottom: 1rem;
        padding: .2rem;
        background: #fff; }

.copyright_content {
  padding: 2rem 1rem; }
  .copyright_content > * {
    font-size: .9rem;
    text-align: center; }
  .copyright_content > p > a {
    font-size: .9rem; }

/*========================================
===================TABLET=================
========================================*/
@media screen and (min-width: 768px) {
  .footer_content {
    min-height: 36.8vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1rem 1rem 1rem 1rem; }
    .footer_content > * {
      width: 33%;
      margin-bottom: 0; }
    .footer_content > div:first-child, .footer_content div:nth-child(2) {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; }
    .footer_content > div:nth-child(3) {
      -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
      order: 3; }
    .footer_content > div > ul > li {
      text-align: left; }
    .footer_content .designed-by {
      width: 33%;
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2; }
      .footer_content .designed-by .designed-by_img {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start; }
        .footer_content .designed-by .designed-by_img > img {
          margin-right: 1rem; }
    .footer_content .social {
      position: relative;
      top: 1.5vh;
      font-size: 4rem;
      text-align: center;
      -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
      order: 4; }
    .footer_content .support-by {
      width: 33%;
      -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
      order: 5; }
      .footer_content .support-by .support-by_img {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start; }
        .footer_content .support-by .support-by_img > img {
          margin-right: 1rem; } }

/*========================================
===================DESKTOP================
========================================*/
@media screen and (min-width: 1024px) {
  .footer_content {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 4rem; } }

/*========================================
==============REGLE GÉNÉRALES=============
========================================*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 2.8rem; }

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.12rem; }

h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.12rem; }

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.12rem;
  line-height: 1.5; }

a {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.12rem;
  line-height: 1.5;
  text-decoration: none; }

.index-page a:link {
  outline: none; }

.wrapper {
  position: relative; }

.webdeb {
  margin-bottom: 2rem;
  width: 209px; }

.index-page .btn {
  height: 45px;
  border-radius: 10px;
  padding: auto;
  margin: 1rem auto 0 auto;
  background: #99BF27;
  font-variant: small-caps;
  padding-top: 3px;
  color: #F8F8F8; }

.index-page .btn:hover {
  background: #44ABDD;
  color: #F8F8F8; }
  .btn:hover > * {
    color: #F8F8F8; }

/*========================================
=====================NAV==================
========================================*/
.fond {
  position: fixed;
  width: 100%;
  height: 8vh;
  background: #F0EAEA;
  z-index: 1; }

.logo {
  display: none; }

.favicon_img {
  padding: 1rem 0rem 1rem 1rem;
  width: 3rem; }

.second_nav {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  height: 6vh;
  margin: .4rem auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 3; }

.burger_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-right: 1rem;
  font-size: 2.5rem; }

.primary_nav {
  position: relative;
  top: 6vh;
  left: -300vw;
  height: 92vh;
  background: #374955; }

/*========================================
==================HEADER==================
========================================*/
.index-header {
  padding-top: 20px;
  background: #374955; }

.header_content {
  min-height: 92vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  padding: 0 2rem;
  padding-bottom: 3rem; }
  .header_content > div > h4 {
    margin-bottom: 2rem;
    line-height: 1.5rem;
    text-align: center; }

.slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.slogan_img {
  width: 209px;
  margin: 0 auto 1rem auto; }

.slogan_txt {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 2rem;
  text-align: center; }

.color1 {
  color: #99BF27; }

.color2 {
  color: #44ABDD; }

/*========================================
==================COMPTEUR================
========================================*/
.count {
  background: #F8F8F8; }

.count_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1024px;
  margin: 0 auto;
  padding: 2rem 0;
  min-height: 92vh; }
  .count_content > div {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .count_content > div > i {
      margin-bottom: .5rem;
      font-size: 3.5rem; }
    .count_content > div > :nth-child(2) {
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      font-size: 1.8rem; }
    .count_content > div > :nth-child(2), .count_content > div :nth-child(3) {
      text-align: center; }

/*========================================
==================ARTICLE=================
========================================*/
.explore {
  background: #374955; }

.explore_content {
  min-height: 92vh;
  max-width: 1024px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .explore_content > div {
    padding-left: 2rem; }
  .explore_content > div > h2 {
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: #99BF27; }
  .explore_content > div > p {
    color: #F8F8F8; }
  .explore_content > img {
    width: 100%;
    position: relative;
    bottom: -2.2rem; }
  .explore_content > div > a > div {
    width: 125px;
    height: 3rem;
    padding: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    font-variant: small-caps;
    text-align: center;
    color: #F8F8F8;
    background: #99BF27; }

.contribute {
  background: #F8F8F8; }

.contribute_content {
  min-height: 92vh;
  max-width: 1024px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .contribute_content > div {
    padding-left: 2rem;
    padding-top: 1.5rem; }
  .contribute_content > div > h2 {
    margin-bottom: 1rem;
    color: #44ABDD; }
  .contribute_content > div > p {
    color: #484848; }
  .contribute_content > img {
    width: 100%;
    position: relative;
    bottom: 0;
    margin-top: 3%; }
  .contribute_content > div > a > div {
    width: 125px;
    height: 3rem;
    padding: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    font-variant: small-caps;
    text-align: center;
    color: #F8F8F8;
    background: #99BF27; }

.learn {
  background: #374955; }

.learn_content {
  min-height: 92vh;
  max-width: 1024px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .learn_content > div {
    padding-left: 2rem; }
  .learn_content > div > h2 {
    margin-bottom: 1rem;
    color: #99BF27; }
  .learn_content > div > p {
    color: #F8F8F8; }
  .learn_content > img {
    width: 100%;
    position: relative;
    bottom: -2.2rem;
    margin-bottom: 15%; }



/*========================================
==================MAIN====================
========================================*/
.main {
  background: #F8F8F8; }

.main_content {
  min-height: 220vh;
  max-width: 1024px;
  margin: 0 auto;
  padding-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .main_content > div {
    padding: 0 2rem; }
  .main_content > div > h2 {
    margin-bottom: 1rem;
    color: #44ABDD; }
  .main_content > div > h3 {
    color: #484848; }
  .main_content > div > p {
    color: #484848; }
  .main_content .collective {
    position: relative;
    -ms-flex-item-align: end;
    align-self: flex-end;
    top: -4vh;
    width: 70%;
    margin-bottom: -8VH; }

/*========================================
===================SHOW===================
========================================*/
.show-index {
  background: #374955; }

.show-index_content {
  min-height: 92vh;
  max-width: 1024px;
  margin: 0 auto;
  padding: 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .show-index_content > h2 {
    color: #99BF27;
    margin-bottom: 1rem; }
  .show-index_content > span > img {
    margin: 0 auto;
    margin-bottom: 9rem; }
  .show-index_content a {
    color: #99BF27;
    text-decoration: underline; }
  .show-index_content > div > ul > li > a:hover {
    color: #44ABDD; }

/*========================================
=================REJOINDRE================
========================================*/
.join {
  background: #F8F8F8; }

.join_content {
  min-height: 92vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 2rem 0; }

.content {
  margin: 0 auto;
  padding: 0 1rem;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: auto;
  flex-basis: auto; }
  .content > h2 {
    font-size: 2rem;
    text-align: center; }
  .content > p {
    padding-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    color: #484848; }
  .content > a {
    width: 720px;
    margin: 0 auto; }
  .content > a > div {
    height: 3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 1.82rem;
    font-variant: small-caps;
    text-align: center;
    color: #F8F8F8;
    background: #99BF27; }

  .content > div > a > div {
    height: 3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 1.82rem;
    font-variant: small-caps;
    text-align: center;
    color: #F8F8F8;
    background: #99BF27; }

.first > h2 {
  color: #99BF27; }

.first > a {
  margin-bottom: 2rem; }

.second > h2 {
  color: #44ABDD; }

@media screen and (min-width: 768px) {
  /*========================================
====================NAV===================
========================================*/
  .logo {
    display: initial;
    margin-left: 1rem; }
  .logo_img {
    width: 200px; }
  .favicon {
    display: none; }
  /*========================================
==================.index-header==================
========================================*/
  .index-header {
    padding-top: 20px;
    background: #374955; }
  .header_content {
    min-height: 64.4vh;
    -ms-flex-line-pack: center;
    align-content: center; }
    .header_content > div > h4 {
      font-size: 1.5rem;
      line-height: 2rem; }
  .slogan_img {
    width: 300px; }
  .slogan_txt {
    font-size: 2.5rem; }
  .color1, .color2 {
    width: 60%;
    margin: 0 auto; }
  /*========================================
==================COMPTEUR=================
========================================*/
  .count_content {
    min-height: 27.6vh;
    padding: 0;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  /*========================================
==================ARTICLE=================
========================================*/
  .explore_content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 30.66667vh;
    padding: 0 2rem; }
    .explore_content > div {
      padding: 0; }
    .explore_content > img {
      width: 414px;
      bottom: 0;
      left: 2rem;
      margin-top: 2rem; }
  .contribute_content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 30.66667vh;
    padding: 0 2rem; }
    .contribute_content > div {
      padding: 0; }
    .contribute_content > img {
      width: 345px;
      bottom: -2vh;
      margin-top: 0; }
  .learn_content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 30.66667vh;
    padding: 0 2rem; }
    .learn_content > div {
      padding: 0; }
    .learn_content > img {
      width: 345px;
      bottom: -3rem;
      margin-top: 0; }
  /*========================================
===================MAIN===================
========================================*/
  .main_content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: 64.4vh; }
    .main_content > div {
      width: 50%; }
    .main_content > div:nth-child(2) {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      padding-top: 3rem; }
    .main_content > div + div {
      -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
      order: 3; }
    .main_content .collective {
      top: -8vh;
      width: 250px;
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      padding-bottom: 2rem; }
  /*========================================
===================SHOW===================
========================================*/
  .show-index_content {
    min-height: 27.6vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .show-index_content > h2 {
      width: initial;
      margin-right: .8rem;
      margin-bottom: 0; }
    .show-index_content > span > img {
      margin-bottom: 3rem; }
    .show-index_content .first_list, .show-index_content .second_list {
      line-height: 2rem; }
  /*========================================
=================REJOINDRE================
========================================*/
  .join {
    background: #F8F8F8; }
  .join_content {
    min-height: 18.4vh;
    max-width: 1024px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin: 0 auto; }
    .join_content > p {
      color: #484848; }
    .join_content > div > a > div {
      height: 3rem;
      width: 100%;
      padding-top: .2rem;
      margin: 0 auto; }
  .content > a {
    width: initial; }
  .first, .second {
    width: 50%; } }

@media screen and (min-width: 1024px) {
  /*========================================
==================HEADER=================
========================================*/
  .txt {
    width: 50%;
    margin: 0 auto; }
  .color1, .color2 {
    width: 100%; }
  /*========================================
==================ARTICLE=================
========================================*/
  .explore_content {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .explore_content > div {
      width: 60%; }
    .explore_content > img {
      width: 500px;
      top: 2rem; }
  .contribute_content {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1024px;
    margin: 0 auto; }
    .contribute_content > div {
      width: 50%; }
    .contribute_content > img {
      width: 350px;
      margin-top: 0;
      top: 0rem; }
  .learn_content {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .learn_content > div {
      width: 60%; }
    .learn_content > img {
      width: 550px;
      top: -1rem;
      bottom: 0;
      margin-bottom: 0; }
  /*========================================
==================MAIN====================
========================================*/
  .main_content {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .main_content .collective {
      height: 325px;
      top: -7vh !important; }
    .main_content > span {
      width: 100%; }
  /*========================================
=================REJOINDRE================
========================================*/
  .join_content > div > div> a > div {
    width: 60%; }
  .first, .second {
    max-width: 512px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .first > a, .second > a {
      margin: 0; } }

/*# sourceMappingURL=index_styles.css.map */

#nav-search{
  width: 250px;
  height: 40px;
  background-color: white;
}

#main-query-2{
  margin-top: 3px;
}