@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Modal page to select among existing groups for a contributor
*
* @param user the current user profile data
*
* @author Fabian Gilson
*@


@import be.webdeb.presentation.web.controllers.account.settings.ESettingsPane
@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.views.html.util._
@import be.webdeb.core.api.contributor.Group

@(
    user : WebdebUser
)


@emptyModalframe("change-scope-modal", false, "form", "", false) {

  <script type="text/javascript">
    $(document).ready(function() {
      var modal = $('#change-scope-modal');

      let pager_scope_modal = new Pager(modal.find('.pageable'), 7,
              modal.find('#pager-change-scope'), undefined, undefined, false, 1, 1);
      // on ubuntu firefox button seems to be hidden
      modal.find('.notfollowed-group').addClass("filtered");
      pager_scope_modal.reset();
      toggleFollowedGroups(modal, pager_scope_modal);

      // change current scope when button is clicked
      modal.find('.btn-group-choose').on('click', function () {
        changeScope($(this).val()).done(function (data) {
          // reload page content
          document.location.href = data;
        }).fail(function (jqXHR) {
          // show error message in responseText
          showMessage(jqXHR.responseText, $('#msg-div'));
        });
        hideAndDestroyModal(modal);
      });

    });
  </script>

  <div class="modal-header">
    <a href="#" class="close" data-dismiss="modal">&times;</a>
    <h3 class="modal-title small-caps text-muted">
      @Messages("group.change.modal.title")
    </h3>
  </div>

  <div class="modal-body row">
    <div class="col-xs-12">
      <p class="instructions hidden-xs">@Html(Messages("group.change.modal.desc",
          be.webdeb.presentation.web.controllers.account.routes.ContributorActions.settings(user.getId, ESettingsPane.SUBSCRIPTION.id)))
      </p>
      <ul class="list-unstyled pageable col-xs-12 no-padding">
        @for(group <- user.getSubscriptionsSortedByDate) {
          <li class="@if(!group.isFollowed){notfollowed-group}" @if(!group.isFollowed){style="display:none"}>
            <button type="button" class="btn btn-link primary btn-group-choose" value="@group.getGroup.getGroupId">
              @groupChooseButtonSelector(group.getGroup, false, true, false)
              <span class="text-muted small-font">
                @Messages("group.visibility." + group.getGroup.getContributionVisibility.id)
              </span>
            </button>
            @if(group.getGroup.getGroupId == Group.getGroupPublic){<hr class="hr-small">}
          </li>
        }
      </ul>
      <div class="col-xs-12 no-padding-xs">
        <ul id="pager-change-scope" class="pager pagination pagination-sm no-margin"></ul>
        @filterFollowedBtn()
      </div>
    </div>
  </div>
}
