@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Modal frame to add/invite members in group
*
* @param group the group invitation form
* @param helper helper class to fetch predefined values from (countries, genders, types, ...)
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.controllers.account.group.GroupInvitation
@import be.webdeb.presentation.web.views.html.util.{bootstrapInput, emptyModalframe, inlineform, noerrorForm}
@import helper._

@import be.webdeb.presentation.web.controllers.entry.ContributionHelper
@(
    group : Form[GroupInvitation],
    helper : ContributionHelper
)


@implicitFieldConstructor = @{ FieldConstructor(bootstrapInput.render) }


<script type="text/javascript">
  $(document).ready(function() {
    addContributorsTypeahead($('#invitations'));
    addListeners();
  });

  function addListeners() {
    manageAddRmButton('invitations', ['invitation'], "entry.delete.confirm.", null, addContributorTypeahead);

    $('#submit-btn').on('click', function () {
      sendInvitations($('#invitation-form')).done(function (data) {
        $('#manage-groups').empty().append(data);
        addManageGroupListeners();
        // open div of group
        $('#show-members_' + @group("groupId").value).trigger('click');
        hideAndDestroyModal('#inviteMembers');

      }).fail(function (jqXHR) {
        if (jqXHR.status === 400) {
          replaceContent('#invitation-form', jqXHR.responseText, 'form');
          addListeners();
        } else {
          $('#manage-groups').empty().append(jqXHR.responseText);
          addManageGroupListeners();
          hideAndDestroyModal('#inviteMembers');
        }
      });
    });
  }

</script>

@emptyModalframe("inviteMembers", false, "default", "", false) {
  <div class="modal-header">
    <h3 class="modal-title small-caps text-muted">
      @Messages("group.invite.title") <span class="text-primary">@group("name").value</span>
    </h3>
  </div>

  <div class="modal-body row">
    <div id="form-content" class="col-xs-12">
      <form id="invitation-form">
        @inputText(
          group("groupId"),
          '_label -> null,
          'class -> "form-control hidden",
          'autocomplete -> "off"
        )(handler = inlineform, implicitly[Messages])

        <div id="invitations" class="controls">
          <label for="invitations">@Messages("group.invite.members.label")</label>
          @repeatWithIndex(group("invitations"), min = 1) { (invitation, i) =>
            <div id="invitation_@i.toString.concat("_group")" class="entry input-group padding-group no-padding">
              <div class="col-md-3 padding-field">
                @select(
                  group(invitation.name.concat(".roleId")),
                  options(helper.getAllContributorRoles(lang().code())),
                  '_default -> Messages("group.invite.members.role.select"),
                  '_label -> null,
                  'class -> "form-control",
                  'autocomplete -> "off"
                )(handler = noerrorForm, implicitly[Messages])
              </div>
              <div class="col-md-9 padding-field">
                @inputText(
                  group(invitation.name.concat(".invitation")),
                  '_placeholder -> Messages("group.invite.members.place"),
                  '_label -> null,
                  'class -> "form-control",
                  'autocomplete -> "off"
                )(handler = noerrorForm, implicitly[Messages])
              </div>
              <span class="input-group-btn">
                <button class="btn btn-default btn-sm btn-add" type="button"><span class="fa fa-plus"></span></button>
                <button class="btn btn-default btn-sm btn-remove" type="button"><span class="fa fa-minus"></span></button>
              </span>
            </div>
            @* must handle error message by hand for inlineforms *@
            @group.errors.map { case (key, error) =>
              @if(key.startsWith(invitation.name) && error(0).message != "") {
                <div class="no-help"><div class="label label-danger">@Messages(error(0).message)</div></div>
              }
            }
          }
        </div>
      </form>
    </div>
  </div>

  <div class="modal-footer">
    <div class="col-xs-12">
      <button id="cancel-btn" type="button" class="btn btn-default" data-dismiss="modal">@Messages("general.btn.cancel")</button>
      <button id="submit-btn" type="button" class="btn btn-primary" title="@Messages("group.invite.btn.title")">
        @Messages("group.invite.btn")
      </button>
    </div>
  </div>
}
