@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Modal frame to manage contributions to explore
*
* @param contributionsToExplore a contributions to explore forms
*
* @author Martin Rouffiange
*@

@import be.webdeb.presentation.web.controllers.account.group.{ContributionsToExploreForm, GroupMailForm}
@import be.webdeb.presentation.web.views.html.util.{bootstrapInput, emptyModalframe2, helpbubble, hiddenFormField, inlineform, noerrorForm}
@import helper._
@import be.webdeb.core.api.contribution.EContributionType
@(
        contributionsToExploreForm : Form[ContributionsToExploreForm],
        contributionType : EContributionType
)


@implicitFieldConstructor = @{ FieldConstructor(bootstrapInput.render) }


<script type="text/javascript">
        $(document).ready(function() {
            let modal = $('#manageContributionsToExplore');

            eventsHandler(modal);
            submitForm(modal)
        });

        function eventsHandler(modal){
            let contributions = modal.find('#contributions');
            contributions.find('input[name$="contributionName"]').each(function(){
                addContributionTypeahead($(this), @contributionType.id);
            });

            manageAddRmButton(contributions, ['contributionName'], "entry.delete.confirm.", null, addContributionTypeahead, @contributionType.id);
        }

        function submitForm(modal){
            // handle submit button
            modal.find('#submit-btn').on('click', function () {
                sendContributionsToExplore(@contributionType.id, modal.find('form')).done(function (data) {
                    hideAndDestroyModal(modal);
                    slideDefaultSuccessMessage();
                }).fail(function (jqXHR) {
                    switch (jqXHR.status) {

                        case 400:
                            // form has errors => clear actor modal and rebuild it with errors
                            replaceContent('#contributions-form', jqXHR.responseText, 'form');
                            eventsHandler();
                            fadeMessage();
                            break;

                        default:
                            // any other (probably a crash)
                            hideAndDestroyModal(modal);
                            slideDefaultErrorMessage();
                    }
                });
            });
        }
</script>

@emptyModalframe2("manageContributionsToExplore", false, "form", "", false) {
    <div class="modal-header">
        <h3 id="manageContributionsToExplore_title" class="modal-title small-caps text-muted">
            @if(!contributionType.isMajorContributionType){
                @Messages("browse.search.topic")
            }else{
                @Messages("browse.search." + contributionType.name.toLowerCase)
            }
        </h3>
    </div>

    <div class="modal-body">
        <div class="container-fluid">
            <div id="form-content" class="row">
                <form id="contributions-form" class="col-12">
                    <fieldset>
                        @hiddenFormField(contributionsToExploreForm("groupId"))
                        <div class="controls col-12 p-0" id="contributions">
                        @repeatWithIndex(contributionsToExploreForm("contributions"), min = 1) { (field,i) =>
                            <div id="contributions_@i" class="entry input-group input-group-border padding-group d-flex align-items-end">
                                @hiddenFormField(contributionsToExploreForm(field.name.concat(".contributionToExploreId")))

                                <div class="flex-grow-1 padding-field input-typeahead">
                                    @inputText(
                                    contributionsToExploreForm(field.name.concat(".contributionName")),
                                    '_label -> Messages("general.filter.ctype." + contributionType.id),
                                    'class -> "form-control",
                                    'autocomplete -> "off"
                                    )(handler = noerrorForm, implicitly[Messages])
                                    @hiddenFormField(contributionsToExploreForm(field.name.concat(".id")))
                                </div>

                                <div class="flex-grow-2 padding-field">
                                    @inputText(
                                    contributionsToExploreForm(field.name.concat(".order")),
                                    '_label -> Messages("explore.cte.order.title"),
                                    'class -> "form-control",
                                    'type -> "number",
                                    'min -> "1",
                                    'max -> "99",
                                    'autocomplete -> "off"
                                    )(handler = noerrorForm, implicitly[Messages])
                                </div>

                                <span class="input-group-btn bottom">
                                    <button class="btn btn-default btn-sm btn-add" type="button"><span class="fa fa-plus"></span></button>
                                    <button class="btn btn-default btn-sm btn-remove" type="button"><span class="fa fa-minus"></span></button>
                                </span>
                            </div>
                        }
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="col-xs-12">
            <button id="cancel-btn" type="button" class="btn btn-default" data-dismiss="modal">@Messages("general.btn.cancel")</button>
            <button id="submit-btn" type="button" class="btn btn-primary">@Messages("general.btn.save")</button>
        </div>
    </div>
}
