@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Helper template to merge contributions from a group that have been validated
*
* @param user the current user profile
* @param group the cureent group for which given list of contribution will be marked
* @param holders the list of contribution that may be merged to the public database
* @param mergeForm form that will receive the list of contribution ids to send to the public website
*
* @author Fabian Gilson
*@



@import be.webdeb.core.api.contributor.Group
@import be.webdeb.core.api.contribution.EContributionType

@import be.webdeb.presentation.web.controllers.account.group.ContributionMergeForm
@import be.webdeb.presentation.web.controllers.account.settings.ESettingsPane
@import be.webdeb.presentation.web.controllers.entry.ContributionHolder
@import be.webdeb.presentation.web.controllers.entry.argument.ArgumentHolder
@import be.webdeb.presentation.web.controllers.entry.actor.ActorHolder
@import be.webdeb.presentation.web.controllers.entry.text.TextHolder
@import be.webdeb.presentation.web.controllers.permission.WebdebUser

@import be.webdeb.presentation.web.views.html.browse.actorOverview
@import be.webdeb.presentation.web.views.html.browse.textOverview
@import be.webdeb.presentation.web.views.html.main
@import be.webdeb.presentation.web.views.html.util._

@import helper._

@import be.webdeb.presentation.web.views.html.browse.argumentContextOverview
@import be.webdeb.presentation.web.controllers.entry.argument.ArgumentContextHolder
@import be.webdeb.presentation.web.views.html.browse.excerptOverview
@import be.webdeb.presentation.web.controllers.entry.excerpt.ExcerptHolder
@import be.webdeb.presentation.web.views.html.browse.debateOverview
@import be.webdeb.presentation.web.controllers.entry.debate.DebateHolder
@(
    user : WebdebUser,
    group : Group,
    holders : java.util.List[ContributionHolder],
    mergeForm : Form[ContributionMergeForm],
    map : java.util.Map[String, String]
)


@implicitFieldConstructor = @{ FieldConstructor(bootstrapInput.render) }


@scripts = {
  <title>@Messages("title." + play.Configuration.root().getString("server.type"))</title>

  <script type="text/javascript">
          $(document).ready(function () {
            // list of contribution to validate
            // new Pager('#all-actors', 5, '#actor-pager');
            // new Pager('#all-texts', 5, '#text-pager');
            var checkall_input = $("#checkall");
            checkall_input.on("click", function(){
              var checkBoxes = $('.merge-box');
              checkBoxes.prop("checked", $(this).prop("checked"));
            });
          });
  </script>
}

@hiddenFields(h : ContributionHolder) = {
  <div class="col-sm-4 col-xs-12 funkyradio" style="padding-top: 50px">
  @if(h.getCreatorName != "") {
    @hiddenField("merge_".concat(holders.indexOf(h).toString).concat("_id"),
      "merge[".concat(holders.indexOf(h).toString).concat("].id"), h.getId)
    @hiddenField("merge_".concat(holders.indexOf(h).toString).concat("_type"),
      "merge[".concat(holders.indexOf(h).toString).concat("].type"), h.getType.id)

    <div class="funkyradio-primary">
      <input id="merge_@holders.indexOf(h).toString.concat("_toMerge")" name="merge[@holders.indexOf(h).toString.concat("].toMerge")" value="true" type="checkbox" checked="checked" class="merge-box">
      <label for="merge_@holders.indexOf(h).toString.concat("_toMerge")">@Messages("group.merge.sendto")</label>
    </div>
  }
  </div>
}

@main(user, scripts) {

  <div id="msg-div">
    @message(map)
    @message(flash)
  </div>

  @breadcrumb(scala.collection.immutable.List(
    Tuple2("settings", be.webdeb.presentation.web.controllers.account.routes.ContributorActions.settings(
      user.getId, ESettingsPane.GROUP_MGMT.id)),
    Tuple2("group.merge", "#")))


  <div class="row">
    <div class="col-xs-12">
      <h3 class="small-caps text-muted">@Messages("group.merge.title", group.getGroupName)</h3>
      <hr>
    </div>


    <div class="col-xs-12">
      <p class="instructions">@Html(Messages("group.merge.desc"))</p>
      @if(holders.isEmpty) {
        @noResultMessage(null)
        <div class="form-actions col-xs-12" style="padding-top: 10px">
          <div class="pull-left">
            <a href="@be.webdeb.presentation.web.controllers.account.routes.ContributorActions.settings(user.getId, ESettingsPane.GROUP_MGMT.id)"
            class="btn btn-default">
            @Messages("group.mark.back")
            </a>
          </div>
        </div>
      } else {
        @form(be.webdeb.presentation.web.controllers.account.group.routes.GroupActions.saveContributionsMerge(group.getGroupId)) {
          <fieldset>
            @if(holders.exists(h => h.getType == EContributionType.ACTOR)) {
              <div class="col-xs-12">
                <h4 class="text-muted">
                  <span class="fa fa-street-view"></span>&nbsp;@Messages("viz.contribution.actor")
                </h4>
                <div id="all-actors" class="col-xs-12 left-border pageable">
                @for(h <- holders.filter(h => h.getType == EContributionType.ACTOR)) {
                  <div class="col-xs-12 no-padding manual-bottom-border">
                    <div class="col-sm-8 col-xs-12 no-summary-border">
                    @actorOverview(h.asInstanceOf[ActorHolder], true, true, false)
                    </div>
                    @hiddenFields(h)
                  </div>
                }
                </div>
                <div id="actor-pagerdiv" class="pull-right">
                  <ul id="actor-pager" class="pager pagination pagination-sm no-margin"></ul>
                </div>
              </div>
            }

            @if(holders.exists(h => h.getType == EContributionType.TEXT)) {
              <div class="col-xs-12">
                <h4 class="text-muted">
                  <span class="fa fa-file-text"></span>&nbsp;@Messages("viz.contribution.text")
                </h4>
                <div id="all-texts" class="col-xs-12 left-border pageable">
                @for(h <- holders.filter(h => h.getType == EContributionType.TEXT)) {
                  <div class="col-xs-12 no-padding manual-bottom-border">
                    @* hidden texts (empty title) must have special tag *@
                    @if(h.asInstanceOf[TextHolder].getTitle.isEmpty) {
                      @for(a <- holders.filter(a => a.getType.id() == EContributionType.EXCERPT.id
                              && a.asInstanceOf[ExcerptHolder].getTextId == h.getId)) {
                        <div class="col-xs-12 no-padding manual-bottom-border">
                          <div class="col-sm-8 col-xs-12 no-summary-border">
                          @excerptOverview(a.asInstanceOf[ExcerptHolder], true, false, true)
                          </div>
                          @hiddenFields(a)
                        </div>
                      }
                    } else {
                      <div class="col-sm-8 col-xs-12 no-summary-border @(if(h.getCreator == null) "force-muted")">
                      @textOverview(h.asInstanceOf[TextHolder], true, false, h.getCreator != null)
                      </div>
                      @if(h.getCreator != null) {
                        @hiddenFields(h)
                      }

                      @if(holders.exists(a => a.getType.id() == EContributionType.EXCERPT.id
                              && a.asInstanceOf[ExcerptHolder].getTextId == h.getId)) {
                        <div class="col-xs-12" style="padding-left: 40px">
                          <button id="show-text-excerpt_@h.getId" type="button" class="btn btn-link secondary"
                          data-toggle="collapse" data-target=".showall-text-excerpts_@h.getId">
                            @Messages("viz.contribution.excerpts") &nbsp; <span class="fa fa-chevron-down"></span>
                          </button>

                          <div class="collapse showall-text-excerpts_@h.getId">
                          @for(a <- holders.filter(a => a.getType.id() == EContributionType.EXCERPT.id
                                  && a.asInstanceOf[ExcerptHolder].getTextId == h.getId)) {
                            <div class="col-xs-12 no-padding manual-bottom-border">
                              <div class="col-sm-8 col-xs-12 no-summary-border">
                              @excerptOverview(a.asInstanceOf[ExcerptHolder], true, false, true)
                              </div>
                              @hiddenFields(a)
                            </div>
                          }
                          </div>
                        </div>
                      }

                      @if(holders.exists(a => a.getType.id() == EContributionType.ARGUMENT_CONTEXTUALIZED.id
                              && a.asInstanceOf[ArgumentContextHolder].getContextId == h.getId)) {
                        <div class="col-xs-12" style="padding-left: 40px">
                          <button id="show-text-arguments_@h.getId" type="button" class="btn btn-link secondary"
                          data-toggle="collapse" data-target=".showall-text-arguments_@h.getId">
                            @Messages("viz.contribution.arguments") &nbsp; <span class="fa fa-chevron-down"></span>
                          </button>

                          <div class="collapse showall-text-arguments_@h.getId">
                          @for(a <- holders.filter(a => a.getType.id() == EContributionType.ARGUMENT_CONTEXTUALIZED.id
                                  && a.asInstanceOf[ArgumentContextHolder].getContextId == h.getId)) {
                            <div class="col-xs-12 no-padding manual-bottom-border">
                              <div class="col-sm-8 col-xs-12 no-summary-border">
                              @argumentContextOverview(a.asInstanceOf[ArgumentContextHolder], true, false, true)
                              </div>
                              @hiddenFields(a)
                            </div>
                          }
                          </div>
                        </div>
                      }
                    }
                  </div>
                }
                </div>
                <div id="text-pagerdiv" class="pull-right">
                  <ul id="text-pager" class="pager pagination pagination-sm no-margin"></ul>
                </div>
              </div>
            }

            @if(holders.exists(h => h.getType == EContributionType.DEBATE)) {
              <div class="col-xs-12">
                <h4 class="text-muted">
                  <span class="fa fa-comments-o"></span>&nbsp;@Messages("viz.contribution.debate")
                </h4>
                <div id="all-debates" class="col-xs-12 left-border pageable">
                @for(h <- holders.filter(h => h.getType == EContributionType.DEBATE)) {
                  <div class="col-xs-12 no-padding manual-bottom-border">

                      <div class="col-sm-8 col-xs-12 no-summary-border @(if(h.getCreator == null) "force-muted")">
                      @debateOverview(h.asInstanceOf[DebateHolder], true, false, h.getCreator != null)
                      </div>
                      @if(h.getCreator != null) {
                        @hiddenFields(h)
                      }

                      @if(holders.exists(a => a.getType.id() == EContributionType.ARGUMENT_CONTEXTUALIZED.id
                              && a.asInstanceOf[ArgumentContextHolder].getContextId == h.getId)) {
                        <div class="col-xs-12" style="padding-left: 40px">
                          <button id="show-debate-arguments_@h.getId" type="button" class="btn btn-link secondary"
                          data-toggle="collapse" data-target=".showall-debate-arguments_@h.getId">
                            @Messages("viz.contribution.debate.arguments") &nbsp; <span class="fa fa-chevron-down"></span>
                          </button>

                          <div class="collapse showall-debate-arguments_@h.getId">
                          @for(a <- holders.filter(a => a.getType.id() == EContributionType.ARGUMENT_CONTEXTUALIZED.id
                                  && a.asInstanceOf[ArgumentContextHolder].getContextId == h.getId)) {
                            <div class="col-xs-12 no-padding manual-bottom-border">
                              <div class="col-sm-8 col-xs-12 no-summary-border">
                              @argumentContextOverview(a.asInstanceOf[ArgumentContextHolder], true, false, true)
                              </div>
                              @hiddenFields(a)
                            </div>
                          }
                          </div>
                        </div>
                      }
                    }
                  </div>
                }
                </div>
                <div id="text-pagerdiv" class="pull-right">
                  <ul id="text-pager" class="pager pagination pagination-sm no-margin"></ul>
                </div>
              </div>
          </fieldset>

          <div class="form-actions col-xs-12" style="padding-top: 10px">
            <div class="col-sm-8 col-xs-12 ">
              <a href="@be.webdeb.presentation.web.controllers.account.routes.ContributorActions.settings(user.getId, ESettingsPane.GROUP_MGMT.id)"
              class="btn btn-default">
              @Messages("group.mark.back")
              </a>
              <button type="submit" class="btn btn-primary" id="submit">
              @Messages("group.merge.submit")
              </button>
            </div>
            <div class="col-sm-4 col-xs-12 funkyradio">
              <div class="funkyradio-primary">
                <input id="checkall" name="checkall" value="true" type="checkbox" checked="checked">
                <label for="checkall">@Messages("group.merge.checkall")</label>
              </div>
            </div>
          </div>
        }
      }

      @scrollTopWrapper()
    </div>
  </div>
}