@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Modal page to display the contributions activity for the given project
*
* @param projectForm the project
*
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.controllers.account.admin.project.ProjectForm
@import be.webdeb.presentation.web.views.html.util.{emptyModalframe, noerrorForm, bootstrapInput, helpbubble, hiddenField, hiddenFormField, inlineform, message}
@import helper._

@import be.webdeb.presentation.web.controllers.account.group.GroupForm
@import be.webdeb.presentation.web.controllers.account.admin.project.ProjectSubgroupForm
@(
        projectForm: ProjectForm
)

@projectActivityByGroup(stats : java.util.Map[GroupForm, java.util.Map[Integer, Long]]) = {
    @if(stats.isEmpty){
        <p>null</p>
    }else {
        @for((k, v) <- stats) {
            @if(!v.isEmpty) {
                <p><b>@k.getName (id : @k.getId)</b></p>
                <p>@projectActivityByItem(v)</p>
                <hr class="hr-small">
            }
        }
    }
}

@projectActivityBySubgroup(stats : java.util.Map[ProjectSubgroupForm, java.util.Map[Integer, Long]]) = {
    @if(stats.isEmpty){
        <p>null</p>
    }else {
        @for((k, v) <- stats) {
            @if(!v.isEmpty) {
                <p><b>@k.getName (@k.getContributorExample(), id : @k.getId)</b></p>
                <p>@projectActivityByItem(v)</p>
                <hr class="hr-small">
            }
        }
    }
}

@projectActivityByItem(stats : java.util.Map[Integer, Long]) = {
    @for((k, v) <- stats){
        <span>@v (@Messages("general.filter.ctype." + k))</span>
    }
}

@emptyModalframe("see-project-activity-modal", false, "form", "", false) {

    <div class="modal-header">
        <h3 class="modal-title small-caps text-muted">
            Activité
        </h3>
    </div>

    <div class="modal-body row">
        <div class="col-xs-12">
            <p>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-primary project-activity-changetime active" data-activity-time="-1">
                        <input type="radio" name="options" autocomplete="off">
                        Depuis le début du projet
                    </label>
                    <label class="btn btn-primary project-activity-changetime" data-activity-time="7">
                        <input type="radio" name="options" autocomplete="off">
                        7 derniers jours
                    </label>
                    <label class="btn btn-primary project-activity-changetime" data-activity-time="1">
                        <input type="radio" name="options" autocomplete="off">
                        Activité du jour
                    </label>
                </div>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-primary project-activity-changepov active" data-activity-pov="0">
                        <input type="radio" name="options" autocomplete="off">
                        Voir par groupe
                    </label>
                    <label class="btn btn-primary project-activity-changepov" data-activity-pov="1">
                        <input type="radio" name="options" autocomplete="off">
                        Voir par sous-groupe de projet (classe)
                    </label>
                </div>
            </p>
            <div id="project-activity-pov-0" class="project-activity-pov">
                <div class="project-activity project-activity--1">
                    @projectActivityByGroup(projectForm.getProjectContributionReportByContributorGroupFromProjectBegin)
                </div>
                <div class="project-activity project-activity-7" style="display: none;">
                    @projectActivityByGroup(projectForm.getProjectContributionReportByContributorGroupFrom7days)
                </div>
                <div class="project-activity project-activity-1" style="display: none;">
                    @projectActivityByGroup(projectForm.getProjectContributionReportByContributorGroupOfTheDay)
                </div>
            </div>
            <div id="project-activity-pov-1" class="project-activity-pov" style="display: none;">
                <div class="project-activity project-activity--1">
                    @projectActivityBySubgroup(projectForm.getProjectContributionReportByProjectSubgroupFromProjectBegin)
                </div>
                <div class="project-activity project-activity-7" style="display: none;">
                    @projectActivityBySubgroup(projectForm.getProjectContributionReportByProjectSubgroupFrom7days)
                </div>
                <div class="project-activity project-activity-1" style="display: none;">
                    @projectActivityBySubgroup(projectForm.getProjectContributionReportByProjectSubgroupOfTheDay)
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="pull-left">
            <button id="cancel-btn" type="button" class="btn btn-default" data-dismiss="modal">@Messages("general.btn.cancel")</button>
        </div>
    </div>
}
